﻿

    .heading {
        font-weight: bold;
        font-size:larger;
        height: 42px;
        background-color: blanchedalmond;
        text-align: center;
    }

    .headingExtra {
        font-weight: bold;
        height: 30px;
        background-color: cornsilk;
        text-align: center;
    }

    .headingJobLevel {
        width:10%;
        vertical-align:middle;
    }

    .headingJobTitle {
         width:30%; 
         vertical-align:middle;
    }

    .headingJobDays {
        width:15%; 
        vertical-align:middle; 
        text-align:center;
    }

    .headingJobHours {
        width:15%; 
        vertical-align:middle;
    }

    .headingJobTasks{
        width:30%;
        vertical-align:middle;
    }

    .tableRow {
        background-color: whitesmoke;
    }

    .tableRowAlt {
    }

    .faintWeekdays{
        color:lightgrey;
        text-align:center;
    }

    .activeWeekday {
        color:green;
    }

    .captiontext {
        text-align:left;
        color:black;
    }
