﻿@model WebSite.ViewModels.Formula1.RacesViewModel

@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Races @Model.season</h2>

@if (Model.ListOf.Any())
{
    <div class="row" style="margin: 0px auto;">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <table class="table table-striped" style="font-size:small;">
                <thead style="background-color:darkgray">
                    <tr>
                        <td>
                            Round
                        </td>
                        <td>
                            Race
                        </td>
                        <td>
                            Venue
                        </td>
                        <td>
                            Date
                        </td>
                        <td>
                            Time
                        </td>
                        <td>
                            Result
                        </td>
                    </tr>
                </thead>

                @foreach (var item in Model.ListOf)
                {
                    <tr id="Race" data-RaceId="@item.round">
                        <td>
                            @Html.DisplayFor(modelItem => item.round)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.raceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.time)
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
}