﻿
@{
    ViewBag.Title = "ASPNET";
}

<script>
    
    // single global object (Namespace Model)

    var WebSitejs = {
    
        // Methods
        MVCOnHover: function () {
            $("#WrapperMVCOption").removeClass('hidden').addClass('show');
        }
    }

    $(document).ready(function () {

        $('#MVCOption').on('click', function () {
            WebSitejs.MVCOnHover();
        });

        $('#MVCOption').on('hover', function () {
            WebSitejs.MVCOnHover();
        });


    });


</script>


<h2>ASP.NET</h2>

<div class="row">
    <div id="WebFormsOption" class="col-md-3 col-sm-12 col-xs-12" 
         style="background-color:aquamarine; text-align:center;font-size: 200%; margin:20px;">
        Web Forms
    </div>
    <div id="MVCOption" class="col-md-3 col-sm-12 col-xs-12"
         style="background-color:aquamarine; text-align:center;font-size: 200%; margin:20px;">
        MVC
    </div>
</div>

<div id="WrapperWebFormsOption" class="hidden">

</div>

<div id="WrapperMVCOption" class="hidden">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            MVC - Controllers, Actions and ActionResults
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            MVC - global.asax
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            MVC - Bundle Config
        </div>
    </div>

</div>

<div id="WrapperControllers">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>MVC - Controllers, Action and ActionResults</h4>
            <p>
                <h6>Controller</h6>
                <br />In ASP.NET MVC, a Controller is used to define and group a set of actions. An action (or action method) is a method on a controller that handles incoming requests. Controllers provide a logical means of grouping similar actions together, allowing common sets of rules, cross cutting concerns (e.g. routing, caching, authorization) to be applied collectively. Incoming requests are mapped to actions through routing.
                <br />
                <br />In ASP.NET Core MVC, a controller can be any instantiable class that ends in “Controller” or inherits from a class that ends with “Controller”. Controllers should follow the Explicit Dependencies Principle and request any dependencies their actions require through their constructor using dependency injection.
                <br />
                <br />By convention, controller classes:
                <br />
                <br />  Are located in the root-level “Controllers” folder
                Inherit from Microsoft.AspNetCore.Mvc.Controller
                These two conventions are not required.
            </p>
            <p><h5>Tip</h5><br />The Controller is a UI level abstraction. Its responsibility is to ensure incoming request data is valid and to choose which view (or result for an API) should be returned. In well-factored apps it will not directly include data access or business logic, but instead will delegate to services handling these responsibilities.</p>
            <p></p>
            <p></p>
            <p>
                <h6>ActionResults</h6><br />
                The following are the built-in action result types and the action helper methods that return them.
            </p>
            <div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="Wrapperglobalasax">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>MVC - Global asax</h4>
            <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pre class="prettyprint" style="width:75%;">
        </pre>
        </div>
    </div>

</div>

<div id="WrapperBundleConfig">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>MVC - Bundle Config</h4>
            <p>Bundling and minification are two techniques you can use in ASP.NET 4.5 to improve request load time.  Bundling and minification improves load time by reducing the number of requests to the server and reducing the size of requested assets (such as CSS and JavaScript.)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pre class="prettyprint" style="width:75%;">
    //BundleConfig.cs
    public class BundleConfig
    {
        public static void RegisterBundles(BundleCollection bundles)
        {
            bundles.Add(new ScriptBundle("~/bundles/jquery").Include(
                        "~/Scripts/jquery-{version}.js"));
            bundles.Add(new ScriptBundle("~/bundles/jqueryval").Include(
                        "~/Scripts/jquery.validate*"));
            bundles.Add(new ScriptBundle("~/bundles/bootstrap").Include(
                      "~/Scripts/bootstrap.js",
                      "~/Scripts/respond.js"));
            bundles.Add(new StyleBundle("~/Content/css").Include(
                      "~/Content/bootstrap.css",
                      "~/Content/site.css"));
        }
    }
        </pre>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <pre class="prettyprint" style="width:75%;">
            <code>
        _Layout.cshtml
        Add to layout file in head section for site wide inclusion.
        @@Styles.Render("~/Content/css")
        @@Scripts.Render("~/bundles/jquery")
        @@Scripts.Render("~/bundles/bootstrap")
        </code>
        </pre>
        </div>
    </div>

</div>
