﻿
<!-- cv values -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table-striped table">
        <thead style="font-weight:bold; margin:2px; padding:2px; background-color:lightblue;">
            <tr>
                <td style="width:30%">CV Name</td>
                <td style="width:10%">CV #</td>
                <td style="width:20%">Reqd</td>
                <td style="width:40%">Comment</td>
            </tr>
        </thead>
        <tbody>
            <tr id="LocoRow-A">
                <td data-tooltip="The range of addresses available on a DCC system.">Primary Address</td>
                <td>1</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="Controls the minimum voltage applied to the motor on speed step 1">Vstart</td>
                <td>2</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Acceleration Rate</td>
                <td>3</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Deceleration Rate</td>
                <td>4</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="Controls the voltage applied to the motor at maximum throttle.">VHigh</td>
                <td>5</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="Controls the voltage applied to the motor at the mid point of the throttle setting.">VMid</td>
                <td>6</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Manufacturer Version No.</td>
                <td>7</td>
                <td>Yes</td>
                <td>Manufacturer defined version information</td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Manufacturer ID.</td>
                <td>8</td>
                <td>Yes</td>
                <td>Value assigned by NMRA</td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Total PWM Period</td>
                <td>9</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">EMF Feedback Cut out</td>
                <td>10</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Decoder Lock</td>
                <td>15</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Decoder Lock</td>
                <td>16</td>
                <td>Yes</td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Consist Adrress</td>
                <td>19</td>
                <td></td>
                <td></td>
            </tr>

            <tr id="LocoRow-A">
                <td data-tooltip="">Decoder Configurations</td>
                <td>29</td>
                <td>Yes</td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>
