﻿
@model WebSite.ViewModels.DccDecoderVM

<h4>@Model.title</h4>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12" >
        <div class="panel panel-default">
            <div class="panel-heading">Technical Specification</div>
            <div class="panel-body">
                <table style="width:100%">
                    <tr style="padding:10px; width:60%;">
                        <td>Number of Functions</td>
                        <td>@Model.decoderDetails.numberOfFunctions</td>
                    </tr>
                    <tr style="padding:10px; width:60%;">
                        <td>Maximum Current</td>
                        <td>1 A</td>
                    </tr>
                    <tr>
                        <td>Continous Total Current</td>
                        <td>500mA</td>
                    </tr>
                    <tr>
                        <td>Maximum Motor Current</td>
                        <td>1 A</td>
                    </tr>
                    <tr>
                        <td>Function(s) output Current</td>
                        <td>100mA each</td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td>Address range</td>
                        <td>CV 1 1-127<br />CV 17-18 1-9999</td>
                    </tr>
                    <tr>
                        <td>Speed steps (selectable)</td>
                        <td>14,28,128</td>
                    </tr>
                    <tr>
                        <td>Form factor</td>
                        <td>@Model.decoderDetails.formFactor</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" >
        <div class="panel panel-default">
            <div class="panel-heading p">Features</div>
            <div class="panel-body">
                <p style="font:bold">
                Reset to factory defaults, Write 8 to CV 8.<br />
                Can be programmed in Operating Mode, Register
                CV Mode, Paged CV Mode and Direct CV Mode.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Supported CVs</div>
            <div class="panel-body">
                <!-- loop in razor, cv details for decoder -->
                <table style="width:100%">
                    @{
                        foreach (var detail in Model.cvDetails)
                        {
                            <tr>
                                <td>@detail.CV </td>
                                <td>@detail.Description</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>