﻿
@{
    ViewBag.Title = "DecoderDescription";
}

<link href="~/Scripts/jquery.qtip.css" rel="stylesheet" />
<script src="~/Scripts/jquery.qtip.js"></script>

<script>

    $(function () { 
    
        var qtip = $('[data-tooltip!=""]').qtip({
            content: { attr: 'data-tooltip' },
            style: { classes: 'qtip-bootstrap' },
            position: { my:'left center'}
        });
    })

</script>

<div class="container">

    @section Header {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>DCC Decoder</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-right">
                    @Html.ActionLink("Electrofrog", "Electrofrog", "Dcc", new { area = "Trains" }, new { @class = "btn btn-info btn-md" })
                    @Html.ActionLink("Stay A Live", "StayALive", "Dcc", new { area = "Trains" }, new { @class = "btn btn-info btn-md" })
                    @Html.ActionLink("Decoders", "DecoderDescription", "Dcc", new { area = "Trains" }, new { @class = "btn btn-info btn-md" })
                </div>
            </div>
        </div>
        <hr />
    }

    @section MainBody {

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Decoders</h3>
                <ul>
                    <li>Description</li>
                    <li>@Html.ActionLink("Hornby", "DccDecoderDetails", "Dcc", new { area = "Trains" , identifier = 1 },null )</li>
                    <li>@Html.ActionLink("Bachmann 36-353", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 2 }, null)</li>
                    <li>Bachmanns</li>
                    <li>@Html.ActionLink("Lais Ver 1", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 4 }, null)</li>
                    <li>@Html.ActionLink("Lais Ver 2", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 5 }, null)</li>
                    <li>@Html.ActionLink("GaugeMaster", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 8 }, null)</li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!-- locomotives -->
                <div id="Wrapper-dccDecoders">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Decoder</h4>
                        </div>
                    </div>

                    <hr />

                    <div>
                        <div class="col-lg-12">
                            <h4>Wiring 8 Pin</h4>
                        </div>
                        <div class="col-lg-4">
                            <ol>
                                <li>Motor (+)</li>
                                <li>Rear lights</li>
                                <li>Aux</li>
                                <li>Track feed (-)</li>
                                <li>Motor (-).</li>
                                <li>Front lights</li>
                                <li>Common +ve</li>
                                <li>Track feed (+).</li>
                            </ol>
                        </div>
                        <div class="col-lg-4">
                            <img src="~/Content/Images/Trains/8PinSocket.PNG" width="140" height="200"/>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-lg-12">
                            <p>Decoders receive commands from throttles or other devices and are responsible for controlling the motor and/or performing certain functions around a layout.</p>
                            <p>Decoders can be grouped into two main categories, mobile and stationary. Mobile decoders are usually installed in locomotives. Stationary decoders are normally mounted on the layout in a "stationary" position. Stationary decoders can be used to control railway switches, structure lights, scene lighting, animation, and signaling.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Configuration Variables.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                A Configuration Variable (CV) is a memory location in a decoder that controls its behavior. Once set, the value will be retained unless the memory is changed or becomes corrupted.
                            </p>
                            <p>
                                The decoder’s address, motor control, lights, sound, and other functions of the locomotive. This is achieved by editing the CVs in the decoder. Some CVs use values ranging from 0 to 255, others use their space in the decoder's memory as a bank of eight on/off switches.
                                A decoder can be programmed changing the basic "factory default" CV settings. Computer software is available which simplifies the programming of decoders.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Basic Configuration Variables.</h4>
                        </div>
                    </div>
                    <div class="row">
                        @Html.Partial("_CVValues")
                    </div>
                </div>
            </div>
        </div>

    }

    @section Footer {
        <footer>
            <div class="row">

            </div>
            <div>&copy; DDM Trains 2017</div>
        </footer>
    }

</div>