﻿
@{
    ViewBag.Title = "Electrofrog";
}

<h2>Electrofrog</h2>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <img src="~/Content/Images/Trains/TurnoutModifiedElectrofrog.gif" />
    </div>
</div>