﻿
@{
    ViewBag.Title = "StayAlive";
}

<h2>StayAlive</h2>

<div class="row">

    <div class="col-md-12">
       <p>Stay a live circuit is particularly helpful with locomotives without multiple pickups or 0-6-0, 0-4-0 wheel arrangements. Allowing them to negoiate dead stops on the track by providing a very short burst of power to the decoder thus keeping the locomotive moving.</p>
    </div>

    <div class="col-md-6 col-sm-12">
        <h4>Typical stay a live circuit</h4>
        <img src="~/Content/Images/Trains/stayALiveCircuit.jpeg" />
    </div>

    <div class="col-md-6 col-sm-12">
        
        <p>The 'capacity' of the capacitor is measured in micofarads (uf). The higher the capacity (more microfarads), the more energy is stored. The more energy stored the longer the loco will run without the dcc signal/power, thus enabling it to negoiate larger deadspots with stalling.</p>
        <p> Using 1000uf, allows two small 470uf capacitors wired in parallel</p>
        <br />
        <p></p>
        <p>The resistor should be half watt with the value determined by the capacitor size, upto 2200uf a 100ohms.</p>
        <p>A diode type 1N4001</p>
    </div>

</div>