﻿
@{
    ViewBag.Title = "diagnosis";
    Layout = "~/Areas/Max4Sims/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Max4Sims/SymptonsDiagnosis.js"></script>

<h2>Diagnose Symptons</h2>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">

        <div id="symptom_list">
            <h4>Symptoms</h4>
            <!-- Rash Types -->
            <div>
                <input type="checkbox" id="spot_rash" name="symptoms" class="symptom" value="spot_rash">
                <label for="spot_rash">Spot Rash</label>
            </div>
            <div>
                <input type="checkbox" id="swirl_rash" name="symptoms" class="symptom" value="swirl_rash">
                <label for="swirl_rash">Swirl Rash</label>
            </div>
            <div>
                <input type="checkbox" id="stripes_rash" name="symptoms" class="symptom" value="stripes_rash">
                <label for="stripes_rash">Tiger Stripes Rash</label>
            </div>
            <!-- Symptoms -->
            <div>
                <input type="checkbox" id="head_steam" name="symptoms" class="symptom" value="head_steam"> 
                <label for="head_steam">Steam From Ears</label>
            </div>
            <div>
                <input type="checkbox" id="dizziness" name="symptoms" class="symptom" value="dizziness"> 
                <label for="dizziness">Dizziness (Spinning stars)</label>
            </div>
            <div>
                <input type="checkbox" id="headache" name="symptoms" class="symptom" value="headache"> 
                <label for="headache">Headache</label>
            </div>
            <div>
                <input type="checkbox" id="fever" name="symptoms" class="symptom" value="fever">
                <label for="fever">Fever</label>
            </div>
            <div>
                <input type="checkbox" id="stomach_ache" name="symptoms" class="symptom" value="stomach_ache">
                <label for="stomach_ache">Stomach Ache</label>
            </div>
            <div>
                <input type="checkbox" id="cough" name="symptoms" class="symptom" value="cough">
                <label for="cough">Cough</label>
            </div>
            <div>
                <input type="checkbox" id="sneeze" name="symptoms" class="symptom" value="sneeze">
                <label for="sneeze">Sneeze</label>
            </div>
            <div>
                <input type="checkbox" id="swatting" name="symptoms" class="symptom" value="swatting">
                <label for="swatting">Swatting (At invisible objects)</label>
            </div>
            <div>
                <input type="checkbox" id="itchiness" name="symptoms" class="symptom" value="itchiness">
                <label for="itchiness">Itchiness</label>
            </div>
            <div>
                <input type="checkbox" id="giggling" name="symptoms" class="symptom" value="giggling"> 
                <label for="giggling">Giggling</label>
            </div>
            <div>
                <input type="checkbox" id="passing_gas" name="symptoms" class="symptom" value="passing_gas"> 
                <label for="passing_gas">Passing Gas</label>
            </div>
            <div>
                <input type="checkbox" id="passing_gas_bubble"name="symptoms" class="symptom" value="passing_gas_bubble"> 
                <label for="passing_gas_bubble">Passing Gas (Bubble)</label>
            </div>
            <div>
                <input type="checkbox" id="pepto_bubble" name="symptoms" class="symptom" value="pepto_bubble"> 
                <label for="pepto_bubble">Pepto (Bubble)</label>
            </div>
        </div>
        <br />
        <div>
            <button class="btn btn-default" type="button" onclick="clearCheckedSymptons();">Clear Symptons</button>
        </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="diagnosis_list">
            <h4>Possible Diagnosis</h4>
            <div>No diagnosis available</div>
        </div>
    </div>
</div>

<!-- ******************
     Other symptons not used 
    
    <input type="checkbox" name="symptoms" class="symptom" value="thermometer_bubble"> Thermometer (Bubble)
    <input type="checkbox" name="symptoms" class="symptom" value="food_bubble"> Food (Bubble)
    <input type="checkbox" name="symptoms" class="symptom" value="medicine_bubble"> Medicine (Bubble)
    -->