﻿
@{
    ViewBag.Title = "Home";
}

    <script src="~/Scripts/isotope.pkgd.js"></script>

    <script>
            $(function () {
                $('.grid').isotope({
                    itemSelector: '.grid-item',
                    percentPosition: true,
                    masonry: {
                        columnWidth: '.grid-sizer'
                    }
                });
            });

    </script>

    <style>
        .grid-sizer,
        .grid-item {
            width: 25%;
            border: 10px solid #333;
            border-color: lightgray;
        }

        .grid-item--width2 {
            width: 50%;
        }

        .grid-item--height {
            height: 200px;
        }

        .grid-item--height2 {
            height: 400px;
        }
    </style>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="text-align:center;font-size:xx-large">
            @*<label style="float:none;color:green">    
                Max's
            </label>
            <label style="color:blue">
                &nbsp;Sims
            </label>
            <label style="color:green">
                &nbsp;4
            </label>*@
        </div>
        <div class="col-md-3">
            @*<div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.carls-sims-4-guide.com/" target="_blank">Carl's Sims 4 Guide</a>
                    <hr />
                    <a href="https://www.thesims.com/en_GB/" target="_blank">The Sims</a>
                </div>
            </div>*@
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item grid-item--height">
                    <img src="~/Content/Images/Sims4/GP4_Module.jpg" width="100%" height="100%" />
                </div>
                <div class="grid-item grid-item--width2 grid-item--height2">
                    <img src="~/Content/Images/Sims4/the-sims4.jpg" width="100%" height="100%" />
                </div>
                <div class="grid-item grid-item--height">
                    <img src="~/Content/Images/Sims4/EP3_Module.jpg" width="100%" height="100%" />
                </div>
                <div class="grid-item grid-item--height">
                    <img src="~/Content/Images/Sims4/Sims4Image2.png" width="100%" height="100%" />
                </div>
                <div class="grid-item grid-item--height">
                    <img src="~/Content/Images/Sims4/Sims4Image4.png" width="100%" height="100%" />
                </div>
            </div>
        </div>
    </div>
