﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mapper</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Area/Development/Development.js"></script>

    <script>
    @*$(document).ready(function () {
    $("button").click(function () {

    var y = $("form");

    var x = $("form").serializeArray();
    $.each(x, function (i, field) {
    $("#results").append(field.name + ":" + field.value + " ");
    });

    var urlstrg = '@Url.Action("Locomotive", "Home")';

        urlstrg = '/Development/Home/Locomotive';

    alert(urlstrg);

    $.ajax({
    type: "GET",
    url: urlstrg,
    contentType: "application/json; charset=utf-8",
    data: { },
    dataType: "json",
    success: function () {
        alert('Success');
    },
    error: function (xhr,status,errorthrown) {
        alert('Error:'+errorthrown);
    }
    });


    });
    });*@
    </script>

</head>
<body>

    <div>
        <form>
        <input id="TextboxName" type="text" name="Name" />
        <br />
        <input id="TextAddress" type="text" name="Address"/>
        <br />
        <input id="TextPostCode" type="text" name="Postcode"/>
        <br />
        <input id="TextTelephone" type="text" name="Telephone"/>
        </form>
        <button id="btnAction" 
                data-controller="Home" 
                data-action="Locomotive">Click here</button>

        @using (Html.BeginForm("UpLoad", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }

    </div>

    <div>
        <div id="results"></div>
    </div>

</body>
</html>
