﻿

    <div class="btn-group" style="margin-bottom:10px;">
        @Html.ActionLink("Home", "Index", "Home", new { area = "Trains" }, new { @class = "btn btn-default btn-md" })
        @Html.ActionLink("Locomotives", "locomotive", "Locomotive", new { area = "Trains" }, new { @class = "btn btn-default btn-md" })
        @Html.ActionLink("Wagons", "Wagons", "Wagons", new { area = "Trains" }, new { @class = "btn btn-default btn-md" })
        @Html.ActionLink("Coaches", "Coaches", "Coaches", new { area = "Trains" }, new { @class = "btn btn-default btn-md" })

        <!-- Split button decoders -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">Decoders</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Hornby", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 2 }, null)</li>
                <li>@Html.ActionLink("Hornby TTS", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 4 }, null)</li>
                <li>@Html.ActionLink("Bachmann 36-353", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 8 }, null)</li>
                <li>@Html.ActionLink("Bachmann 36-356", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 16 }, null)</li>
                <li>@Html.ActionLink("Lais 860021 v3", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 32 }, null)</li>
                <li>@Html.ActionLink("Lais 860018 v4", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 64 }, null)</li>
                <li>@Html.ActionLink("Lais 860018 v1", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 128 }, null)</li>
                <li><a href="#">Hattons</a></li>
                <li>@Html.ActionLink("GuageMaster", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 1024 }, null)</li>
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("Decoders", "DecoderDescription", "dcc", new { area = "Trains" }, null)</li>
            </ul>
        </div>
        <!-- Split button decoders -->
    </div>

