﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDM WebSite</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {

            $("#btn-close").on('click', function () {
                window.close();
            });
        });

    </script>

</head>
<body>

    <div class="container body-content">

        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group pull-left">
                    <button id="btn-close" type="button" class="btn btn-default btn-xs">Close</button>
                    <button type="button" 
                            class="btn btn-default dropdown-toggle btn-xs" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">Careers&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Astronaut","Astronaut","Careers",new { area ="Max4Sims" })</li>
                        <li>@Html.ActionLink("Athlete", "Athlete", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Business", "Business", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Criminal", "Criminal", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Critic", "Critic", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Culinary", "Culinary", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Entertainer", "Entertainer", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Politician", "Politician", "Careers", new { area = "Max4Sims" })</li> 
                        <li>@Html.ActionLink("Secret Agent", "SecretAgent", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Social Media", "SocialMedia", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Tech Guru", "TechGuru", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Writer", "Writer", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Detective", "Detective", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Doctor", "Doctor", "Careers", new { area = "Max4Sims" })</li>
                        <li>@Html.ActionLink("Scientist", "Scientist", "Careers", new { area = "Max4Sims" })</li>
                    </ul>                 
                </div>
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DDM Web Development.</p>
        </footer>
    </div>

</body>
</html>