﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDM WebSite</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/isotope.pkgd.js"></script>

</head>
<body>



    <div class="container">
        <br />
        <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.larrylovesliverpool.uk/Max4Sims/Home/">
                        <span style="color:Blue;">
                            Max's Sims 4
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        @*<li id="navbarHome" class="active">@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li id="navbarCareers">@Html.ActionLink("Careers", "Careers", "Careers")</li>
                        <li id="navbarAspirations">@Html.ActionLink("Aspirations", "Aspirations", "Aspirations")</li>
                        <li id="navbarSkills">@Html.ActionLink("Skills", "Skills", "Skills")</li>
                        <li id="navbarGenerators" class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Generators<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Family", "RandomGenerator", "Generators")</li>
                                <li>@Html.ActionLink("Aspirations & Traits", "Aspirations", "Generators")</li>
                                <li>@Html.ActionLink("Children", "Children", "Generators")</li>
                            </ul>
                        </li>

                        <li id="navbarEmotions" class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Emotions<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Positive Emotions", "GoodEmotions", "Emotions")</li>
                                <li>@Html.ActionLink("Negative Emotions", "NegativeEmotions", "Emotions")</li>
                                <li>@Html.ActionLink("Tea Brewer", "TeaBrewer", "Emotions")</li>
                                <li>@Html.ActionLink("Mixology", "Mixology", "Emotions")</li>
                                <li>@Html.ActionLink("Ice Cream", "IceCream", "Emotions")</li>
                            </ul>
                        </li>

                        <li id="navbarTraits"><a href="#">Traits</a></li>
                        <li id="navbarCollections" class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Collections<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Fish", "Fish", "Collections", null, new { @target = "_blank" })</li>
                                <li>@Html.ActionLink("Frogs", "Frogs", "Collections", null, new { @target="_blank" })</li>
                                <li>@Html.ActionLink("Microscope Prints", "MicroscopePrints", "Collections")</li>
                                <li>@Html.ActionLink("Plants", "Plants", "Collections")</li>
                                <li>@Html.ActionLink("Postcards", "Postcards", "Collections")</li>
                                <li>@Html.ActionLink("Space Prints", "SpacePrints", "Collections")</li>
                                <li>@Html.ActionLink("Snow Globes", "SnowGlobes", "Collections")</li>
                                <li>@Html.ActionLink("Fossils", "Fossils", "Collections")</li>
                            </ul>
                        </li>

                        <li id="navbarGenerators" class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Tools<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(" Diagnose Symptons", "Diagnosis", "Home")</li>
                            </ul>
                        </li>

                        <li id="navbarGenerators" class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Expansions<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(" Spa Day", "SpaDay", "Expansions")</li>
                            </ul>
                        </li>

                        <li id="navbarGenerators" class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Links<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://www.larrylovesliverpool.uk" target="_blank">Larry's Home Page</a></li>
                                <li><a href="http://www.carls-sims-4-guide.com/" target="_blank">Carl's Sims 4 Guide</a></li>
                                <li><a href="https://www.thesims.com/en_GB/" target="_blank">The Sims</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
        </nav>
        <br />
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DDM Web Development.</p>
        </footer>
    </div>

</body>
</html>
