﻿
@{
    ViewBag.Title = "emotions";
}

<script>

    $(document).ready(function () {

        $('#EmotionHappy').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionHappy').removeClass('hidden').addClass('show');
        });

        $('#EmotionConfident').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionConfident').removeClass('hidden').addClass('show');
        });
    });

</script>

<div class="container">
    
    <div class="page-header">
        <h1>Emotions</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Good Emotions</h3>
            <div class="list-group">
                <a href="#" class="list-group-item" id="EmotionHappy">Happy</a>
                <a href="#" class="list-group-item" id="EmotionConfident">Confident</a>
                <a href="#" class="list-group-item">Energised</a>
                <a href="#" class="list-group-item">Fine - Neutral State</a>
                <a href="#" class="list-group-item">Flirty</a>
                <a href="#" class="list-group-item">Focused</a>
                <a href="#" class="list-group-item">Inspired</a>
                <a href="#" class="list-group-item">Playful</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>&nbsp;</h3>
            <div class="panel panel-default hidden" id="PanelEmotionHappy">
                <div id="panelheading" class="panel-heading">
                    Happy and Very Happy
                </div>
                <div class="panel-body">
                    Decorations in the room +1-3 based on the total score<br />
                    Having a good meal - +1-3<br />
                    Having high Needs - +1/2<br />
                    Listening to Music from a Radio (click the Radio then do other things) - +1<br />
                    Healthy Green Tea - +2<br />
                    Fresh Maker Handiness Upgrade on Fridge, Bidet on Toilet, Auto Soap Dispenser on Sink - all +1 when used<br>
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionConfident">
                <div id="panelheading" class="panel-heading">
                    Confident
                </div>
                <div class="panel-body">
                    Brush Teeth (Sink) +1<br />
                    Psych Self Up (Mirror)+1<br />
                    Earl Grey Tea +2<br />
                    Mixology Drink "Sea of Fire" ($80) +1, and "Hot and Smoky" ($125) +2<br />
                    Confident Auras from the Showtime / World Adventures Reward Lamps, Confident Paintings made by Painters. Also, Dead Aliens found from the Rocket Science Skill's Space Adventures
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Tea Brewer</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p></p>  
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><strong>Tea</strong></div>
        <div class="col-md-2"><strong>Emotion</strong></div>
        <div class="col-md-2"><strong>Effect</strong></div>
    </div>

    <div class="row">
        <div class="col-md-2">Heathy Green</div>
        <div class="col-md-2">Happy</div>
        <div class="col-md-2">+2</div>
    </div>

    <div class="row">
        <div class="col-md-2">Earl Grey</div>
        <div class="col-md-2">Confident</div>
        <div class="col-md-2">+2</div>
    </div>

    <div class="row">
        <div class="col-md-2">Run Oolong</div>
        <div class="col-md-2">Energised</div>
        <div class="col-md-2">+2</div>
    </div>

    <div class="row">
        <div class="col-md-2">Steamy Ginseng</div>
        <div class="col-md-2">Flirty</div>
        <div class="col-md-2">+2</div>
    </div>

    <div class="row">
        <div class="col-md-2">Pitch Black</div>
        <div class="col-md-2">Focused</div>
        <div class="col-md-2">+2</div>
    </div>

</div>

