﻿
@{
    ViewBag.Title = "emotions";
}

<script>

    $(document).ready(function () {

        $('#EmotionHappy').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionHappy').removeClass('hidden').addClass('show');
        });

        $('#EmotionConfident').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionConfident').removeClass('hidden').addClass('show');
        });

        $('#EmotionEnergised').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionEnergised').removeClass('hidden').addClass('show');
        });

        $('#EmotionFine').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionFine').removeClass('hidden').addClass('show');
        });

        $('#EmotionFocused').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionFocused').removeClass('hidden').addClass('show');
        });

        $('#EmotionInspired').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionInspired').removeClass('hidden').addClass('show');
        });

        $('#EmotionFlirty').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionFlirty').removeClass('hidden').addClass('show');
        });

        $('#EmotionPlayful').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionPlayful').removeClass('hidden').addClass('show');
        });

    });

</script>

<div class="container">
    
    <div class="page-header">
        <h1>Emotions</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Positive Emotions</h3>
            <div class="list-group">
                <a href="#" class="list-group-item" id="EmotionHappy">Happy</a>
                <a href="#" class="list-group-item" id="EmotionConfident">Confident</a>
                <a href="#" class="list-group-item" id="EmotionEnergised">Energised</a>
                <a href="#" class="list-group-item" id="EmotionFine">Fine - Neutral State</a>
                <a href="#" class="list-group-item" id="EmotionFlirty">Flirty</a>
                <a href="#" class="list-group-item" id="EmotionFocused">Focused</a>
                <a href="#" class="list-group-item" id="EmotionInspired">Inspired</a>
                <a href="#" class="list-group-item" id="EmotionPlayful">Playful</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>&nbsp;</h3>
            <div class="panel panel-default hidden" id="PanelEmotionHappy">
                <div id="panelheading" class="panel-heading"> 
                    Happy and Very Happy
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Healthy Green Tea", "TeaBrewer", "Emotions", new { area = "Max4Sims" }, null)<br />
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionConfident">
                <div id="panelheading" class="panel-heading">
                    Confident
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Flaming Zesty Salt Drink", "Mixology", "Emotions", new { area = "Max4Sims" }, null)<br />
                    Brush Teeth at sink<br />
                    Psych Self Up in mirror<br />
                    @Html.ActionLink("Earl Grey Tea", "TeaBrewer", "Emotions", new { area = "Max4Sims" }, null)<br />
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionEnergised">
                <div id="panelheading" class="panel-heading">
                    Energised
                </div>
                <div class="panel-body">
                    Take a brisk shower<br />
                    @Html.ActionLink("Run Oolong Tea", "TeaBrewer", "Emotions", new { area = "Max4Sims" }, null)<br />
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionFine">
                <div id="panelheading" class="panel-heading">
                    Fine - neutral State
                </div>
                <div class="panel-body">
                   
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionFlirty">
                <div id="panelheading" class="panel-heading">
                    Flirty
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Steamy Ginseng Tea", "TeaBrewer", "Emotions", new { area = "Max4Sims" }, null)<br />
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionFocused">
                <div id="panelheading" class="panel-heading">
                    Focused
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Pitch Black Tea", "TeaBrewer", "Emotions", new { area = "Max4Sims" }, null)<br />
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionInspired">
                <div id="panelheading" class="panel-heading">
                    Inspired
                </div>
                <div class="panel-body">
                    &nbsp;
                </div>
            </div>

            <div class="panel panel-default hidden" id="PanelEmotionPlayful">
                <div id="panelheading" class="panel-heading">
                    Playful
                </div>
                <div class="panel-body">
                </div>
            </div>

        </div>
    </div>

</div>

