﻿
@{
    ViewBag.Title = "TeaBrewer";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Ice Cream</h3>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-2"><strong>Ice Cream</strong></div>
    <div class="col-md-2"><strong>Emotion</strong></div>
    <div class="col-md-2"><strong>Effect</strong></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>

<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p><strong>Different Toppings</strong><br />
Caramel Syrup, Cherries, Chocolate Sauce, Coconut Shavings, Nuts, Raspberry Sauce, Sprinkles, Whipped Cream.</p>
        <p><strong>Different Garnishes</strong><br />
Banana Slices, Cinnamon Sticks, Flowers, Mint Leaves, Nut Bar, Orange Slices, Peppermint Sticks, Sprinkle Stick, Waffle Pieces, Strawberries.</p>
    </div>
</div>