﻿
@{
    ViewBag.Title = "Mixology";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Mixology</h3>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-2"><strong>Drink</strong></div>
    <div class="col-md-2"><strong>Emotion</strong></div>
    <div class="col-md-2"><strong>Effect</strong></div>
</div>

<div class="row">
    <div class="col-md-2">Alein Juice</div>
    <div class="col-md-2">Random Positive</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Protein Shake</div>
    <div class="col-md-2">Energized </div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Flaming Zesty Salt</div>
    <div class="col-md-2">Confident</div>
    <div class="col-md-2">+1</div>
</div>

<div class="row">
    <div class="col-md-2">Amygdelight</div>
    <div class="col-md-2">Focused</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Cupid Juice</div>
    <div class="col-md-2">Flirty</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Bolier Room</div>
    <div class="col-md-2">Angry</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Prose and Pop</div>
    <div class="col-md-2">Inspired</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Sea of Fire</div>
    <div class="col-md-2">Confident</div>
    <div class="col-md-2">+1</div>
</div>

<div class="row">
    <div class="col-md-2">Love Potion #4</div>
    <div class="col-md-2">Flirty</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Vigorator</div>
    <div class="col-md-2">Energised</div>
    <div class="col-md-2">+2</div>
</div>

<div class="row">
    <div class="col-md-2">Hot and Smokey</div>
    <div class="col-md-2">Confident</div>
    <div class="col-md-2">+2</div>
</div>