﻿
@{
    ViewBag.Title = "emotions";
}

<script>

    $(document).ready(function () {

        $('#EmotionAngry').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionAngry').removeClass('hidden').addClass('show');
        });

        $('#EmotionBored').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionBored').removeClass('hidden').addClass('show');
        });

        $('#EmotionDazed').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionDazed').removeClass('hidden').addClass('show');
        });


        $('#EmotionUncomfortable').on('click', function () {

            $("div[id^='PanelEmotion']").removeClass('show').addClass('hidden');
            $('#PanelEmotionUncomfortable').removeClass('hidden').addClass('show');
        });
    });

</script>

<style>

    
.arrowed {
    position: relative;
    background: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    width: 250px; 
    height: 150px
}

.arrowed:before{
    content: "";
    position: absolute;
    top: 60px;
    left:-30px;
    z-index: 1;
    border: solid 15px transparent;
    border-right-color: black;
}

.arrow_box {
	position: relative;
	background: white;
	border: 3px solid lightgrey;
    width:250px;
    min-height:200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(252, 255, 254, 0);
	border-right-color: #fcfffe;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(181, 131, 247, 0);
	border-right-color: lightgrey;
	border-width: 34px;
	margin-top: -34px;
}

    .arrow_box_header {

        width:244px;
        height:25px;
        background-color:whitesmoke;
        border-radius: 10px;
    }

</style>

<div class="container">

    <div class="page-header">
        <h1>Emotions</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Negative Emotions</h3>
            <div class="list-group" style="position:relative;">
                <a href="#" class="list-group-item" id="EmotionAngry">Angry</a>
                <a href="#" class="list-group-item" id="EmotionBored">Bored</a>
                <a href="#" class="list-group-item" id="EmotionDazed">Dazed</a>
                <a href="#" class="list-group-item">Embarrassed</a>
                <a href="#" class="list-group-item">Sad</a>
                <a href="#" class="list-group-item">Tense</a>
                <a href="#" class="list-group-item" id="EmotionUncomfortable" >Uncomfortable</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>&nbsp;</h3>

            <div class="hidden" id="PanelEmotionAngry">
                <div class="arrow_box" style="position:absolute; left:15px; top:40px;">
                    <div class="panel panel-default" >
                        <div id="panelheading" class="panel-heading">
                            Angry
                        </div>
                        <div class="panel-body">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden" id="PanelEmotionBored">
                <div class="arrow_box" style="position:absolute; left:15px; top:40px;">
                    Bored<br />
                </div>
            </div>
            
            <div class="hidden" id="PanelEmotionDazed">
                <div class="arrow_box" style="position:absolute; left:15px; top:140px;">
                    <h4>Dazed</h4>
                </div>
            </div>

            <div class="hidden" id="PanelEmotionUncomfortable">
                <div class="arrow_box" style="position:absolute; left:15px; top:240px;">
                    <div class="arrow_box_header">Uncomfortable</div>
                    <br />
                </div>
            </div>

            </div>
        </div>

    </div>

