﻿
@{
    ViewBag.Title = "TeaBrewer";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <span style="font-size:x-large;" >Tea Brewer</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <span class="pull-right">@Html.ActionLink("Next", "Mixology", "Emotions", new { area = "Max4Sims" }, null)<br /></span>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-2"><strong>Tea</strong></div>
    <div class="col-md-2"><strong>Emotion</strong></div>
    <div class="col-md-2"><strong>Effect</strong></div>
    <div class="col-md-2"><strong>Duration</strong></div>
</div>

<div class="row">
    <div class="col-md-2">Heathy Green</div>
    <div class="col-md-2">Happy</div>
    <div class="col-md-2">+2</div>
    <div class="col-md-2">+4 hours</div>
</div>

<div class="row">
    <div class="col-md-2">Earl Grey</div>
    <div class="col-md-2">Confident</div>
    <div class="col-md-2">+2</div>
    <div class="col-md-2">+4 hours</div>
</div>

<div class="row">
    <div class="col-md-2">Run Oolong</div>
    <div class="col-md-2">Energised</div>
    <div class="col-md-2">+2</div>
    <div class="col-md-2">+4 hours</div>
</div>

<div class="row">
    <div class="col-md-2">Steamy Ginseng</div>
    <div class="col-md-2">Flirty</div>
    <div class="col-md-2">+2</div>
    <div class="col-md-2">+4 hours</div>
</div>

<div class="row">
    <div class="col-md-2">Pitch Black</div>
    <div class="col-md-2">Focused</div>
    <div class="col-md-2">+2</div>
    <div class="col-md-2">+4 hours</div>
</div>

<div class="row">
    <div class="col-md-2">Calming Chamomile Tea</div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2">Reduces Anger</div>
    <div class="col-md-2">&nbsp;</div>
</div>

