﻿
    <h4>Collections</h4>
    <ul>
        <li>@Html.ActionLink("Microscope Prints", "MicroscopePrints", "Collections")</li>
        <li>@Html.ActionLink("Postcards", "Postcards", "Collections")</li>
        <li>@Html.ActionLink("Snow Globes", "SnowGlobes", "Collections")</li>
        <li>@Html.ActionLink("Space Prints", "SpacePrints", "Collections")</li>
        <li>@Html.ActionLink("Fossils", "Fossils", "Collections")</li>
    </ul>
    <br />

