﻿
@{
    ViewBag.Title = "Fish";
}

<style>
    .heading {
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
        width: 16.5%;
        height: 42px;
        background-color: blanchedalmond;
    }

    #tablefish {
    }

        #tablefish td {
            text-align: center;
        }
</style>

<div class="container">
    <div class="page-header">
        <h1>Fish</h1>
    </div>
    <table id="tablefish" class="table table-bordered table-condensed">
    <tr>
        <td class="heading" style="width:20%;">fish</td>
        <td class="heading" style="width:11%;">willow creek pond</td>
        <td class="heading" style="width:11%;">oasis springs pond</td>
        <td class="heading" style="width:11%;">willow creek rivers</td>
        <td class="heading" style="width:11%;">oasis springs rivers</td>
        <td class="heading" style="width:11%;">oasis springs back pond</td>
        <td class="heading" style="width:11%;">forgotten grotto</td>
        <td class="heading" style="width:13%;">sylvan glade<br />[p] pond [w]waterfall</td>
    </tr>

    <tr>
        <td>Guppy</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Perch</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Tetra</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td>w</td>
    </tr>

    <tr>
        <td>Bass</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td></td>
    </tr>

    <tr>
        <td>Minnow</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td></td>
    </tr>

    <tr>
        <td>Goldfish</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Koi</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>p</td>
    </tr>

    <tr>
        <td>Trout</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>w</td>
    </tr>

    <tr>
        <td>Salmon</td>
        <td></td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td>p</td>
    </tr>

    <tr>
        <td>Kissing Gourami</td>
        <td></td>
        <td></td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Angelfish</td>
        <td></td>
        <td></td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Catfish</td>
        <td></td>
        <td></td>
        <td>x</td>
        <td>x</td>
        <td>x</td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <td>Sturgeon</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td>x</td>
        <td>w</td>
    </tr>
    <tr>
        <td>Piranha</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Betta</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
        <td>p w</td>
    </tr>
    <tr>
        <td>Red-Tailed<br />Black Shark</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Rainbowfish</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
    </tr>
    <tr>
        <td>Batfish</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
    </tr>
    <tr>
        <td>Anglerfish</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
    </tr>
    <tr>
        <td>Wolf Eel</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>x</td>
        <td></td>
    </tr>
    <tr>
        <td>Treefish</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>w</td>
    </tr>
    <tr>
        <td>Tilapia</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>w</td>
    </tr>
</table>
</div>

