﻿
@{
    ViewBag.Title = "Fossils";
}
@using WebSite.Areas.Max4Sims.ViewModels;

@model WebSite.Areas.Max4Sims.ViewModels.FossilsVM

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.Partial("_Collections")
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Rarity</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FossilVM fossils in Model.Fossils) {
                        <tr>
                            <td>@fossils.Name</td>
                            <td>@fossils.Rarity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>