﻿
@{
    ViewBag.Title = "Frogs";
}

<style>
    .heading {
        font-weight: bold;
        width: 16.5%;
        height: 42px;
        background-color: blanchedalmond;
    }

    .common {
        color: blue;
    }

    .uncommon {
        color: darkorange;
    }

    .rare {
        color: darkmagenta;
    }
</style>

<script>

    $(document).ready(function () {

        $("tr#frogs td").click(function (e) {

            if ($(this).css("font-weight") == "400" ) {
                $(this).append('<span style="color:green;"> ✔ </span>');
                $(this).css("font-weight", "bold");
            }
            else
            {
                var strg = $(this).html();
                $(this).empty().append(strg.split("<")[0]);
                $(this).css("font-weight", "normal");
            }
            e.stopPropagation();

        });

    })

</script>

<div class="container">
    <div class="page-header">
        <h1>Frogs</h1>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <!-- use table as data sort -->

            <div>
                <span class="pull-right" style="font-size:x-small">
                    key :&nbsp;
                    <span class="common">common</span>,
                    <span class="uncommon">uncommon</span>,
                    <span class="rare">rare</span>
                </span>
            </div>

            <table id="TableFrogs" class="table table-bordered" style="width: 100%;text-align:center">
                <tr id="frogs">
                    <td class="heading"></td>
                    <td class="heading">Normal</td>
                    <td class="heading">Striped</td>
                    <td class="heading">Spotted</td>
                    <td class="heading">Surf</td>
                    <td class="heading">Whirl</td>
                </tr>
                <tr id="frogs">
                    <td class="heading">Leaf</td>
                    <td class="common">Leaf</td>
                    <td class="common">Striped Leaf</td>
                    <td class="common">Spotted Leaf</td>
                    <td class="uncommon">Surfer Leaf</td>
                    <td class="uncommon">Hypno</td>
                </tr>
                <tr id="frogs">
                    <td class="heading">Dirt</td>
                    <td class="common">Dirt</td>
                    <td class="common">Striped Dirt&nbsp;</td>
                    <td class="common">Spotted Dirt&nbsp;</td>
                    <td class="uncommon">Dirtsurfer&nbsp;</td>
                    <td class="uncommon">Dirtwhirl&nbsp;</td>
                </tr>
                <tr id="frogs">
                    <td class="heading">Eggplant</td>
                    <td class="common">Eggplant</td>
                    <td class="uncommon">Striped Eggplant&nbsp;</td>
                    <td class="uncommon">Spotted Eggplant&nbsp;</td>
                    <td class="rare">Surfer Eggplant&nbsp;</td>
                    <td class="rare">Eggplant Whirl&nbsp;</td>
                </tr>
                <tr id="frogs">
                    <td class="heading">Heart</td>
                    <td class="common">Heart</td>
                    <td class="uncommon">Striped Heart&nbsp;</td>
                    <td class="uncommon">Spotted Heart&nbsp;</td>
                    <td class="rare">Heart Surfer&nbsp;</td>
                    <td class="rare">Bullseye&nbsp;</td>
                </tr>
                <tr id="frogs">
                    <td class="heading">Sunflower</td>
                    <td class="uncommon">Sunflower</td>
                    <td class="uncommon">Tiger&nbsp;</td>
                    <td class="uncommon">Leopard&nbsp;</td>
                    <td class="rare">Sunsurfer&nbsp;</td>
                    <td class="rare">Whirlyflower</td>
                </tr>
            </table>

        </div>
        <!--<div class="col-lg-12">
            <input id="ButtonReset" type="button" value="Reset" class="btn" onclick="frogsReset();" />
        </div>-->

    </div>

</div>
