﻿
@{
    ViewBag.Title = "Microscope Prints";
}

<div class="container">
    <div class="page-header">
        <h1>Microscope Prints</h1>
    </div>

    <div class="row">
        <div class="col-lg-2 col-sm-12">
            @Html.Partial("_Collections")
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Regular</h4>

            <table class="table table-bordered table-condensed">
                <tr class="tableRow">
                    <td>Hooplankton</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Party in Pink</td>
                    <td>Common</td>
                </tr>
                <tr class="tableRow">
                    <td>Psychedelic Rock</td>
                    <td>Common</td>
                </tr>
                <tr class="tableRow">
                    <td>The Drifter</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Cell Block</td>
                    <td>Uncommon</td>
                </tr>
                <tr class="tableRow">
                    <td>Falling</td>
                    <td>Uncommon</td>
                </tr>
            </table>

            <h4>Plant</h4>

            <table class="table table-bordered table-condensed">
                <tr class="tableRow">
                    <td style="width:60%;">Rhapsody in Blue</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Blemish Blossom</td>
                    <td>Common</td>
                </tr>
            </table>

            <h4>Crystal</h4>

            <table class="table table-bordered table-condensed">
                <tr class="tableRow">
                    <td style="width:60%;">Snow Fight</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Crystal Palace</td>
                    <td>Rare</td>
                </tr>
            </table>

            <h4>Fossil</h4>

            <table class="table table-bordered table-condensed">
                <tr class="tableRow">
                    <td style="width:60%;">Trace Remains</td>
                    <td>Uncommon</td>
                </tr>
                <tr>
                    <td>Leaf Meat</td>
                    <td>Rare</td>
                </tr>
            </table>
        </div>
    </div>
 </div>

