﻿
@{
    ViewBag.Title = "Plants";
}

<div class="container">
    <div class="page-header">
        <h1>Plants</h1>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <h4>Spliced Plants</h4>

            <table style="width: 50%;" class="table table-bordered table-condensed">
                <tr class="tableRow">
                    <td>Bird of Paradise (36)</td>
                    <td>Tulip + Chrysanthemum</td>
                </tr>
                <tr>
                    <td>Bonsai Bush (24)</td>
                    <td>Daisy + Strawberry</td>
                </tr>
                <tr class="tableRow">
                    <td>Cow Berry (24)</td>
                    <td>Dragon Fruit + Snapdragon</td>
                </tr>
                <tr>
                    <td>Death Flower (48)</td>
                    <td>Orchid + Pomegranate</td>
                </tr>
                <tr class="tableRow">
                    <td>Dragon Fruit (96)</td>
                    <td>Strawberry + Snapdragon</td>
                </tr>
                <tr>
                    <td>Orchid (36)</td>
                    <td>Lily + Snapdragon</td>
                </tr>
                <tr class="tableRow">
                    <td>Pomegranate (72)</td>
                    <td>Apple + Cherry</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Trash fruit grows from trash pile. (24)<br />
                UFO (Intergalactic growth pod) obtained from space adventure in rocket. (112)
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Seed Packet</h4>
        </div>
    </div>

    <table style="width: 50%;" class="table table-bordered table-condensed table-hover">
        <tr>
            <th class="heading">Flowers</th>
            <th class="heading">Fruits</th>
            <th class="heading">Herbs</th>
            <th class="heading">Vegetables</th>
        </tr>
        <tr>
            <td>Bluebells (36)</td>
            <td>Apple (36)</td>
            <td>Basil (24)</td>
            <td>Carrot (24)</td>
        </tr>
        <tr class="tableRow">
            <td>Chrysanthemum (36)</td>
            <td>Grapes (48)</td>
            <td>Parsley (24)</td>
            <td>Mushroom (24)</td>
        </tr>
        <tr>
            <td>Daisy (24)</td>
            <td>Plantain (72)</td>
            <td>&nbsp;</td>
            <td>Spinach (24)</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-12">
            <h4>Willow Creek</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Snapdragon (36),
                Lilly (36),
                Strawberry (24),
                Pear (60),
                Potato (24),
                Rose (48),
                Onion (48)
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Oasis Springs</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Lemon (60),
                Sage (24),
                Cherry (60),
                Tomato (24),
                Tulip (36),
                Blackberry (96),
                Onion (48)
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Outdoor Retreat Herbs (used for the Herbalism skill)</h4>
        </div>
    </div>

    <table style="width: 50%;" class="table table-bordered table-condensed table-hover">
        <tr>
            <th class="heading">Normal</th>
            <th class="heading">Toxic</th>
            <th class="heading">Emotion when<br />toxic form eaten</th>
        </tr>
        <tr>
            <td>Chamomile (24)</td>
            <td>Toxic Chamomile (24)</td>
            <td>Tense (2h)</td>
        </tr>
        <tr class="tableRow">
            <td>Elderberry (18)</td>
            <td>Noxious Elderberry (18)</td>
            <td>Sad (2h)</td>
        </tr>
        <tr>
            <td>Huckleberry (18)</td>
            <td>Muckleberry (18)</td>
            <td>Dazed (2h)</td>
        </tr>
        <tr class="tableRow">
            <td>Fireleaf (18)</td>
            <td>Poison Fireleaf (18)</td>
            <td>Angry (2h)</td>
        </tr>
        <tr>
            <td>Morel Mushroom (24)</td>
            <td>False Morel Mushroom (24)</td>
            <td>Uncomfortable (2h)</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-12">
            <p>
                The herbs can be found in Granite Falls National Park.<br />
                The Morel Mushroom is only found in the hidden area of Granite falls.
            </p>
        </div>
    </div>


</div>

