﻿
@{
    ViewBag.Title = "Postcards";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Postcards</h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2 col-sm-12">
            @Html.Partial("_Collections")
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <table class="table table-bordered table-condensed">
                <tr class="tableRow">
                    <td style="width:60%;">Appaloosa Plains</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Bridgeprort</td>
                    <td>Common</td>
                </tr>
                <tr class="tableRow">
                    <td>Littlehaven</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Lucky Palms</td>
                    <td>Common</td>
                </tr>
                <tr class="tableRow">
                    <td>Moonlight Falls</td>
                    <td>Common</td>
                </tr>
                <tr class="tableRow">
                    <td>Riverview</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Sunset Valley</td>
                    <td>Common</td>
                </tr>
                <tr class="tableRow">
                    <td>Twinbrook</td>
                    <td>Common</td>
                </tr>
                <tr>
                    <td>Barnacle Bay</td>
                    <td>Uncommon</td>
                </tr>
                <tr class="tableRow">
                    <td>Champs Les Sims</td>
                    <td>Uncommon</td>
                </tr>
                <tr>
                    <td>Lunar Lakes</td>
                    <td>Uncommon</td>
                </tr>
                <tr class="tableRow">
                    <td>Midnight Hollow</td>
                    <td>Uncommon</td>
                </tr>
                <tr>
                    <td>Dragon Valley</td>
                    <td>Rare</td>
                </tr>
                <tr class="tableRow">
                    <td>Isla Paradiso</td>
                    <td>Rare</td>
                </tr>
            </table>
        </div>

    </div>
 </div>

