﻿
@{
    ViewBag.Title = "Snow Globes";
}
@using System.Collections.Generic;

@model WebSite.Areas.Max4Sims.ViewModels.SnowGlobesVM

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Snow Globes</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            @Html.Partial("_Collections")
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Rarity</td>
                        <td>Comments</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WebSite.Areas.Max4Sims.ViewModels.SnowGlobeVM snowGlobe in Model.SnowGlobes) {
                        <tr>
                            <td>@snowGlobe.Name</td>
                            <td>@snowGlobe.Rarity</td>
                            <td>@snowGlobe.Comments</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>