﻿
@{
    ViewBag.Title = "Space Prints";
}

<div class="container">
    <div class="page-header">
        <h1>Space Prints</h1>
    </div>

    <div class="row">
        <div class="col-lg-2 col-sm-12">
            @Html.Partial("_Collections")
        </div>
        <div class="col-lg-10 col-sm-12">

            <div class="col-lg-12">
                <h4>Observe the sky</h4>

                <table style="width: 50%;" class="table table-bordered table-condensed">
                    <tr class="tableRow">
                        <td style="width:60%;">Animals Planet</td>
                        <td>Common</td>
                    </tr>
                    <tr>
                        <td>Out of this world</td>
                        <td>Common</td>
                    </tr>
                    <tr class="tableRow">
                        <td>Seeing Red</td>
                        <td>Common</td>
                    </tr>
                    <tr>
                        <td>I Dream of Pleiosaur</td>
                        <td>Uncommon</td>
                    </tr>
                    <tr class="tableRow">
                        <td>Star Crossed Lovers</td>
                        <td>Uncommon</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12">
                <h4>Stargaze</h4>

                <table style="width: 50%;" class="table table-bordered table-condensed">
                    <tr class="tableRow" ">
                        <td style="width:60%;">Big Star</td>
                        <td>Common</td>
                    </tr>
                    <tr>
                        <td>End of Time</td>
                        <td>Common</td>
                    </tr>
                    <tr class="tableRow">
                        <td>Rosie the Riveting</td>
                        <td>Common</td>
                    </tr>
                    <tr>
                        <td>Standard Space</td>
                        <td>Common</td>
                    </tr>
                    <tr class="tableRow">
                        <td>Saturn Return</td>
                        <td>Uncommon</td>
                    </tr>
                    <tr>
                        <td>Twinkle</td>
                        <td>Uncommon</td>
                    </tr>
                    <tr class="tableRow">
                        <td>T-Rex Nebula</td>
                        <td>Rare</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12">
                <h4>Search for the Truth</h4>

                <table style="width: 50%;" class="table table-bordered table-condensed">
                    <tr class="tableRow">
                        <td style="width:60%;">Cloudy Vision</td>
                        <td>Uncommon</td>
                    </tr>
                    <tr>
                        <td>Battle Stars</td>
                        <td>Rare</td>
                    </tr>
                    <tr class="tableRow">
                        <td>Surfacing</td>
                        <td>Rare</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

 </div>

