﻿@model WebSite.ViewModels.ToDoTasksViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $("body").on("click", "#tblTasks .Delete", function () {

        if (confirm("Do you want to delete this Task?")) {
            var row = $(this).closest("tr");
            var taskId = row.find("span").html();

            // leave one empty row in table //
            if ($("#tblTasks tr").length > 2) {
                row.remove();
            } else {
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }

            $.ajax({
                type: "POST",
                url: "/ToDoTasks/DeleteTask",
                data: '{taskId: ' + taskId + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) { }
            });
        }
    });

    $("body").on("click", "#tblTasks .Tickbox", function () {

        //get status of checkbox and toggle strikeout//

        if (confirm("Do you want to mark this Task as completed?")) {
            var row = $(this).closest("tr");
            var htmlContent = '<span><strike>' + row.find("span").html() + '</strike></span>';
            row.find("span").html('&nbsp;').html(htmlContent);
        }
    });

</script>

<h2>ToDo Tasks</h2>

<table id="tblTasks" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:5%">Id</th>
        <th style="width:75%">Description of Task</th>
        <th style="width:20%"></th>
    </tr>
    @foreach (var task in Model.ToDoTasks )
    {
        <tr>
            <td class="Checkbox">
                <input type="checkbox" class="Tickbox"/>
            </td>
            <td class="Description">
                <span data-id="@task.Identifier">@task.Description</span>
            </td>
            <td>
                <button id="BtnDelete" class="Delete btn" href="javascript:;">Delete</button>
            </td>
        </tr>
    }
</table>