﻿
@model WebSite.ViewModels.CoachesVM

<style>
    .heading {
        background-color:lightsteelblue;
    }
</style>

<table id="TableOfCoaches" class="table">
    <thead>
        <tr class="heading">
            <td>Description</td>
            <td>Manufacturer</td>
            <td>Qty</td>
        </tr>
    </thead>
    @foreach (var coach in Model.coaches)
    {
        <tr id="@coach.CoachID" data-locoId="@coach.CoachID">
            <td>@coach.Description</td>              
            <td>@coach.ManufacturerID</td>
            <td>@coach.Quantity</td>
        </tr>
    }
</table>

