﻿<!-- partial view coaches -->

<div id="Wrapper-Coaches">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table id="TableOfCoaches" class="table-striped table">
                <thead style="font-weight:bold; margin:2px; padding:2px; background-color:lightsteelblue;">
                    <tr>
                        <td style="width:40%">Description</td>
                        <td style="width:50%"></td>
                        <td>Qty</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BR </td>
                        <td>Open</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td>Brake</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td>MkII Open</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td>Buffet</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Hornby R726 BR Mk2 Brake End Corridor</td>
                        <td>Brake</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>LNER</td>
                        <td>Open</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>LNER</td>
                        <td>Buffet</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>LNER</td>
                        <td>Brake</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Pullman</td>
                        <td>Parlour car</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Pullman</td>
                        <td>Brake</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>4 Wheel Coach</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td>Brake</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>BR</td>
                        <td>Brake</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

