﻿
@model WebSite.ViewModels.CoachesVM

@{
    ViewBag.Title = "Coaches";
}

<div class="col-lg-12">
    @Html.Partial("_Menu")
    @Html.ActionLink("Add A New Coach", "Add", "Coach", new { area = "Trains" }, new { @class = "btn btn-default pull-right" })
</div>

<div class="col-lg-12">
    <span style="font-size:xx-large"><strong>Coaches</strong></span>
</div>

@if (!Model.HasError)
{
    @Html.Partial("_CoachesModel", Model)
}

<script>
    $(document).ready(function () {

        var CoachesDataTable = $("#TableOfCoaches").DataTable({
            paging: true,
        });
    });
</script>
