﻿
@{
    ViewBag.Title = "SpaDay";
    Layout = "~/Areas/Max4Sims/Views/Shared/_Layout.cshtml";
}

<style>
    .captiontext {
        text-align:left;
        color:black;
    }

    .textRight{
        text-align:right;
    }

    .textCenter {
        text-align:center;
    }
</style>

<h2>Spa Day Game Pack</h2>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Yoga Workout</strong></caption>
            <tr class="headingExtra">
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    Class
                </th>
                <th>
                    Self
                </th>
                <th class="textCenter">
                    + Incense
                </th>
            </tr>
            <tr>
                <td>Inspired</td>
                <td>Brain Boosting</td>
                <td>12hr +2</td>
                <td>8hr +1</td>
                <td class="textCenter">8hr +2</td>
            </tr>
            <tr>
                <td>Energised</td>
                <td>Energy Centering</td>
                <td>12hr +2</td>
                <td>8hr +1</td>
                <td class="textCenter">8hr +2</td>
            </tr>
            <tr>
                <td>Focused</td>
                <td>Mind Concentrating</td>
                <td>12hr +2</td>
                <td>8hr +1</td>
                <td class="textCenter">8hr +2</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Social from Wellness skill</strong></caption>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>            
            </tr>
            <tr>
                <td>Focused</td>
                <td>Discuss Cognitive focusing Techniques</td>
                <td>4hr +1</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td>Offer Mental Relaxation Tips</td>
                <td>8hr +2</td>
            </tr>
            <tr>
                <td>Inspired</td>
                <td>Suggest Visualization Techniques</td>
                <td>4hr +2</td>
            </tr>
            <tr>
                <td>Confident</td>
                <td>Recommend Self-Esteem Exercises</td>
                <td>8hr +2</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Bath with soaks</strong></caption>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th class="headingJobTitle">
                    &nbsp;
                </th>
                <th class="headingJobDays">
                    &nbsp;
                </th>
                <th class="textCenter"">
                    + Incense
                </th>
            </tr>
            <tr>
                <td>Happy</td>
                <td>Mil,Honey and Oatmeal Soak</td>
                <td class="textRight">8hr +2</td>
                <td class="textCenter">12hr +2</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td>Lavender Foam</td>
                <td class="textRight">8hr +2</td>
                <td class="textCenter">12hr +2</td>
            </tr>
            <tr>
                <td>Energised</td>
                <td>Muscle-Relaxing</td>
                <td class="textRight">8hr +2</td>
                <td class="textCenter">12hr +2</td>
            </tr>
            <tr>
                <td>Focused</td>
                <td>Citrus Soak</td>
                <td class="textRight">8hr +2</td>
                <td class="textCenter">12hr +2</td>
            </tr>
            <tr>
                <td>Flirty</td>
                <td>Rose Petals</td>
                <td class="textRight">8hr +2</td>
                <td class="textCenter">12hr +2</td>
            </tr>
            <tr>
                <td>Confident</td>
                <td>Mud Bath*</td>
                <td class="textRight">12hr +2</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4">*Mud bath knocks hygiene so have max hygiene before taking.</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Massage table</strong></caption>
            <tr>
                <td>Massage Happy</td>
                <td>Deep Tissue</td>
                <td>24hr +1</td>
            </tr>
            <tr>
                <td></td>
                <td>Stone</td>
                <td>24hr +1</td>
            </tr>
            <tr>
                <td></td>
                <td>Swedish</td>
                <td>12hr +1</td>
            </tr>
            <tr>
                <td>Energised</td>
                <td>Sports</td>
                <td>12hr +1</td>
            </tr>
            <tr>
                <td>Increased chance of twins/triplets</td>
                <td>Fertility</td>
                <td>12hr +1</td>
            </tr>
            <tr>
                <td>Aromatherapy Treatment</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Inspired</td>
                <td>Yiang Yiang</td>
                <td>12hr +1</td>
            </tr>
            <tr>
                <td>Energised</td>
                <td>Mint and Rosemary</td>
                <td>12hr +1</td>
            </tr>
            <tr>
                <td>Focused</td>
                <td>Lavender</td>
                <td>12hr +1</td>
            </tr>
            <tr>
                <td>Confident</td>
                <td>Lotus Blossom</td>
                <td>12hr +1</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Massage Chair</strong></caption>
            <tr>
                <td>&nbsp;</td>
                <td>Hand</td>
                <td>Foot</td>
            </tr>
            <tr>
                <td>Low</td>
                <td>4hr +1</td>
                <td>6hr +2</td>
            </tr>
            <tr>
                <td>High</td>
                <td>4hr +2</td>
                <td>6hr +3</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <span class="captiontext" style="font-size:larger"><strong>Incense</strong></span>
        <p>These burn for 2 hours and give a mood withinn range. Most powerful to use with bath with soaks to increase time of buff or with yoga workout to increase buff value. (Use matching mood).</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <table class="table table-condensed">
            <tr>
                <td>Inspired</td>
                <td>Evocative Lemon</td>
                <td>+1</td>
            </tr>
            <tr>
                <td>Energised</td>
                <td>Invigorating Cinnamon</td>
                <td>+1</td>
            </tr>
            <tr>
                <td>Focused</td>
                <td>Sherpening Saffron</td>
                <td>+1</td>
            </tr>
            <tr>
                <td>Flirty</td>
                <td>Romantic Sandalwood</td>
                <td>+1</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td>Peaceful Patchouli</td>
                <td>+1</td>
            </tr>
            <tr>
                <td>Happy + Tension relief</td>
                <td>Soothing Sage</td>
                <td>+1</td>
            </tr>
        </table>
    </div>
</div>
