﻿
@{
    ViewBag.Title = "Football";
}

<script src="~/Scripts/Area/Football/Football.js"></script>

<h2>Football&nbsp;<small>Larry loves football.</small></h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div id="PanelLiverpool"class="show" 
                 style="min-height:150px;text-align:center;">
                <img id="ImgLiverpool" src="~/Content/Images/splash_crest.png" height="150" width="150"/>
            </div>
            <div id="PanelDetailsLiverpool"
                 class="hidden"
                 style="min-height:150px;border:0px solid lightgrey;text-align:center;">
                <img id="ImgLiverpoolSmall" src="~/Content/Images/splash_crest.png" height="45" width="45" /><br />
                <span><strong>Liverpool Football Club</strong></span><br />
                <span>League : Preimership.</span><br />
                <span>Home ground : Anfield</span><br />
                <span>Players</span><br />
                <br />
                <span id="WebsiteLiverpool">Website</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div id="PanelBarcelona" class="show" 
                 style="min-height:150px;text-align:center;">
                <img id="ImgBarcelona" src="~/Content/Images/logo-fc-barcelona.png" height="150" width="150" />
            </div>
            <div id="PanelDetailsBarcelona"
                 class="hidden" 
                 style="min-height:150px;border:0px solid lightgrey;text-align:center;">
                <img id="ImgBarcelonaSmall" src="~/Content/Images/logo-fc-barcelona.png" height="45" width="45" /><br />
                <span><strong>Futbol Club Barcelona</strong></span><br />
                <span>League : La Liga.</span><br />
                <span>Home ground : Camp Nou</span><br />
                <span>Players</span><br />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div id="PanelBayern" class="show"
                 style="min-height:150px;text-align:center;">
                <img id="ImgBayern" src="~/Content/Images/bayernMunich.png" height="150" width="150"/>
            </div>
            <div id="PanelDetailsBayern"
                 class="hidden" 
                 style="min-height:150px;border:0px solid lightgrey;text-align:center;">
                <img id="ImgBayernSmall" src="~/Content/Images/bayernMunich.png" height="45" width="45" /><br />
                <span><strong>FC Bayern Munich</strong></span><br />
                <span>League : Bundesliga.</span><br />
                <span>Home ground : Allianz Arena</span><br />
                <span>Players</span><br />

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img id="ImgJuventus" src="~/Content/Images/juventus.png" height="150" width="150"/>
        </div>
    </div>
</div>

<!-- display league and fixtures 
    
    premier league http://api.football-data.org/v1/soccerseasons/398/leagueTable
    
    -->

<!-- -->