﻿
@{
    ViewBag.Title = "Aspirations";
}


<script src="~/scripts/Max4Sims/aspirations.js"></script>

<script type="text/javascript">

    function generateAspirationNow(reset)
    {
        if (reset) { resetAll(); }

        var worker = $("#textAspiration");

        if ( worker.hasClass("hidden")) {
            worker.removeClass("hidden")
        }

        worker.addClass("show");
        $("#aspirationTextA").html(generateAspiration());
    }

    function resetAspiration() {
        $("#textAspiration").removeClass("show").addClass("hidden");
        $("#aspirationTextA").html("");
    }

    function generateTraitNow(reset)
    {
        if (reset) { resetAll() };

        var traits = generateTraits();
        var worker = $("#textTraitA");

        if (worker.hasClass("hidden")) {
            worker.removeClass("hidden");
            $("#resetButton").removeClass("hidden");
        }

        $("#traitTextA").html(traits[0].Text);
        $("#traitTextB").html(traits[1].Text);
        $("#traitTextC").html(traits[2].Text);

        worker.addClass("show");
    }

    function resetTrait() {
        $("#textTraitA").removeClass("show").addClass("hidden");
        $("#traitTextA").html("");
        $("#traitTextB").html("");
        $("#traitTextC").html("");

    }

    function generateToddlerTraitNow(reset) {

        if (reset) { resetAll() };

        var toddlerTrait = generateToddlerTrait();

        var worker = $("#textToddlerTrait");

        if (worker.hasClass("hidden")) {
            worker.removeClass("hidden");
            $("#resetButton").removeClass("hidden");
        }

        worker.addClass("show");
        $("#toddlertraitText").html(toddlerTrait.Text);
    }

    function generateChildTraitNow() {

        resetAll();

        var trait = generateChildTrait();
        var worker = $("#textTraitSingle");

        if (worker.hasClass("hidden")) {
            worker.removeClass("hidden");
            $("#resetButton").removeClass("hidden");
        }

        worker.addClass("show");
        $("#traitTextSingle").html(trait.Text);
    }

    function generateTeenTraitNow() {

        resetAll();

        var trait = generateTeenTrait();
        var worker = $("#textTraitSingle");

        if (worker.hasClass("hidden")) {
            worker.removeClass("hidden");
            $("#resetButton").removeClass("hidden");
        }

        worker.addClass("show");
        $("#traitTextSingle").html(trait.Text);
    }

    function generateSingleTraitNow() {

        resetAll();

        var traits = generateTraits();
        var worker = $("#textTraitSingle");

        if (worker.hasClass("hidden")) {
            worker.removeClass("hidden");
            $("#resetButton").removeClass("hidden");
        }

        worker.addClass("show");
        $("#traitTextSingle").html(traits[0].Text);
    }

    function resetSingleTrait() {
        $("#textTraitSingle").removeClass("show").addClass("hidden");
        $("#traitTextSingle").html("");
    }

    function generateChild(reset)
    {
        if (reset) { resetAll() };

        var worker = $("#textChild");

        if (worker.hasClass("hidden")) {
            worker.removeClass("hidden");
            $("#resetButton").removeClass("hidden");
        }

        worker.addClass("show");
        $("#aspirationChild").html(generateChildAspiration);
    };

    function resetChild() {
        $("#textChild").removeClass("show").addClass("hidden");
        $("#aspirationChild").html("");
    }

    function generateAll() {

        resetAll();

        generateAspirationNow(false);
        generateTraitNow(false);
        generateChild(false);

        generateToddlerTraitNow(false);

        $("#resetButton").removeClass("hidden");
    };

    function resetAll() {
        $("#textAspiration").removeClass("show").addClass("hidden");
        $("#aspirationTextA").html("");

        $("#textTraitA").removeClass("show").addClass("hidden");
        $("#traitTextA").html("");
        $("#traitTextB").html("");
        $("#traitTextC").html("");

        $("#textChild").removeClass("show").addClass("hidden");
        $("#aspirationChild").html("");

        $("#textTraitSingle").removeClass("show").addClass("hidden");
        $("#traitTextSingle").html("");

        $("#textToddlerTrait").removeClass("show").addClass('hidden');
        $("#toddlertraitText").html("");

        $("#resetButton").addClass("hidden");
    };

    function closeMeNow()
    {
        window.open("/index.aspx","_self");
    }

</script>

<script>

        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $('#navbarGenerators').addClass('active');
        });

</script>

<div class="page-header" style="margin-top:0px;">
    <h1>Aspiration & Traits</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Generator</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12 col-md-12" style="text-align:center;">
                <input id="ButtonAll" type="submit" value="All" class="btn btn-default" onclick="generateAll(); return false;" />
                <input id="SubmitChild" type="submit" value="Child Aspiration" class="btn btn-default" onclick="generateChild(true); return false;" />
                <input id="ButtonBarAspirations" type="submit" value="Aspiration" class="btn btn-default" onclick="generateAspirationNow(true); return false;" />
                <input id="ButtonBarTraits" type="submit" value="All Traits" class="btn btn-default" onclick="generateTraitNow(true); return false;" />
                <input id="ButtonBarTraits" type="submit" value="Toddler Trait" class="btn btn-default" onclick="generateToddlerTraitNow(true); return false;" />
                <input id="ButtonBarTraits" type="submit" value="Child Trait" class="btn btn-default" onclick="generateChildTraitNow(true); return false;" />
                <input id="ButtonBarTraits" type="submit" value="Teen Trait" class="btn btn-default" onclick="generateTeenTraitNow(); return false;" />
                <input id="ButtonBarTrait" type="submit" value="Adult Trait" class="btn btn-default" onclick="generateSingleTraitNow(); return false;" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-2" style="text-align:right;">
                <span id="textChild" style="display:none;
                                                    font-size:large;
                                                    text-transform:capitalize;
                                                    width:100%;">
                    Child Aspiration
                </span>
            </div>
            <div class="col-md-8">
                <span id="aspirationChild" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="text-align:right;">
                <span id="textAspiration" style="display:none;font-size:large;
                                                         text-transform:capitalize;
                                                         width:100%;">
                    Aspiration
                </span>
            </div>
            <div class="col-md-10">
                <span id="aspirationTextA" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="text-align:right;">
                <span id="textTraitA" style="display:none;font-size:large;
                                                    text-transform:capitalize;
                                                    width:100%;">
                    Traits
                </span>
            </div>
            <div class="col-md-8">
                <span id="traitTextA" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="text-align:right;">
                <span id="textTraitB" style="display:none;font-size:large;
                                                    text-transform:capitalize;
                                                    width:100%;">
                    &nbsp;
                </span>
            </div>
            <div class="col-md-8">
                <span id="traitTextB" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="text-align:right;">
                <span id="textTraitC" style="display:none;font-size:large;
                                                    text-transform:capitalize;
                                                    width:100%;">
                    &nbsp;
                </span>
            </div>
            <div class="col-md-8">
                <span id="traitTextC" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="text-align:right;">
                <span id="textToddlerTrait" style="display:none;font-size:large;
                                                    text-transform:capitalize;
                                                    width:100%;">
                    Toddler
                </span>
            </div>
            <div class="col-md-8">
                <span id="toddlertraitText" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="text-align:right;">
                <span id="textTraitSingle" style="display:none;
                                                  font-size:large;
                                                  text-transform:capitalize;
                                                  width:100%;">
                    Trait
                </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                <span id="traitTextSingle" style="font-size:large;text-transform:capitalize;"></span>
            </div>
        </div>

        <div id="resetButton" class="row hidden">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="text-align:right;">
                <br />
                <input id="ResetAll" type="submit" value="Reset" onclick="resetAll(); return false;" class="btn btn-warning" />
            </div>
        </div>
      
    </div>
</div>
