﻿
@{
    ViewBag.Title = "Children";
}

<div class="page-header">
    <h2>Children</h2>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <script type="text/javascript">

        function generateBoysGirls(numChildren) {

            var desc = "";
            var boyGirlList = "<br />";
            var numLoop = 0;

            do {

                randomNumber = Math.floor((Math.random() * 2) + 1);

                switch (randomNumber) {
                    case 1:
                        desc = "Boy";
                        break;
                    case 2:
                        desc = "Girl";
                        break;
                }

                numLoop++;

                boyGirlList += desc + "<br />";

            } while (numLoop < numChildren);

            return boyGirlList;
        }

        $(document).ready(function () {

            var numChildren = Math.floor((Math.random() * 6) + 1);
            $("#childrenList").html(generateBoysGirls(numChildren));
            $("#SelectChildren").val(numChildren);

            $("#SelectChildren").on('click', function () {

                numChildren = $("#SelectChildren").val()
                $("#childrenList").html(generateBoysGirls(numChildren));
            })
        });

        </script>

        <div class="panel panel-default">
            <div class="panel-heading">
                Children
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        Number of Children:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <select id="SelectChildren" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div id="childrenList"><br>Girl<br></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>