﻿
@{
    ViewBag.Title = "RandomGenerator";
}

<style>

    body {
        margin: 10px;
        padding: 0px;
        /*text-align: center;*/
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        background-color: white;
        color: black;
    }

    /*h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    h3 {
        font-size: small;
    }*/

    /* standard page size layouts using div */

    div.content {
        width: 1000px;
        margin: auto;
        text-align: left;
        height: 500px;
        padding: 0px;
        background-color: white;
        border-top: 0px solid black;
        border-bottom: 0px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
    }

    div.topsection {
        background: silver;
        height: 35px;
        width: 550px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        text-align: center;
        padding: 0px;
        margin: auto;
    }

    div.footer {
        width: 550px;
        background: silver;
        text-align: center;
        padding: 0px;
        font-size: x-small;
        color: Black;
        border-top: 0px solid black;
        border-bottom: 0px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        margin: auto;
    }

    /* full page (1190px) width line spacer */

    div.innertube {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: White;
        width: 1000px;
        height: 5px;
        border: 0px;
    }

    div.primaryBox {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        border: solid black 2px;
        padding: 10px;
        background-color: Silver;
        text-align: left;
        font-size: small;
        width: 200px;
    }

    div.secondaryBox {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        border: solid blue 2px;
        padding: 10px;
        background-color: Silver;
        text-align: left;
        font-size: small;
        width: 200px;
    }

    div.thirdBox {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        border: solid Green 2px;
        padding: 10px;
        background-color: Silver;
        text-align: left;
        font-size: small;
        width: 200px;
    }

    div.fourthBox {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        border: solid Red 2px;
        padding: 10px;
        background-color: Silver;
        text-align: left;
        font-size: small;
        width: 200px;
    }

    div.childrenBox {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        border: solid Blue 2px;
        padding: 10px;
        background-color: Silver;
        text-align: left;
        font-size: small;
        width: 200px;
    }

    /* no set width line spacer */

    div.spacerFive {
        height: 5px;
        background-color: White;
    }

    div.spacerTen {
        height: 10px;
        background-color: White;
    }

    div.spacerFifteen {
        height: 15px;
        background-color: White;
    }

    div.spacerTwentyFive {
        height: 25px;
        background-color: White;
    }

    div.spacerFifty {
        height: 50px;
        background-color: White;
    }

    div.spacerOneHundred {
        height: 100px;
        background-color: White;
    }

    div.menubar {
        background: silver;
        height: 18px;
        width: 1000px;
        border-top: 0px solid white;
        border-bottom: 0px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        text-align: left;
        padding: 0px;
        padding-left: 10px;
        font-size: small;
    }
</style>

<script type="text/javascript">

		var familyNum;
		var childrenNum;
		var primaryIncomeNum;
		var secondaryIncomeNum;
		var thirdIncomeNum;
		var fourthIncomeNum;
		var generationalGoalNum;
		var miscFunNum;

		function generate()
		{

			resetGlobalNumbers();
			resetDisplay();

			generateFamily();
			generateChildren();

			/* primary career */
			generatePrimaryIncome();

			getSecondaryIncome();

			generateThirdIncome();

			generateFourthIncome();

			/*generateGenerationalGoal();
			generateMicsFun();*/

			goJobHoppers();

		}


		function resetGlobalNumbers()
		{
			familyNum = 0;
			childrenNum = 0;
			primaryIncomeNum = 0;
			secondaryIncomeNum = 0;
			thirdIncomeNum = 0;
			fourthIncomeNum = 0;
			generationalGoalNum = 0;
			miscFunNum = 0;
		}


		function generateFamily()
		{
			var displayPlacement = document.getElementById("familyText");
			var randomNumber;

			/* random number between 1 & 25 */
			familyNum = randomNumber = Math.floor((Math.random() * 25) + 1);

			//document.getElementById("familyNum").innerHTML = familyNum;

			/* -- case statement for decission display -- */

			switch (randomNumber) {
				case 1:
				case 2:
				case 3:
				case 4:
				case 5:
					displayPlacement.innerHTML = "Single";
					break;
				case 6:
				case 7:
				case 8:
				case 9:
				case 10:
				case 11:
				case 12:
				case 13:
				case 14:
				case 15:
					displayPlacement.innerHTML = "Couple";
					break;
				case 16:
					displayPlacement.innerHTML = "Mixed Single";
					break;
				case 17:
					displayPlacement.innerHTML = "Mixed Couple";
					break;
				case 18:
					/* three people */
					displayPlacement.innerHTML = "Second Chance";
					break;
				case 19:
					displayPlacement.innerHTML = "Single with help";
					break;
				case 20:
					displayPlacement.innerHTML = "Mixed Single with Help"
					break;
				case 21:
					/* three people */
					displayPlacement.innerHTML = "Couple with Help";
					break;
				case 22:
					displayPlacement.innerHTML = "Mixed Couple with Help"
					break;
				case 23:
					/* three people */
					displayPlacement.innerHTML = "Single with 2 Helpers";
					break;
				case 24:
					/* three people */
					displayPlacement.innerHTML = "Mixed Single with 2 Helpers";
					break;
				case 25:
					// four people
					displayPlacement.innerHTML = "Single with 3 Helpers";
					break;
				default:

			}

		}

		function generateChildren()
		{
		    var displayPlacement = document.getElementById("noChildrenText");
		    var displayNum = document.getElementById("noChildrenNum");
			var randomNumber;

			randomNumber = Math.floor((Math.random() * 10) + 1);

			switch (randomNumber)
			{
				case 1:
				case 2:
				    displayPlacement.innerHTML = "One";
				    //displayNum.innerHTML = randomNumber;
				    childrenNum = 1;
				    break;
				case 3:
				case 4:
				case 5:
				case 6:
				    displayPlacement.innerHTML = "Two";
				    //displayNum.innerHTML = randomNumber;
				    childrenNum = 2;
				    break;
				case 7:
				case 8:
				    displayPlacement.innerHTML = "Three";
				    //displayNum.innerHTML = randomNumber;
				    childrenNum = 3;
				    break;
				case 9:
				    displayPlacement.innerHTML = "Four";
				    //displayNum.innerHTML = randomNumber;
				    childrenNum = 4;
				    break;
				case 10:
				    displayPlacement.innerHTML = "Five";
				    //displayNum.innerHTML = randomNumber;
				    childrenNum = 5;
				    break;
				default:
					displayPlacement.innerHTML = "None";
					break;
            }

            document.getElementById("buttonChildren").style.visibility = "visible";
            document.getElementById("childrenList").innerHTML = generateBoysGirls( childrenNum );
        }

        function generateBoysGirls( numChildren )
        {

            var desc = "";
            var boyGirlList = "<br />";
            var numLoop = 0;

            do
            {

                randomNumber = Math.floor((Math.random() * 2) + 1);

                switch (randomNumber)
                {
                    case 1:
                        desc = "Boy";
                        break;
                    case 2:
                        desc = "Girl";
                        break;
                }

                numLoop++;

                boyGirlList += desc + "<br />";

            } while (numLoop < numChildren);

            return boyGirlList;
        }

		// * ************************** *
		// *
		// * ************************** *

		function getSecondaryIncome()
		{
			// * get a secondary income if two or more people

			if (familyNum > 5)
			{
				document.getElementById("secondaryIncomeText").innerHTML = generateSecondaryIncome();
			}
			else
			{
				document.getElementById("secondaryIncomeText").innerHTML = "n/a";
			}
		}

		// * ************************** *

		function generateStandard()
		{
			var desc = "Fortune Teller (Con Artist)";
			randomNumber = Math.floor((Math.random() * 29) + 1);

			switch (randomNumber) {
				case 1:
					desc = "Entertainer(Musician)";
					break;
				case 2:
					desc = "Entertainer(Comedian)";
					break;
				case 3:
					desc = "Writer(Author)";
					break;
				case 4:
					desc = "Writer(Journalist)";
					break;
				case 5:
					desc = "Painter(Master of the Real)";
					break;
				case 6:
					desc = "Painter(Patron of the Arts)";
					break;
				case 7:
					desc = "Secret Agent(Diamond Agent)";
					break;
				case 8:
					desc = "Secret Agent(Villain)";
					break;
				case 9:
					desc = "Criminal(Boss)";
					break;
				case 10:
					desc = "Criminal(Oracle)";
					break;
				case 11:
					desc = "Astronomer(Space Ranger)";
					break;
				case 12:
					desc = "Astronomer(Smuggler)";
					break;
				case 13:
					desc = "Culinary(Chef)";
					break;
				case 14:
					desc = "Culinary(Mixologist)";
					break;
				case 15:
					desc = "Tech Guru(eSport Gamer)";
					break;
				case 16:
					desc = "Tech Guru(Start-up Entrepeneur)";
					break;
			    case 17:
			        desc = "Business(Management)";
			        break;
			    case 18:
			        desc = "Business(Investor)";
			        break;
			    case 19:
			        desc = "Athlete(Bodybuilder)";
			        break;
			    case 20:
			        desc = "Athlete(Professional Athlete)";
			        break;
			    case 21:
			        desc = "Doctor";
			        break;
			    case 22:
			        desc = "Detective";
			        break;
			    case 23:
			        desc = "Scientist";
			        break;
			    case 24:
			        desc = "Critic(Art)";
			        break;
			    case 25:
			        desc = "Critic(Food Critic)";
			        break;
			    case 26:
			        desc = "Politician(Charity Organiser)";
			        break;
			    case 27:
			        desc = "Politician(Politician)";
			        break;
			    case 28:
			        desc = "Social Media(Internet Personality)";
			        break;
			    case 29:
			        desc = "Social Media(Public Relations)";
			        break;

			}

			return desc;
		}

		function generateNonStandard()
		{
			var desc = "Alchemist";
			randomNumber = Math.floor((Math.random() * 16) + 1);

			switch (randomNumber) {
				case 1:
					desc = "Freelance Painter";
					break;
				case 2:
					desc = "Freelance Author";
					break;
				case 3:
					desc = "Freelance Musician";
					break;
				case 4:
					desc = "Gardener";
					break;
				case 5:
					desc = "Fishersim";
					break;
				case 6:
					desc = "Treasure Hunter";
					break;
				case 7:
					desc = "Carpenter";
					break;
				case 8:
					desc = "Freelance Comedian";
					break;
				case 9:
					desc = "Freelance Programmer";
					break;
				case 10:
					desc = "Space Explorer";
					break;
				case 11:
					desc = "Professional Gamer";
					break;
				case 12:
					desc = "Cybercriminal";
					break;
				case 13:
					desc = "Professional Host/Hostess";
					break;
			    case 14:
			        desc = "Remedy Brewer";
			        break;
			    case 15:
			        desc = "Freelance photographer";
			        break;
			    case 16:
			        desc = "DJ";
			        break;
			}

			return desc;
		}

		function generateProfession()
		{
			var desc = "Vocalist";
			randomNumber = Math.floor((Math.random() * 11) + 1);

			switch (randomNumber) {
				case 1:
					desc = "Architect";
					break;
				case 2:
					desc = "Fire Fighter";
					break;
				case 3:
					desc = "Ghost Hunting";
					break;
				case 4:
					desc = "Medical";
					break;
				case 5:
					desc = "Private Investigator";
					break;
				case 6:
					desc = "Stylist";
					break;
				case 7:
					desc = "Movies (Film)";
					break;
				case 8:
					desc = "Movies (Director)";
					break;
				case 9:
					desc = "Acrobat";
					break;
				case 10:
					desc = "Magician";
					break;
			}

			return desc;


		}


		function checkForRepeat(randomNumber, jobsNumbers, numJobs)
		{
			var num = 0;

			while (num < numJobs)
			{
				if (randomNumber == jobsNumbers[num]) return true;
				num++;
			}

			return false;
		}


		function generateJobHopper() {

			var desc = "";
			var jobList = "<br />";
			var numJobs = 0;
			var jobNumbers = new Array();
			var jobDesc = new Array();

			do {

				// generate random number, check not a repeat

				if (numJobs == 0)
					randomNumber = Math.floor((Math.random() * 10) + 1);
				else
					do {
						randomNumber = Math.floor((Math.random() * 10) + 1);
					}
					while (checkForRepeat(randomNumber, jobNumbers, numJobs));

				switch (randomNumber) {
				case 1:
					desc = "Entertainer";
					break;
				case 2:
					desc = "Writer";
					break;
				case 3:
					desc = "Painter";
					break;
				case 4:
					desc = "Secret Agent";
					break;
				case 5:
					desc = "Criminal";
					break;
				case 6:
					desc = "Astronomer";
					break;
				case 7:
					desc = "Culinary";
					break;
				case 8:
					desc = "Tech Guru";
					break;
				case 9:
				    desc = "Business";
					break;
				case 10:
				    desc = "Athlete";
				    break;
				}

				jobNumbers[numJobs] = randomNumber;
				jobDesc[numJobs] = desc;

				numJobs++;

				jobList += desc + "<br />";

			} while (numJobs < 5);

			return jobList;
		}

		/* primary career */
		function generatePrimaryIncome()
		{
			var displayPlacement = document.getElementById("primaryIncomeText");
			var randomNumber;
			var desc;

			randomNumber = Math.floor((Math.random() * 10) + 1);

			if( randomNumber < 7)
			{
				/* range 1 to 6 standard Conventional career */
				desc = displayPlacement.innerHTML = generateStandard();
			}
			else
				if( randomNumber < 10 )
				{
					/* range 7 to 9 non standard Unconventional career */
					desc = displayPlacement.innerHTML = generateNonStandard();
				}
				else
					if( randomNumber == 10 )
					{
						/* 10 Job Hopper */
						desc = displayPlacement.innerHTML = "Job Hopper";
					}

			primaryIncomeNum = randomNumber;

			return desc;
		}

		function generateFourthPrimaryIncome()
		{
			var displayPlacement = document.getElementById("fourthIncomeText");
			var randomNumber;
			var desc;

			randomNumber = Math.floor((Math.random() * 20) + 1);

			if (randomNumber < 10) {
				/* range 1 to 9 standard career */
				desc = displayPlacement.innerHTML = generateStandard();
			}
			else
				if (randomNumber < 14) {
					/* range 10 to 13 non standard career */
					desc = displayPlacement.innerHTML = generateNonStandard();
				}
				else
					if (randomNumber < 19) {
						/* range 14 to 19 profession */
						desc = displayPlacement.innerHTML = generateProfession();
					}
					else {
						/* 20 Job Hopper */
						desc = displayPlacement.innerHTML = "Job Hopper";
					}

			fourthIncomeNum = randomNumber;

			return desc;

		}

		// * *************************** *
		// * secondary income
		// * *************************** *

		function generateSecondaryIncome()
		{

			// 1-3		standard Career
			// 4-8		Non standard
			// 10		No job
			// 9		Job hopper

			var randomNumber;
			var displayText;

			/* random number between 1 & 14 */
			randomNumber = Math.floor((Math.random() * 10) + 1);

			switch ( randomNumber )
			{
				case 1:
				case 2:
				case 3:
					// standard career
					displayText = generateStandard();
					break;
				case 4:
				case 5:
				case 6:
				case 7:
				case 8:
					// non standard
					displayText = generateNonStandard();
					break;
				case 9:
					displayText = "Job Hopper";
					break;
				case 10:
					displayText = "No Job";
					break;
			}

			return displayText;

		}

		function generateThirdIncome()
		{
			//as secondary if 3 adults as primary if four adults
			var displayPlacement = document.getElementById("thirdIncomeText");

			/* check for third person */

			if (familyNum > 20)
			{
				document.getElementById("thirdIncomeText").innerHTML = generateSecondaryIncome();
			}
			else
			{
				document.getElementById("thirdIncomeText").innerHTML = "n/a";
			}

		}

		function generateFourthIncome()
		{

			if( familyNum < 25 )
			{
				document.getElementById("fourthIncomeText").innerHTML = "n/a";
			}
			else
			{
				document.getElementById("fourthIncomeText").innerHTML = generateSecondaryIncome();
			}
		}

		function generateGenerationalGoal()
		{

			/* random number between 1 & 15 */
		    var randomNumber;
		    var displayText;

			generationalGoalNum = randomNumber = Math.floor((Math.random() * 12) + 1);

			document.getElementById("generationalGoalNum").innerHTML = generationalGoalNum;

			switch (randomNumber) {
			    case 1:
			        displayText = "Perfect Careers";
			        break;
			    case 2:
			        displayText = "Fulfilled";
			        break;
			    case 3:
			        displayText = "Perfect Children";
			        break;
			    case 4:
			        displayText = "Dependable";
			        break;
			    case 5:
			        displayText = "Expansionist";
			        break;
			    case 6:
			        displayText = "Collector";
			        break;
			    case 7:
			        displayText = "Deadbeat Parents";
			        break;
			    case 8:
			        displayText = "Change of Scenery";
			        break;
			    case 9:
			        displayText = "Party King/Party Queen";
			        break;
			    case 10:
			        displayText = "Idle Careers";
			        break;
			    case 11:
			        displayText = "Friendship is Forever";
			        break;
			    case 12:
			        displayText = "Midlife Crisis";
			        break;
			    case 13:
			        displayText = "Hobby or Obsession";
			        break;
			}

			document.getElementById("generationalGoalText").innerHTML = displayText;

			return displayText;

		}

		function generateMicsFun() {

			/* random number between 1 & 15 */
		    var randomNumber;
		    var displayText;
			miscFunNum = randomNumber = Math.floor((Math.random() * 16) + 1);

			document.getElementById("miscFunNum").innerHTML = miscFunNum;

			switch (randomNumber) {
			    case 1:
			        displayText = "Random";
			        break;
			    case 2:
			        displayText = "Partier";
			        break;
			    case 3:
			        displayText = "Mischief Managed";
			        break;
			    case 4:
			        displayText = "Moody";
			        break;
			    case 5:
			        displayText = "Homemade";
			        break;
			    case 6:
			        displayText = "Runs in the Family";
			        break;
			    case 7:
			        displayText = "Perfect Attendance";
			        break;
			    case 8:
			        displayText = "Half-Sibling";
			        break;
			    case 9:
			        displayText = "Half-Siblings";
			        break;
			    case 10:
			        displayText = "Fighter";
			        break;
			    case 11:
			        displayText = "Joker";
			        break;
			    case 12:
			        displayText = "Health Nut";
			        break;
				case 13:
			        displayText = "Gourmet";
			        break;
				case 14:
			        displayText = "Hands Off!";
			        break;
				case 15:
			        displayText = "Hobbyist";
			        break;
				case 16:
			        displayText = "My Precious";
			        break;
			}

			document.getElementById("miscFunText").innerHTML = displayText;

			return displayText;

		}

		function goJobHoppers()
		{
			// check each job text for text match

			if (document.getElementById("primaryIncomeText").innerHTML == "Job Hopper") {

				document.getElementById("buttonPrimary").style.visibility = "visible";
				document.getElementById("jobListPrimary").innerHTML = generateJobHopper();
			}

			if (document.getElementById("secondaryIncomeText").innerHTML == "Job Hopper") {

				document.getElementById("buttonSecondary").style.visibility = "visible";
				document.getElementById("jobListSecondary").innerHTML = generateJobHopper();
			}

			if (document.getElementById("thirdIncomeText").innerHTML == "Job Hopper") {

				document.getElementById("buttonThird").style.visibility = "visible";
				document.getElementById("jobListThird").innerHTML = generateJobHopper();
			}

			if (document.getElementById("fourthIncomeText").innerHTML == "Job Hopper") {

				document.getElementById("buttonfourth").style.visibility = "visible";
				document.getElementById("jobListFourth").innerHTML = generateJobHopper();
			}
		}


		function randomGenerate() {

			var numberTo = parseInt(document.getElementById("genToNumber").value)

			//numberTo = 10

			var randomNumber = Math.floor((Math.random() * numberTo) + 1);

			document.getElementById("randomNumber").innerHTML = randomNumber

		}


		function resetDisplay()
		{
		    document.getElementById("familyText").innerHTML = "";
		    document.getElementById("familyNum").innerHTML = "";

			document.getElementById("noChildrenText").innerHTML = "";
			document.getElementById("noChildrenNum").innerHTML = "";
			document.getElementById("buttonChildren").style.visibility = "hidden";

			//document.getElementById("primaryIncomeDesc").innerHTML = "";
			document.getElementById("primaryIncomeText").innerHTML = "";
			document.getElementById("primaryIncomeNum").innerHTML = "";
			document.getElementById("buttonPrimary").style.visibility = "hidden";

			//document.getElementById("secondaryIncomeDesc").innerHTML = "";
			document.getElementById("secondaryIncomeText").innerHTML = "";
			document.getElementById("secondaryIncomeNum").innerHTML = "";
			document.getElementById("buttonSecondary").style.visibility = "hidden";

			//document.getElementById("thirdIncomeDesc").innerHTML = "";
            document.getElementById("thirdIncomeText").innerHTML = "";
			document.getElementById("thirdIncomeNum").innerHTML = "";
			document.getElementById("buttonThird").style.visibility = "hidden";

			//document.getElementById("fourthIncomeDesc").innerHTML = "";
			document.getElementById("fourthIncomeText").innerHTML = "";
			document.getElementById("fourthIncomeNum").innerHTML = "";
			document.getElementById("buttonFourth").style.visibility = "hidden";

			//document.getElementById("generationalGoalText").innerHTML = "";
			//document.getElementById("generationalGoalNum").innerHTML = "";

			//document.getElementById("miscFunText").innerHTML = "";
			//document.getElementById("miscFunNum").innerHTML = "";


			document.getElementById("childrenBox").style.display = 'none';
			document.getElementById("primaryBox").style.display = 'none';
			document.getElementById("secondaryBox").style.display = 'none';
			document.getElementById("thirdBox").style.display = 'none';
			document.getElementById("fourthBox").style.display = 'none';
		}

		//* ******************* *

		function openClose( box )
		{
			if (document.getElementById(box).style.display == 'block') {
				document.getElementById(box).style.display = 'none';
			}
			else {
				document.getElementById(box).style.display = 'block';
			}
		}


</script>

<div class="container">
    <div class="page-header">
        <h2>Random Family Generator</h2>
    </div>

    <div class="content">

        <!-- header banner section -->
        <div class="topsection">
            <strong>Sims 4 Random Generator</strong>
        </div>

        <table style="width:550px; margin-left:auto; margin-right:auto;">
            <tr>
                <th style="width:200px;"></th>
                <th style="width:260px;">Trait</th>
                <th style="width:50px;"></th>
                <th style="width:40px;"></th>
            </tr>
            <tr>
                <td style="width:200px;" id="familyDesc">Family</td>
                <td id="familyText"></td>
                <td id="familyNum"></td>
                <td></td>
            </tr>
            <tr>
                <td id="noChildrenDesc">Number of Children</td>
                <td id="noChildrenText"></td>
                <td id="noChildrenNum"></td>
                <td id="noChildrenButton">
                    <button style="visibility:hidden" id="buttonChildren" onclick="openClose('childrenBox')">Boy/Girl</button>
                    <div style="position:relative;">
                        <div id='childrenBox' class="childrenBox">
                            Boys and Girls
                            <br /><hr />
                            <span id="childrenList"></span>
                            <br /><hr />

                            <div style='text-align: right;'>
                                <button onclick="openClose('childrenBox')">Close</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="primaryIncomeDesc">Primary Income</td>
                <td id="primaryIncomeText"></td>
                <td id="primaryIncomeNum"></td>
                <td id="primaryIncomeButton">
                    <button style="visibility:hidden" id="buttonPrimary" onclick="openClose('primaryBox')">Go</button>
                    <div style="position:relative;">
                        <div id='primaryBox' class="primaryBox">
                            Job Hopper (Primary Job)
                            <br /><hr />
                            <span id="jobListPrimary"></span>
                            <br /><hr />

                            <div style='text-align: right;'>
                                <button onclick="openClose('primaryBox')">Close</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="secondaryIncomeDesc">Secondary Income</td>
                <td id="secondaryIncomeText"></td>
                <td id="secondaryIncomeNum"></td>
                <td id="secondaryIncomeButton">
                    <button style="visibility:hidden" id="buttonSecondary" onclick="openClose('secondaryBox')">Go</button>
                    <div style="position:relative;">
                        <div id='secondaryBox' class="secondaryBox">
                            Job Hopper (Secondary Income)
                            <br /><hr />
                            <span id="jobListSecondary"></span>
                            <br /><hr />

                            <div style='text-align: right;'>
                                <button onclick="openClose('secondaryBox')">Close</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="thirdIncomeDesc">Third Income</td>
                <td id="thirdIncomeText"></td>
                <td id="thirdIncomeNum"></td>
                <td id="thirdIncomeButton">
                    <button style="visibility:hidden" id="buttonThird" onclick="openClose('thirdBox')">Go</button>
                    <div style="position:relative;">
                        <div id='thirdBox' class="thirdBox">
                            Job Hopper (Third Income)
                            <br /><hr />
                            <span id="jobListThird"></span>
                            <br /><hr />

                            <div style='text-align: right;'>
                                <button onclick="openClose('thirdBox')">Close</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="fourthIncomeDesc">Forth Income</td>
                <td id="fourthIncomeText"></td>
                <td id="fourthIncomeNum"></td>
                <td id="fourthIncomeButton">
                    <button style="visibility:hidden" id="buttonFourth" onclick="openClose('fourthBox')">Go</button>
                    <div style="position:relative;">
                        <div id='fourthBox' class="fourthBox">
                            Job Hopper (Fourth Income)
                            <br /><hr />
                            <span id="jobListFourth"></span>
                            <br /><hr />

                            <div style='text-align: right;'>
                                <button onclick="openClose('fourthBox')">Close</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <!--<tr>
                <td id="generationalGoalDesc" >Generation Goal</td>
                <td id="generationalGoalText" ></td>
                <td id="generationalGoalNum" ></td>
                <td></td>
            </tr>
            <tr>
                <td id="miscFunDesc" >Misc fun</td>
                <td id="miscFunText" ></td>
                <td id="miscFunNum" ></td>
                <td></td>
            </tr>-->
        </table>

        <br />

        <table style="width:500px; margin-left:auto; margin-right:auto;">
            <tr>
                <td>
                    <button id="buttonGenerate" onclick="generate()">Generate</button>
                    <button id="buttonReset" onclick="resetDisplay()">Reset</button>
                </td>
            </tr>
        </table>

        <br />

        <div class="footer">&nbsp;</div>
        <br />
        <table style="width:500px; margin-left:auto; margin-right:auto;">
            <tr>
                <td>Random Number 1 to <input type="text" name="genToNumber" MaxLength="2" Size="1" id="genToNumber"></td>
                <td><button id="buttonRandomGenerate" onclick="randomGenerate()">Generate</button></td>
                <td id="randomNumber"></td>
            </tr>
        </table>
        <br />
        <div class="footer">&nbsp;</div>


    </div>

</div>