﻿
@{
    ViewBag.Title = "LFC - Fixtures";
    Layout = "~/Areas/Footie/Views/Shared/_FixturesLayout.cshtml";
}

<h2>Premiership 2016/2017</h2>

<script src="~/Scripts/defiantjs.js"></script>
<script src="~/Scripts/Home/footballfixturesCalendar.js"></script>
<script src="~/Scripts/Area/Football/Fixtures.js"></script>

<style>
    thead {
        color:lightpink
    }


</style>

<!-- show fixtures -->

<div class="row">
    <div class="col-lg-12">
        <div style="width:100%;text-align:center;">
            <p style="font-size:xx-large;">Matches</p>
        </div>
    </div>

    <div class="col-lg-12">
        <div style="width:100%;text-align:center;">
            <hr />
        </div>
    </div>

    <div class="col-lg-12">
        <div>
            <table style="width:100%;text-align:center;">
                <thead>
                    <tr>
                        <td style="width:25%;text-align:right">Home&nbsp;&nbsp;</td>
                        <td>&nbsp;v&nbsp;</td>
                        <td style="width:25%;text-align:left;">&nbsp;&nbsp;Away</td>
                        <td style="width:40%;text-align:right;"></td>
                        <td style="width:6%;text-align:right;"></td>
                    </tr>
                </thead>
                <tbody id="ftb">
                    <!-- markup here -->
                </tbody>
            </table>
        </div>
    </div>



    <div id="MatchesMarkUp"></div>

</div>