﻿
@{
    ViewBag.Title = "Aspirations";
}

<script type="text/javascript" src="~/Scripts/Max4Sims/aspirations.js"></script>

<script type="text/javascript">

    function generateAspirationNow()
    {
        clearTrait();
        $("#aspirationTextA").html(generateAspiration());
    }

    function clearAspiration()
    {
        $("#aspirationTextA").empty();
    }

    function generateTraitNow()
    {
        var traits;

        clearAspiration();

        $("#traitTextA").html(generateTrait().Text);
        $("#traitTextB").html(generateTrait().Text);
        $("#traitTextC").html(generateTrait().Text);
    }

    function clearTrait()
    {
        $("#traitTextA").empty();
        $("#traitTextB").empty();
        $("#traitTextC").empty();
    }

    function closeMeNow()
    {
        window.open("../../index.aspx","_self");
    }

</script>

    <h2>Max's Sims4&nbsp;<small>Aspirations</small></h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Aspiration Generator</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <input id="ButtonBarAspirations" type="submit" value="Aspiration" class="btn btn-default" onclick="generateAspirationNow();" />
                    <input id="ButtonBarTraits" type="submit" value="Traits" class="btn btn-default" onclick="generateTraitNow();" />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <span id="aspirationTextA" style="font-size:large;text-transform:capitalize;"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span id="traitTextA" style="font-size:large;text-transform:capitalize;"></span>
                    <br />
                    <span id="traitTextB" style="font-size:large;text-transform:capitalize;"></span>
                    <br />
                    <span id="traitTextC" style="font-size:large;text-transform:capitalize;"></span>
                </div>
            </div>

        </div>
    </div>

