﻿
<div class="row">
    <div class="col-xs-12 text-left">
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink("Table   ", "TableStandings", "Football", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Results ", "MatchDays", "Football", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Fixtures", "Fixtures", "Football", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Stats   ", "TableStandings", "Football", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
