﻿@model WebSite.ViewModels.FixturesVM

@{
    ViewBag.Title = "AllFixtures";
}

<h2>Seasons Fixtures</h2>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
        @{ foreach (var fixture in Model.Fixtures)
            {
                <tr>
                    <td>
                        @fixture.Schedule
                    </td>
                    <td>
                        @fixture.Opposition
                    </td>
                    <td>
                        @fixture.HomeAway
                    </td>
                </tr>            
            }
        }
        </table>
    </div>
</div>

