﻿@model List<WebSite.ViewModels.Football.MatchViewModel>

@{
    ViewBag.Title = "Fixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_navBar")

<h2>Premiership Fixtures</h2>

<div class="row" style="margin: 0px auto;" >
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <table class="table table-striped table-condensed" style="font-size:small;">
            <thead style="background-color:darkgray">
                <tr>
                    <td>
                        Game
                    </td>
                    @*<td>

                    </td>*@
                    <td>
                        <!-- Icon -->
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>

                    </td>

                </tr>
            </thead>

            @foreach (var item in Model )
            {
                <tr id="Game" data-GameID="@item.id">
                    @*<td>
                        @Html.DisplayFor(modelItem => item.matchday)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.utcDate)
                    </td>
                    <td>
                        @*<img src="@item.team.crestUrl" height="25" width="25" />*@
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.homeTeam.name)
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.score.fullTime.homeTeam)</strong>
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.score.fullTime.awayTeam)</strong>                
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.awayTeam.name)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel">
            <div>
                <h4>Lastest Match</h4>
            </div>
            <div>
                <h4>Next match</h4>
            </div>
        </div>
    </div>
</div>