﻿
@{
    ViewBag.Title = "Football";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body{
        background-image:none;
    }
</style>

<h2>Football</h2>

<div class="row">
    <div class="col-lg-2 col-sm-12">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Matches</a></li>
            <li role="presentation"><a href="#">Standings</a></li>
            <li role="presentation"><a href="#">Statistics</a></li>
        </ul>
    </div>
</div>