﻿@model WebSite.Domain.TableStandings

@{
    ViewBag.Title = "TableStandings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_navBar")

<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12">
        <h2>Premier League Table&nbsp;<small><span class="glyphicon glyphicon-question-sign pull-right" aria-hidden="true" id="LeagueInfo"></span></small></h2>
    </div>
</div>

<!-- League Details -->
<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12">
        Season Details
        Started : @Model.season.startDate
        Ends : @Model.season.endDate
        Current Match Day : @Model.season.currentMatchday
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12">
        <table class="table table-striped table-condensed" style="font-size:small">
            <thead style="background-color:darkgray">
                <tr>
                    <td>
                        Position
                    </td>
                    <td>
                        <!-- Icon -->
                    </td>
                    <td>
                        Team
                    </td>
                    <td>
                        Played
                    </td>
                    <td>
                        Won
                    </td>
                    <td>
                        Draw
                    </td>
                    <td>
                        Lost
                    </td>
                    <td>
                        GD
                    </td>
                    <td>
                        Points
                    </td>
                </tr>
            </thead>

            @foreach (var item in Model.standings[0].table)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.position)
                    </td>
                    <td>
                        <img src="@item.team.crestUrl" height="25" width="25" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.team.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playedGames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.won)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.draw)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.goalDifference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.points)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div>
    Updated on : @Model.competition.lastUpdated
</div>