﻿
@{
    ViewBag.Title = "Trains";
}


<script>

    function partialView(identifier, tableRow) {

        var urlAction = '@Url.Action("LocomotiveDetails", "Home")' + '?identifier=' + identifier;

        $.get(urlAction, function (result) {

            $('#LocoDetails-'+tableRow).html(result);
        });
    }

    $(document).ready(function () {

        $("tr[id^='LocoRow']").on('click', function () {

            $(this).next('tr').removeClass('hidden').addClass('show');

            $("tr[id^='LocoDetails']").on('click', function () {

                $(this).removeClass('show').addClass('hidden');
            });

            partialView($(this).attr('data-locoID'),$(this).attr('data-tableRow'));
        });

    });

</script>

<style>

    .decoration {
        border: 2px solid black;
        padding: 25px;
        background-image: url('../../../../Content/Images/trainBackground.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        min-height: 425px;
    }

</style>

<div class="container">

    @section Header {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Trains</h2>
            </div>
        </div>

        <div class="row decoration" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btn-group">
                    @Html.ActionLink("Locomotives", "locomotive", "Locomotive", new { area = "Trains" }, new { @class = "btn btn-info btn-md" })
                    @Html.ActionLink("Wagons", "Wagons", "Wagons", new { area = "Trains" }, new { @class = "btn btn-info btn-md" })
                    @Html.ActionLink("Coaches", "Coaches", "Coaches", new { area = "Trains" }, new { @class = "btn btn-info btn-md" })

                    <!-- Split button decoders -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Decoders</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Hornby", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 2 }, null)</li>
                            <li>@Html.ActionLink("Hornby TTS", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 4 }, null)</li>
                            <li>@Html.ActionLink("Bachmann 36-353", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 8 }, null)</li>
                            <li>@Html.ActionLink("Bachmann 36-356", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 16 }, null)</li>
                            <li>@Html.ActionLink("Lais 860021 v3", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 32 }, null)</li>
                            <li>@Html.ActionLink("Lais 860018 v4", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 64 }, null)</li>
                            <li>@Html.ActionLink("Lais 860018 v1", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 128 }, null)</li>
                            <li><a href="#">Hattons</a></li>
                            <li>@Html.ActionLink("GuageMaster", "DccDecoderDetails", "Dcc", new { area = "Trains", identifier = 1024 }, null)</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Decoders", "DecoderDescription", "dcc", new { area = "Trains" },null)</li>
                        </ul>
                    </div>
                    <!-- Split button decoders -->
                </div>
            </div>
        </div>
    }

    @section MainBody {


    }

    @section Footer {
        <footer>
            <div class="row">

            </div>
            <div>&copy; DDM Trains 2017</div>
        </footer>
    }

</div>


