﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDM WebSite</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("Scripts", required: false)

</head>
<body>
    <div class="container" style="background-color:none">
        <br />
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Larry Loves Liverpool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:red;font-size:x-large;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Football", "Index", "Home", new {  area = "Footie" }, null )</li>
                    <li>@Html.ActionLink("Sims 4", "Index", "Home", new { area = "Max4Sims" }, null)</li>
                    <li>@Html.ActionLink("Development", "Index", "Home", new { area = "Development" }, null)</li>
                    <li>@Html.ActionLink("Model Trains", "Index", "Home", new { area = "Trains" }, null)</li>
                    <li>@Html.ActionLink("Bookmarks", "Bookmarks", "Home")</li>
                    <li>@Html.ActionLink("ToDo", "Index", "ToDoTasks")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color:black;color:white">
                <div><br /></div>
                <footer>
                    @{ Html.RenderPartial("../Shared/_SystemInformation");}
                </footer>
                <div><br /></div>
            </div>
        </div>
    </div>


</body>
</html>
