﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Astronaut</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Intern
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    8am-5pm.
                </td>
                <td>
                    Play Chess
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Module Cleaner
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    12pm-9pm.
                </td>
                <td>
                    Play Chess
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Technician
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    1pm-9pm.
                </td>
                <td>
                    Play Chess
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Command Centre Leader
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    2pm-10pm.
                </td>
                <td>
                    Work Out
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Low-orbit Specialist
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    8am-5pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Space Cadet
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    6am-4pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
                <td>
                    Astronaut
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    8am-6pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Space Ranger</strong></caption>
            @*<tr class="headingExtra">
                <th style="width:10%">
                    Job Level
                </th>
                <th>
                    Job Title
                </th>
                <td>
                    Days
                </td>
                <th>
                    Hours
                </th>
                <th>
                    Daily Task
                </th>
            </tr>*@
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Planet Patrol
                </td>
                <td class="faintWeekdays headingJobDays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    10am-6pm
                </td>
                <td class="headingJobTasks">
                    Space Mission
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Sheriff of the Stars
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    10am-5pm
                </td>
                <td class="headingJobTasks">
                    Space Mission
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Space Ranger
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    10am-5pm
                </td>
                <td>
                    Space Mission
                </td>
            </tr>

        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Interstellar Smuggler</strong></caption>
            @*<tr class="headingExtra">
                <th style="width:10%">
                    Job Level
                </th>
                <th style="width:40%">
                    Job Title
                </th>
                <th style="width:10%">
                    Days
                </th>
                <th style="width:15%">
                    Hours
                </th>
                <th style="width:25%">
                    Daily Task
                </th>
            </tr>*@
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Moon Mercenary
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td  class="headingJobHours">
                    4pm-12am
                </td>
                <td class="headingJobTasks">
                    Space Mission
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    Alien Goods Trader
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    4pm-11pm
                </td>
                <td>
                    Space Mission
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Interstellar Smuggler
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-11pm
                </td>
                <td>
                    Space Mission
                </td>
            </tr>
        </table>
    </div>
</div>