﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Athlete</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Water Person
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-9pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Locker Room Attendant
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-9pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Team Mascot
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-9pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Dance Team Captain
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-9pm
                </td>
                <td>
                    Work Out
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Bodybuilder</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Personal Trainer
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    7am-2pm
                </td>
                <td>
                    Mentor Fitness
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Professional Bodybuilder
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    7am-2pm
                </td>
                <td>
                    Mentor Fitness
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td class="headingJobTitle">
                    Champion Bodybuilder
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    7am-2pm
                </td>
                <td>
                    Mentor Fitness
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td class="headingJobTitle">
                    Trainer to the Stars
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    8am-2pm
                </td>
                <td>
                    Mentor Fitness
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Celebrity Bodybuilder
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    9am-3pm
                </td>
                <td class="headingJobTasks">
                    Mentor Fitness
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Mr/Mrs Solar System
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    10am-4pm
                </td>
                <td>
                    Mentor Fitness
                </td>
            </tr>

        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Pro Athlete</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    5
                </td>
                <td class="headingJobTitle">
                    Minor Leaguer
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-9pm
                </td>
                <td class="headingJobTasks">
                    Study Opponents
                </td>
            </tr>
            <tr>
            <td class="headingJobLevel">
                6
            </td>
            <td class="headingJobTitle">
                Rookie
            </td>
            <td class="faintWeekdays headingJobDays">
                <span class="activeWeekday">S</span>
                M
                <span class="activeWeekday">T</span>
                <span class="activeWeekday">W</span>
                T
                <span class="activeWeekday">F</span>
                <span class="activeWeekday">S</span>
            </td>
            <td class="headingJobHours">
                2pm-9pm
            </td>
            <td class="headingJobTasks">
                Study Opponents
            </td>
            </tr>
            <tr>
            <td class="headingJobLevel">
                7
            </td>
            <td class="headingJobTitle">
                Starter
            </td>
            <td class="faintWeekdays headingJobDays">
                <span class="activeWeekday">S</span>
                M
                <span class="activeWeekday">T</span>
                <span class="activeWeekday">W</span>
                T
                <span class="activeWeekday">F</span>
                <span class="activeWeekday">S</span>
            </td>
            <td class="headingJobHours">
                2pm-9pm
            </td>
            <td class="headingJobTasks">
                Study Opponents
            </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    All-Star
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-9pm
                </td>
                <td class="headingJobTasks">
                    Study Opponents
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    MVP
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    3pm-9pm
                </td>
                <td class="headingJobTasks">
                    Study Opponents
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Hall of Famer
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    3pm-9pm
                </td>
                <td class="headingJobTasks">
                    Study Opponents
                </td>
            </tr>
        </table>
    </div>
</div>
