﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Business</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Mailroom Technician
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Fill Out Reports
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Office Assistant
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Fill Out Report
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Assistant to the Manager
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Fill Out Report
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Assistant Manager
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Fill Out Reports
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Regional Manager
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Fill Out Reports
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Senior Manager
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Fill Out Reports
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Management</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Vice-President
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-6pm
                </td>
                <td class="headingJobTasks">
                    Make Business Calls
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    President
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-6pm
                </td>
                <td class="headingJobTasks">
                    Make Business Calls
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    CEO
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-6pm
                </td>
                <td class="headingJobTasks">
                    Make Business Calls
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    Business Tycoon
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-6pm
                </td>
                <td class="headingJobTasks">
                    Make Business Calls
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Investor</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Futures Trader
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Research Stocks
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Hedge Fund Manager
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Research Stocks
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Corporate Raider
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Research Stocks
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    Angel Investor
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Research Stocks
                </td>
            </tr>
        </table>
    </div>
</div>
