﻿

<style>
    .heading {
        font-weight: bold;
        font-size: larger;
        height: 42px;
        background-color: blanchedalmond;
        text-align: center;
    }

    .headingExtra {
        font-weight: bold;
        height: 30px;
        background-color: cornsilk;
        text-align: center;
    }

    .headingJobLevel {
        width: 10%;
        vertical-align: middle;
    }

    .headingJobTitle {
        width: 30%;
        vertical-align: middle;
    }

    .headingJobDays {
        width: 15%;
        vertical-align: middle;
        text-align: center;
    }

    .headingJobHours {
        width: 15%;
        vertical-align: middle;
    }

    .headingJobTasks {
        width: 30%;
        vertical-align: middle;
    }

    .tableRow {
        background-color: whitesmoke;
    }

    .tableRowAlt {
    }

    .faintWeekdays {
        color: lightgrey;
        text-align: center;
    }

    .activeWeekday {
        color: green;
    }

    .captiontext {
        text-align: left;
        color: black;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Criminal</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Tough Guy/Gal
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    5pm-12am
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Petty Thief
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    8pm-3am
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Ring Leader
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    8pm-4am
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Felonious Monk
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    7pm-2am
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Minor Crimelord
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    7pm-2am
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Boss</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td>
                    6
                </td>
                <td>
                    The Muscle
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    10pm-4am
                </td>
                <td>
                    Mean Socials
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Getaway Driver
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    T
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    8pm-3am
                </td>
                <td class="headingJobTasks">
                    Mean Socials
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Safe Cracker
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    6pm-1am
                </td>
                <td class="headingJobTasks">
                    Upgrade Objects
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    The Brains
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    6pm-1am
                </td>
                <td class="headingJobTasks">
                    Upgrade Objects
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    The Boss
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    5pm-12am
                </td>
                <td class="headingJobTasks">
                    Mean Socials
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Oracle</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    6
                </td>
                <td class="headingJobTitle">
                    Digi Thief
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    1am-9am
                </td>
                <td class="headingJobTasks">
                    Hack/Make Virus
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Elite Hacker
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    2am-10am
                </td>
                <td class="headingJobTasks">
                    Hack/Make Virus
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Anonymous Ghost
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    1am-10am
                </td>
                <td class="headingJobTasks">
                    Hack/Make Virus
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Net Demon
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    1am-8am
                </td>
                <td class="headingJobTasks">
                    Hack/Make Virus
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    The Oracle
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    12am-7am
                </td>
                <td class="headingJobTasks">
                    Hack/make Virus
                </td>
            </tr>
        </table>
    </div>
</div>
