﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Critic</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Paper Deliverer
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    6am-11am
                </td>
                <td>
                    Practice Writing
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Story Researcher
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    10am-5pm
                </td>
                <td>
                    Write Column
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Beat Reporter
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    10am-5pm
                </td>
                <td>
                    Write Column
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Arts</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    4
                </td>
                <td class="headingJobTitle">
                    Snooty Pundit
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-9pm
                </td>
                <td>
                    Review Performance/Write Column
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Show Scout
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    4pm-9pm
                </td>
                <td>
                    Review Performance/Write Column
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Refinned Reviewer
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    4pm-9pm
                </td>
                <td>
                    Review Performance/Write Column
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td class="headingJobTitle">
                    Cultural Connoisseur
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    12pm-5pm
                </td>
                <td>
                    Review Performance/Write Column
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td class="headingJobTitle">
                    Chief Critic
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    12pm-5pm
                </td>
                <td>
                    Review Performance/Write Column
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Syndicated Superstar
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    12pm-5pm
                </td>
                <td class="headingJobTasks">
                    Review Performance/Write Column
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Grand Steward of the Arts
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    12pm-5pm
                </td>
                <td>
                    Review Performance/Write Column
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Food</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    4
                </td>
                <td class="headingJobTitle">
                    Chow Chaser
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    5
                </td>
                <td class="headingJobTitle">
                    Food Stall Frequenter
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    6
                </td>
                <td class="headingJobTitle">
                    Restaurant Rater
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    1pm-7pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Local Gourmand
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    1pm-7pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Expert Epicurean
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    Kitchen's Worst Nightmare
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Curator of the Finest Flavours
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    11am-4pm
                </td>
                <td class="headingJobTasks">
                    Review Food/Drink/Write Column
                </td>
            </tr>
        </table>
    </div>
</div>