﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Culinary</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Assistant Dishwasher
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    4pm-1am
                </td>
                <td>
                    Prepare Food/Mix Drinks
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Head Dishwasher
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    4pm-1am
                </td>
                <td>
                    Prepare Food/Mix Drinks
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Caterer
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    3pm-11pm
                </td>
                <td>
                    Prepare Food/Mix Drinks
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Mixologist
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    6pm-2am
                </td>
                <td>
                    Prepare Food/Mix Drinks
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Line Cook
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    2pm-10pm
                </td>
                <td>
                    Prepare Food/Mix Drinks
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Chef</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@

            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Head Caterer
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    3pm-12am
                </td>
                <td>
                    Prepare Food
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td headingJobTitle>
                    Pastry Chef
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    12pm-5pm
                </td>
                <td>
                    Prepare Food
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td headingJobTitle>
                    Sous Chef
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    8pm-2am
                </td>
                <td>
                    Prepare Food
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Executive Chef
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    5pm-11pm
                </td>
                <td class="headingJobTasks">
                    Prepare Food
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Celebrity Chef
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    12pm-6pm
                </td>
                <td>
                    Prepare Food
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Mixologist</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@

            <tr>
                <td class="headingJobLevel">
                    6
                </td>
                <td class="headingJobTitle">
                    Head Mixologist
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    6pm-1am
                </td>
                <td class="headingJobTasks">
                    Mix Drinks
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Juice Boss
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    7pm-2am
                </td>
                <td class="headingJobTasks">
                    Mix Drinks
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Chief Drink Operator
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    4pm-12am
                </td>
                <td class="headingJobTasks">
                    Mix Drinks
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td class="headingJobTitle">
                    Drinkmaster
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    W
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-12am
                </td>
                <td class="headingJobTasks">
                    Mix Drinks
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td class="headingJobTitle">
                    Celebrity Mixologist
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    W
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    12pm-10pm
                </td>
                <td class="headingJobTasks">
                    Mix Drinks
                </td>
            </tr>
        </table>
    </div>
</div>