﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Detective</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Cadet
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    8am-5pm
                </td>
                <td>
                    2 days activities at work
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Officer
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    8am-5pm
                </td>
                <td>
                    Go to crime scene, go on patrol
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Corporal
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-6pm
                </td>
                <td>
                    Interrogate Suspect
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td class="headingJobTitle">
                    Detective
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-6pm
                </td>
                <td>
                    Solve Case
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Senior Detective
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    9am-6pm
                </td>
                <td>
                    Solve Case
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Sergeant
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    9am-6pm
                </td>
                <td>
                    Solve Case
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td headingJobTitle>
                    Lieutenant
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    9am-6pm
                </td>
                <td>
                    Solve Case
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td headingJobTitle>
                    Captain
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    9am-5pm
                </td>
                <td>
                    Solve Case
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Colonel
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    9am-5pm
                </td>
                <td class="headingJobTasks">
                    Solve Case
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Chief
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    9am-5pm
                </td>
                <td>
                    Go to Work
                </td>
            </tr>
        </table>
    </div>
</div>
