﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Doctor</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Medical Intern
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    7am-3pm
                </td>
                <td>
                    1 day of activities at work
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Orderly
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    7am-3pm
                </td>
                <td>
                    Treat 2 patients
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Medical Assistant
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    8am-4pm
                </td>
                <td>
                    Treat 3 patients
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td class="headingJobTitle">
                    Medical Technologist
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Successfully Diagnose & Treat 1 patients
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Assistant Nurse
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    6am-4pm
                </td>
                <td>
                    Successfully Diagnose & Treat 2 patients
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    R.N.
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    7am-5pm
                </td>
                <td>
                    Successfully Diagnose & Treat 3 patients
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td headingJobTitle>
                    Doctor - GP
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    8am-6pm
                </td>
                <td>
                    Perform surgery on 3 patients
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td class="headingJobTitle">
                    Medical Specialist
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    9am-7pm
                </td>
                <td>
                    Deliver a baby
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Surgeon
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    9am-7pm
                </td>
                <td class="headingJobTasks">
                    Successfully Diagnose and Treat 5 patients
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Chief of Staff
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    9am-7pm
                </td>
                <td>
                    Go to Work
                </td>
            </tr>
        </table>
    </div>
</div>