﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Entertainer</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Amateur Entertainer
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Write Jokes/Practice Music
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Open Mic Seeker
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    5pm-11pm
                </td>
                <td>
                    Write Jokes/Practice Music
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    C_Lister
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    5pm-11pm
                </td>
                <td>
                    Write Jokes/Practice Music
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Opening Act
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    5pm-10pm
                </td>
                <td>
                    Write Jokes/Practice Music
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Comedian</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Jokesmith
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    2pm-8pm
                </td>
                <td>
                    Write jokes/Perform Routines
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Solid Storyteller
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    5pm-12am
                </td>
                <td>
                    Write jokes/Perform Routines
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td class="headingJobTitle">
                    Rising Comedian
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    5pm-12am
                </td>
                <td>
                    Write jokes/Perform Routines
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td class="headingJobTitle">
                    Roast Master
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    4pm-11pm
                </td>
                <td>
                    Write jokes/Perform Routines
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Stand Up Star
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    5pm-12am
                </td>
                <td class="headingJobTasks">
                    Write jokes/Perform Routines
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Show Stopper
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    5pm-11pm
                </td>
                <td>
                    Write jokes/Perform Routines
                </td>
            </tr>

        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Musician</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    5
                </td>
                <td class="headingJobTitle">
                    Jingle Jammer
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    2pm-8pm
                </td>
                <td class="headingJobTasks">
                    Play Instrument
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    6
                </td>
                <td class="headingJobTitle">
                    Serious Musician
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    3pm-9pm
                </td>
                <td class="headingJobTasks">
                    Play Instrument
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Professional Pianist
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-9pm
                </td>
                <td class="headingJobTasks">
                    Play Instrument
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Symphonic String Player
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-9pm
                </td>
                <td class="headingJobTasks">
                    Play Instrument
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    Instrumental Wonder
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-9pm
                </td>
                <td class="headingJobTasks">
                    Play Instrument
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Concert Virtuoso
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    3pm-9pm
                </td>
                <td class="headingJobTasks">
                    Play Instrument
                </td>
            </tr>
        </table>
    </div>
</div>

