﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Painter</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Palette Cleaner
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Art Book Collator
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Hungry Artist
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Watercolour Dabbler
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Canvas Creator
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Imaginative Imagist
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-4pm
                </td>
                <td>
                    Create Paintings
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Master of the Real</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Artist in Residence
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    10am-7pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Professional Painter
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-3pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Illustrious Illustrator
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-3pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    Master of the Real
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    T
                    W
                    T
                    F
                    S
                </td>
                <td class="headingJobHours">
                    10am-3pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Patron of the Arts</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Colour Theory Critic
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    9am-3pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Fine Art Aficionado
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    9am-2pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Composition Curator
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    Patron of the Arts
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    11am-4pm
                </td>
                <td class="headingJobTasks">
                    Create Paintings
                </td>
            </tr>
        </table>
    </div>
</div>
