﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Scientist</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Lab Technician
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Have 2 breakthroughs
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Apprentice Inventor
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Have 4 breakthroughs
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Junior Tinkerer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Have 6 breakthroughs
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td class="headingJobTitle">
                    Serum Sequencer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Have 8 breakthroughs
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Technological Innovator
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    10am-7pm
                </td>
                <td>
                    Have 10 breakthroughs
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Ufologist
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    10am-7pm
                </td>
                <td>
                    Have 12 breakthroughs
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td headingJobTitle>
                    Laboratory Leader
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    10am-7pm
                </td>
                <td>
                    Have 14 breakthroughs
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td class="headingJobTitle">
                    Pioneer of New Technologies
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    10am-7pm
                </td>
                <td>
                    Have 16 breakthroughs
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Mad Scientist
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-7pm
                </td>
                <td class="headingJobTasks">
                    Have 18 breakthroughs
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Extra-terrestrial Explorer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td style="width:15%">
                    10am-7pm
                </td>
                <td>
                    Go to Work
                </td>
            </tr>
        </table>
    </div>
</div>