﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Secret Agent</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Agency Clerk
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    7am-3pm
                </td>
                <td>
                    Browse Intelligence
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Intelligence Researcher
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    7am-3pm
                </td>
                <td>
                    Browse Intelligence
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Agent Handler
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    8am-4pm
                </td>
                <td>
                    Friendly Socials
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Field Agent
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    10am-6pm
                </td>
                <td>
                    Browse Intelligence
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Lead Detective
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Friendly Socials
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Government Agent
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Browse Intelligence
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
                <td>
                    Secret Agent
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    2pm-10pm
                </td>
                <td>
                    Browse Intelligence
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Diamond Agent</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Spy Captain
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    2pm-10pm
                </td>
                <td class="headingJobTasks">
                    Romantic Socials
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Shadow Agent
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    2pm-11pm
                </td>
                <td class="headingJobTasks">
                    Romantic Socials
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Double Diamond Agent
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    9am-12am
                </td>
                <td>
                    Romantic Socials
                </td>
            </tr>

        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Villain</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Double Agent
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    2pm-10pm
                </td>
                <td class="headingJobTasks">
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    [Redacted]
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    6am-1pm
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Supreme Villain
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    2pm-8pm
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
            <tr>
                <td>
                    11
                </td>
                <td>
                    Triple Agent
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    2pm-7pm
                </td>
                <td>
                    Mischief Socials
                </td>
            </tr>
        </table>
    </div>
</div>