﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Social Media</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Media Intern
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-3pm
                </td>
                <td>
                    Update Social Media Status
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Engagement Monkey
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-3pm
                </td>
                <td>
                    Update Social Media Status<br />
                    Have 25 Followers
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Clickbait Writer
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-3pm
                </td>
                <td>
                    Update Social Media Status<br />
                    Have 100 Followers
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Internet Personality</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    4
                </td>
                <td class="headingJobTitle">
                    Simstagram Searcher
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    10am-3pm
                </td>
                <td>
                    Share Jokes with Followers or Troll teh Forums<br />
                    Have 1,000 Followers
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    5
                </td>
                <td class="headingJobTitle">
                    Cat Video Creator
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    10am-3pm
                </td>
                <td>
                    Share Jokes with Followers or Troll teh Forums<br />
                    Have 10,000 Followers
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Niche Broadcaster
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    10am-2pm
                </td>
                <td>
                    Share Jokes with Followers or Troll teh Forums<br />
                    Have 10,000 Followers
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td class="headingJobTitle">
                    Meme Maker
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    10am-2pm
                </td>
                <td>
                    Share Jokes with Followers or Troll teh Forums
                    Have 1 Million Followers
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td class="headingJobTitle">
                    Online A-Lister
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    10am-2pm
                </td>
                <td>
                    Share Jokes with Followers or Troll teh Forums<br />
                    Have 10 million Followers
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Reality Show Contestant
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    10am-2pm
                </td>
                <td class="headingJobTasks">
                    Share Jokes with Followers or Troll teh Forums<br />
                    Have 25 million Followers
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Internet Superstar
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    10am-2pm
                </td>
                <td>
                    Share Jokes with Followers or Troll teh Forums
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Public Relations</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    4
                </td>
                <td class="headingJobTitle">
                    Public Relations Coordinator
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Network with Journalists<br />
                    Have 500 Followers
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    5
                </td>
                <td class="headingJobTitle">
                    Community Manager
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Network with Journalists
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    6
                </td>
                <td class="headingJobTitle">
                    Press Agent
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    
                </td>
                <td class="headingJobTasks">
                    Network with Journalists<br />
                    Have 2,000 Followers
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Account Executive
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Network with Journalists
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Director of Communications
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Network with Journalists<br />
                    Have 5,000 Followers
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    VP of Public Relations
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-3pm
                </td>
                <td class="headingJobTasks">
                    Network with Journalists<br />
                    Have 10,000 Followers
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Spin Doctor
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-3pm
                </td>
                <td class="headingJobTasks">
                    Network with Journalists
                </td>
            </tr>
        </table>
    </div>
</div>
