﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Tech Guru</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Live Chat Support Agent
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    10am-6pm
                </td>
                <td>
                    Play Video Games
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Quality Assurance
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Play Video Games
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Code Monkey
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    10am-7pm
                </td>
                <td>
                    Programming
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Assistant Manager
                </td>
                <td class="faintWeekdays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Programming
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Project Manager
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Programming
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Development Captain
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Programming
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>eSport Gamer</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Vice-President
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    2pm-11pm
                </td>
                <td class="headingJobTasks">
                    Play Video Games
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Pro Gamer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    5pm-12am
                </td>
                <td class="headingJobTasks">
                    Play Video Games
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    APM King/Queen
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    4pm-10pm
                </td>
                <td class="headingJobTasks">
                    Play Video Games
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    Champion Gamer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    4pm-10pm
                </td>
                <td class="headingJobTasks">
                    Play Video Games
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Start-up Entrepreneur</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    The Next Big Thing?
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-5pm
                </td>
                <td class="headingJobTasks">
                    Programming
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Independent Consultant
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Programming
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Dot-Com Pioneer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Programming
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    10
                </td>
                <td class="headingJobTitle">
                    Start Up Genius
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    10am-3pm
                </td>
                <td class="headingJobTasks">
                    Programming
                </td>
            </tr>
        </table>
    </div>
</div>
