﻿
<link href="~/Content/StyleSheets/Max4SimsCareers.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Writer</strong></caption>
            <tr class="headingExtra">
                <th class="headingJobLevel">
                    Job Level
                </th>
                <th class="headingJobTitle">
                    Job Title
                </th>
                <th class="headingJobDays">
                    Days
                </th>
                <th class="headingJobHours">
                    Hours
                </th>
                <th class="headingJobTasks">
                    Daily Task
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Writer’s Assistant
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    11am-7pm
                </td>
                <td>
                    Read Books
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Blogger
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    T
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    11am-7pm
                </td>
                <td>
                    Read Books
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Freelance Article Writer
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Advice Columnist
                </td>
                <td class="faintWeekdays">
                    <span class="activeWeekday">S</span>
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    W
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td>
                    9am-5pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Regular Contributor
                </td>
                <td class="faintWeekdays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td>
                    8am-4pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Author</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th>
                        Job Title
                    </th>
                    <td>
                        Days
                    </td>
                    <th>
                        Hours
                    </th>
                    <th>
                        Daily Task
                    </th>
                </tr>*@

            <tr>
                <td style="width:10%">
                    6
                </td>
                <td class="headingJobTitle">
                    Short Story Writer
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    1pm-9pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    7
                </td>
                <td headingJobTitle>
                    Novelist
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    1pm-8pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
            <tr>
                <td style="width:10%">
                    8
                </td>
                <td headingJobTitle>
                    Fan Favourite
                </td>
                <td class="faintWeekdays headingJobDays">
                    <span class="activeWeekday">S</span>
                    M
                    T
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    12pm-5pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    9
                </td>
                <td class="headingJobTitle">
                    Best Selling Author
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td class="headingJobHours">
                    12pm-5pm
                </td>
                <td class="headingJobTasks">
                    Write Books
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    Creator of Worlds
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    M
                    <span class="activeWeekday">T</span>
                    W
                    T
                    F
                    <span class="activeWeekday">S</span>
                </td>
                <td style="width:15%">
                    12pm-6pm
                </td>
                <td>
                    Write Books
                </td>
            </tr>
        </table>
        <table class="table table-condensed">
            <caption class="captiontext"><strong>Journalist</strong></caption>
            @*<tr class="headingExtra">
                    <th style="width:10%">
                        Job Level
                    </th>
                    <th style="width:40%">
                        Job Title
                    </th>
                    <th style="width:10%">
                        Days
                    </th>
                    <th style="width:15%">
                        Hours
                    </th>
                    <th style="width:25%">
                        Daily Task
                    </th>
                </tr>*@

            <tr>
                <td class="headingJobLevel">
                    6
                </td>
                <td class="headingJobTitle">
                    Page Two Journalist
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-4pm
                </td>
                <td class="headingJobTasks">
                    Write Articles
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    7
                </td>
                <td class="headingJobTitle">
                    Front Page Writer
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">F</span>
                    S
                </td>
                <td class="headingJobHours">
                    8am-3pm
                </td>
                <td class="headingJobTasks">
                    Write Articles
                </td>
            </tr>
            <tr>
                <td class="headingJobLevel">
                    8
                </td>
                <td class="headingJobTitle">
                    Investigative Journalist
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    9am-4pm
                </td>
                <td class="headingJobTasks">
                    Write Articles
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td class="headingJobTitle">
                    Editor in Chief
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    9am-4pm
                </td>
                <td class="headingJobTasks">
                    Write Articles
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td class="headingJobTitle">
                    Scribe of History
                </td>
                <td class="faintWeekdays headingJobDays">
                    S
                    <span class="activeWeekday">M</span>
                    <span class="activeWeekday">T</span>
                    <span class="activeWeekday">W</span>
                    <span class="activeWeekday">T</span>
                    F
                    S
                </td>
                <td class="headingJobHours">
                    10am-4pm
                </td>
                <td class="headingJobTasks">
                    Write Articles
                </td>
            </tr>
        </table>
    </div>
</div>
