﻿
@{
    ViewBag.Title = "Careers";
}

<style>
    .heading {
        font-weight: bold;
        height: 42px;
        background-color: blanchedalmond;
        text-align: center;
    }

    .headingExtra {
        font-weight: bold;
        height: 42px;
        background-color:cornsilk;
        text-align: center;
    }

    .tableRow {
        background-color: whitesmoke;
    }

    .tableRowAlt {
    }
</style>

<script>

    $(document).ready(function () {

        $(".nav li").removeClass("active");
        $('#navbarCareers').addClass('active');

        $("td[id^='Selector']").on('click', function () {

            var tdData = $(this).attr("data-Career");

            if ($("#row_" + tdData + "_Extra").hasClass('hidden')) {
                $("#Selector_" + tdData + "_Image").attr({ src: "/Content/Images/Sims4/arrowUp.png" });
            }
            else {
                $("#Selector_" + tdData + "_Image").attr("src", "/Content/Images/Sims4/arrowDown.png");
            }

            $("#row_" + tdData + "_Extra").toggleClass('hidden');

        });

        $("td[id^='Col']").on('click', function () {

            var urlAction = '@Url.Action("ActionGoesHere","Careers", new { Area = "Max4Sims" })';
            urlAction = urlAction.replace("ActionGoesHere", $(this).attr("data-Career"));

            window.open(urlAction, '_blank');
        });

        $("td[id^='Col']").on('mouseover', function () {
            $(this).css('color', 'blue');
        });

        $("td[id^='Col']").on('mouseover', function () {
            $(this).css('color', 'blue');
            //$(this).css('font-weight', 'bold');
        });

        $("td[id^='Col']").on('mouseout', function () {
            $(this).css('color', 'black');
            //$(this).css('font-weight', 'normal');
        });

    });

</script>

    <h1>Careers</h1>

    <div class="row">
        <div class="col-lg-12">

            <table class="table table-condensed table-bordered">
                <tr class="heading">
                    <th>
                        <!-- selector -->
                    </th>
                    <th>
                        Career
                    </th>
                    <th>
                        Split
                    </th>
                    <th>
                        Track
                    </th>
                    <th>
                        Skills before split
                    </th>
                    <th>
                        Skills after split
                    </th>
                </tr>

                <tr id="row_Astronaut">
                    <td id="Selector_Astronaut" rowspan="2" style="vertical-align:top; width:30px;" data-Career="Astronaut">
                        <img id="Selector_Astronaut_Image"
                             src="~/Content/Images/Sims4/arrowDown.png"
                             style="width:20px; height:20px;" />
                    </td>
                    <td id="Col_Astronaut" rowspan="2" data-Career="Astronaut">
                        Astronaut
                    </td>
                    <td rowspan="2">
                        8
                    </td>
                    <td>
                        Space Ranger
                    </td>
                    <td rowspan="2">
                        Logic (6)<br />
                        Fitness (7)
                    </td>
                    <td rowspan="2">
                        Fitness (10)<br />
                        Rocket Science (4)
                    </td>
                </tr>
                <tr>
                    <td>
                        Interstellar Smuggler
                    </td>
                </tr>

                <!-- astronaut extra details -->

                <tr id="row_Astronaut_Extra" class="hidden" style="border:1px solid lightgray;">
                    <td colspan="6" style="border-left-color:white; border-right-color:white;">
                        <div class="panel panel-default" style="padding:5px;">              
                            @Html.Partial("_Astronaut")
                        </div>
                    </td>
                </tr>

                <tr class="tableRow">
                    <td rowspan="2" width="5%">
                    </td>
                    <td id="Col_Athlete" rowspan="2" data-Career="Athlete">
                        Athlete
                    </td>
                    <td rowspan="2">
                        5
                    </td>
                    <td>
                        Professional Athlete
                    </td>
                    <td rowspan="2">
                        Fitness (4)<br />
                        Charisma (4)
                    </td>
                    <td rowspan="2">
                        Fitness (10)<br />
                        Charisma (8)
                    </td>
                </tr>
                <tr class="tableRow">
                    <td>
                        Bodybuilder
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Business" rowspan="2" data-Career="Business">
                        Business
                    </td>
                    <td rowspan="2">
                        7
                    </td>
                    <td>
                        Management
                    </td>
                    <td rowspan="2">
                        Charisma (4)<br />
                        Logic (4)
                    </td>
                    <td>
                        Charisma (10)<br />
                        Logic (8)
                    </td>
                </tr>
                <tr>
                    <td>
                        Investor
                    </td>
                    <td>
                        Logic (10)<br />
                        Charisma (8)
                    </td>
                </tr>

                <tr class="tableRow">
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Criminal" rowspan="2" data-Career="Criminal">
                        Criminal
                    </td>
                    <td rowspan="2">
                        6
                    </td>
                    <td>
                        Boss
                    </td>
                    <td rowspan="2">
                        Mischief (6)
                    </td>
                    <td>
                        Mischief (10)<br />
                        Handiness (6)
                    </td>
                </tr>
                <tr class="tableRow">
                    <td>
                        Oracle
                    </td>
                    <td>
                        Mischief (10)<br />
                        Programming (8)
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Critic" rowspan="2" data-Career="Critic">
                        Critic
                    </td>
                    <td rowspan="2">
                        4
                    </td>
                    <td>
                        Art
                    </td>
                    <td rowspan="2">
                        Writing(3)
                    </td>
                    <td>
                        Writing(3)<br />
                        Painting (6)<br />
                        Music/Comedy (6)
                    </td>
                </tr>
                <tr>
                    <td>
                        Food
                    </td>
                    <td>
                        Writing (8)<br />
                        Cooking (5)<br />
                        Gourmet Cooking (6)
                    </td>
                </tr>

                <tr class="tableRow">
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Culinary" rowspan="2" data-Career="Culinary">
                        Culinary
                    </td>
                    <td rowspan="2">
                        6
                    </td>
                    <td>
                        Chef
                    </td>
                    <td rowspan="2">
                        Cooking (4)<br />
                        Mixology (4)
                    </td>
                    <td>
                        Cooking (10)<br />
                        Gourmet Cooking (8)
                    </td>
                </tr>
                <tr class="tableRow">
                    <td>
                        Mixologist
                    </td>
                    <td>
                        Mixology (10)<br />
                        Charisma (8)
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Entertainer" rowspan="2" data-Career="Entertainer">
                        Entertainer
                    </td>
                    <td rowspan="2">
                        5
                    </td>
                    <td>
                        Musician
                    </td>
                    <td rowspan="2">
                        Comedy (3)<br />
                        Guitar/Violin (3)
                    </td>
                    <td>
                        Piano (10)<br />
                        Guitar/Violin (8)
                    </td>
                </tr>
                <tr>
                    <td>
                        Comedian
                    </td>
                    <td>
                        Comedy (10)<br />
                        Charisma (8)
                    </td>
                </tr>

                <tr class="tableRow">
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Painter" rowspan="2" data-Career="Painter">
                        Painter
                    </td>
                    <td rowspan="2">
                        7
                    </td>
                    <td>
                        Master of the Real
                    </td>
                    <td rowspan="2">
                        Painting (7)
                    </td>
                    <td>
                        Painting (10)<br />
                        Logic (6)
                    </td>
                </tr>
                <tr class="tableRow">
                    <td>
                        Patron of the Arts
                    </td>
                    <td>
                        Painting (10)<br />
                        Charisma (6)
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Politician" rowspan="2" data-Career="Politician">
                        Politician
                    </td>
                    <td rowspan="2">
                        5
                    </td>
                    <td>
                        Politcian
                    </td>
                    <td rowspan="2">
                        Charisma(4)
                    </td>
                    <td rowspan="2">
                        Charisma (10)
                    </td>
                </tr>
                <tr>
                    <td>
                        Charity Organiser
                    </td>
                </tr>

                <tr class="tableRow">
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_SecretAgent" rowspan="2" data-Career="SecretAgent">
                        Secret Agent
                    </td>
                    <td rowspan="2">
                        8
                    </td>
                    <td>
                        Diamond Agent
                    </td>
                    <td rowspan="2">
                        Logic (6)<br />
                        Charisma (6)
                    </td>
                    <td>
                        Logic (10)<br />
                        Charisma (8)
                    </td>
                </tr>
                <tr class="tableRow">
                    <td>
                        Villain
                    </td>
                    <td>
                        Logic (10)<br />
                        Mischief (6)
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Media" rowspan="2" data-Career="SocialMedia">
                        Social Media
                    </td>
                    <td rowspan="2">
                        4
                    </td>
                    <td>
                        Internet Personality
                    </td>
                    <td rowspan="2">
                        Charisma (2)<br />
                        Comedy/Mischief (3)
                    </td>
                    <td>
                        Charisma (8)<br />
                        Video Gaming (7)<br />
                        Comedy/Mischief (7)
                    </td>
                </tr>
                <tr>
                    <td>
                        Public Relations
                    </td>
                    <td>
                        Charisma (10)<br />
                        Writing (5)
                    </td>
                </tr>

                <tr class="tableRow">
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_TechGuru" rowspan="2" data-Career="TechGuru">
                        Tech Guru
                    </td>
                    <td rowspan="2">
                        7
                    </td>
                    <td>
                        eSport Gamer
                    </td>
                    <td rowspan="2">
                        Video Games (5)<br />
                        Programming (6)
                    </td>
                    <td>
                        Video Games (10)<br />
                        Programming (8)
                    </td>
                </tr>
                <tr class="tableRow">
                    <td>
                        Start Up Entrepreneur
                    </td>
                    <td>
                        Programming (10)<br />
                        Charisma (6)
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" width="5%"></td>
                    <td id="Col_Writer" rowspan="2" data-Career="Writer">
                        Writer
                    </td>
                    <td rowspan="2">
                        6
                    </td>
                    <td>
                        Author
                    </td>
                    <td rowspan="2">
                        Writing (5)
                    </td>
                    <td>
                        Writing (10)<br />
                        Logic (5)
                    </td>
                </tr>
                <tr>
                    <td>
                        Journalist
                    </td>
                    <td>
                        Writing (10)<br />
                        Charisma (5)
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="center-block">
                <div class="btn-group" role="group">
                    @Html.ActionLink("Detective", "Detective", "Careers", new { area = "Max4Sims" }, new { @class = "btn btn-default btn-md", target = "_blank"})
                    @Html.ActionLink("Doctor", "Doctor", "Careers", new { area = "Max4Sims" }, new { @class = "btn btn-default btn-md", target = "_blank"})
                    @Html.ActionLink("Scientist", "Scientist", "Careers", new { area = "Max4Sims" }, new { @class = "btn btn-default btn-md", target = "_blank"})
                </div>
            </div>
        </div>
    </div>

