﻿
@{
    ViewBag.Title = "Auto Mapper";
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<h2>Auto Mapper</h2>
<hr />

<div class="row">
    <div class="cold-lg-12 col-md-12">
        <p>
            <strong>What is it</strong>
            <br />
            An Object-to-Object mapper. Object-to-object mapping is the transforming of an input object of one type into an output object of a different type.
        </p>
        <p>
            <strong>Used for</strong>
            <br />
            Can be used in MVC for mapping Domain objects to View objects (models) thus sperating UI and Domain layers.
        </p>
        <p>
            <strong>Installation</strong>
            <br />
            Auto Mapper is a small third party free licenced application which can be installed (Visual Studio) via NuGet package Manger.
            <br />
            <code>PM> Install-Package AutoMapper</code> 
        </p>
        <p>
            <strong>How to use (MVC)</strong>
            <p>
                1. Create an input and output object.
                <br />
                <pre class="prettyprint" style="width:75%;">

                // Domain model, input object

                namespace WebSite.Domain
                {
                    public class LatestBookMarks
                    {
                        private string _title;
                        private string _url;
                        private DateTime _lastAcess;
                            
                        public string Title
                        {
                            get
                            {
                                return _title;
                            }
                            set
                            {
                                _title = value;
                            }
                        }

                        public string Url
                        {
                            get
                            {
                                return _url;
                            }
                            set
                            {
                                _url = value;
                            }
                        }

                        public DateTime LastAcess
                        {
                            get
                            {
                                return _lastAcess;
                            } 
                            set 
                            {
                                _lastAcess = value;
                            }
                        }
                    }
                }

                // View Model, output object.
                // View model conatins extra properties relating to UI.

                namespace WebSite.ViewModels
                {
                    public class VM_LatestBookMark
                    {
                        public string Title { get; set; }
                        public string Url { get; set; }
                        public DateTime lastAccessed { get; set; }
                        public imgColors color { get; set; }
                            
                        public VM_LatestBookMark() {
                            color = imgColors.None;
                        }
                    }
                }

                    </pre>
                    <small>Objects would normally be in seperate files, could be in seperate projects. In this example the output object will be in a view model within the UI.</small>
                    <br />
                    Auto Mapper matches the objects members using thier names, in this example Title matches Title. Custom mapping can be defined
            </p>
            <p>
                2. Create a Mapping.
                <br />
                This is achieved using a MapperConfiguration or the static Mapper and createMap. This only needs to be done once per application and is usually done at startup.
                <br />
                <pre class="prettyprint" style="width:75%;">

                // AutoMapper configuration, run from gobal.asax Application_Start().

                using AutoMapper;
                using WebSite.ViewModels;
                using WebSite.Domain;

                // note namespace is root of project.

                namespace WebSite
                {
                    public class AutoMapperConfig
                    {
                        public static void RegisterMappers()
                        {
                            // *************************
                            // mappings between DM & VM.
                            // *************************
                            Mapper.Initialize(cfg => cfg.CreateMap&lt;LatestBookMarks, VM_LatestBookMark&gt;());
                        }
                    }
                }
                </pre>
            </p>
            <p>
            3. Mapping (using) the Objects

            <pre class="prettyprint" style="width:75%;">
            // controller
            public ActionResult Bookmarks()
            {
                //domain model, normally would be using DI for repository.
                LatestBookMarks latest = LatestBookMarkRespository.Read();
                //view model
                VM_LatestBookMark vm_latest = Mapper.Map&lt;LatestBookMark&gt;(latest);
            
                return View(vm_latest);
            }
            </pre>
        </p>
        </p>
    </div>
</div>
