﻿
@{
    ViewBag.Title = "CodeSnippets";
}

<style>

    .leftColumn {
        min-height:60px;
        margin-right:5px;
        background-color:aquamarine;
    }

    .rightColumn {
        min-height:60px;
        background-color:lightgray;
    }

    .rowSpacer {
        margin-bottom:10px;
    }

</style>



<h2>CodeSnippets</h2>
<hr />

<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <p>Code Snippet manager, ctrl-K ctrl-B</p>
        <p>Activate (show) snippets, ctrl-K ctrl-X</p>
    </div>
</div>

<div class="row rowSpacer">
    <div class="col-lg-1 col-md-1">
        &nbsp;
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 leftColumn">
        <h3>C#</h3>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 rightColumn">
        &nbsp;
    </div>
</div>

<div class="row rowSpacer">
    <div class="col-lg-1 col-md-1">
        &nbsp;
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 leftColumn">
        <h3>Bootstrap</h3>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 rightColumn">
        &nbsp;
    </div>
</div>

<div class="row rowSpacer">
    <div class="col-lg-1 col-md-1">
        &nbsp;
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 leftColumn">
        <h3>JQuery</h3>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 rightColumn">
        &nbsp;
    </div>
</div>

<!-- EOF -->