﻿
@{
    ViewBag.Title = "Dependency";
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<h2>Dependency Injection</h2>
<hr />

<div class="row">

    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
        <p style="text-align:justify">
            <strong>Dependency Injection</strong> separates the creation of a client's dependencies from the client's behavior, which allows program designs to be loosely coupled following the dependency inversion and single responsibility principles.
        </p>
        <p>
            Dependency injection involves four roles:<br />
            <ol>
                <li>The service object(s) to be used</li>
                <li>The client object that is depending on the services it uses</li>
                <li>The interfaces that define how the client may use the services</li>
                <li>The injector, which is responsible for constructing the services and injecting them into the client</li>
            </ol>
            Any object that may be used can be considered a service. Any object that uses other objects can be considered a client. The names have nothing to do with what the objects are for and everything to do with the role the objects play in any one injection.
        </p>
        <p>
            <strong>Three types of dependency injection</strong><br />
            <br />
            There are at least three ways an object can receive a reference to an external module.
            <br />
            <ol>
                <li>Constructor injection: the dependencies are provided through a class constructor.</li>
                <li>Setter injection: the client exposes a setter method that the injector uses to inject the dependency.</li>
                <li>Interface injection: the dependency provides an injector method that will inject the dependency into any client passed to it. Clients must implement an interface that exposes a setter method that accepts the dependency.</li>
            </ol>
        </p>
    </div>

    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
        <strong>Example</strong>&nbsp;<small>using constructor injection in ASP.NET MVC.</small>
        <br />
        <br />
        <p>
            The following assumes an MVC visual studio solution (WebSite) with a MVC project and a seperate Domain project.<br />
            <br/>
            The example application is going to display railway rolling stock which consists of Locomotives, coaches and Wagons. An item of rolling stock can either be a locomotive, a coach or a wagon with each item having a common set of properties and a unique set of properties.<br />
            <br />
        </p>

        <!-- model -->
        <p>
            <strong>The Models</strong>
            <br /><br />
            The rolling stock model is an abstract class so that it forms the common properties of model but importantly cannot be a model in its own right.
            <br /><br />
            <div style="width:75%;">
                <pre class="prettyprint">

            // filename Rollingstock.cs

            namespace WebSite.Domain
            {
                public abstract class RollingStock
                {
                    private int _indentifier;
                    private int _rollingStockType;
                    private string _productCode;

                    public int Indentifier
                    {
                        get
                        {
                            return _indentifier;
                        }

                        set
                        {
                            _indentifier = value;
                        }
                    }
                
                    public int RollingStockType
                    {
                        get
                        {
                            return _rollingStockType;
                        }

                        set
                        {
                            _rollingStockType = value;
                        }
                    }

                    public string ProductCode
                    {
                        get
                        {
                            return _productCode;
                        }

                        set
                        {
                            _productCode = value;
                        }
                    }
                }
            }

                </pre>
            </div>
            Creating a locomotive model
            <br />
            <div style="width:75%;">
                <pre class="prettyprint">

            // filename : Locomotive.cs

            namespace WebSite.Domain
            {
                public class Locomotive : RollingStock
                {
                    private string _description;
                    private bool _dccReady;
                    private int _dccNumber;
        
                    public bool DccReady
                    {
                        get
                        {
                            return _dccReady;
                        }
                        set
                        {
                            _dccReady = value;
                        }
                    }

                    public int DccNumber
                    {
                        get
                        {
                            return _dccNumber;
                        }
                        set
                        {
                            _dccNumber = value;
                        }
                    }

                    public string Description
                    {
                        get
                        {
                            return _description;
                        }
                        set
                        {
                            _description = value;
                        }
                    }
                }
            }
                </pre>
            </div>
            <br />
            Creating a coach model
            <br />
            <div style="width:75%">
            <div class="prettyprint">
            <pre class="prettyprint">

            </pre>
            </div>
            </div>
            <br/>
            Creating a wagon model
            <br />
            <div style="width:75%">
            <pre class="prettyprint">

            </pre>
            </div>
        </p>

        <!-- repository -->
        <p>
            <strong>Definning Respository</strong>
            <br />
            <br />
            Usually some form of persistence is required for our domain model (data), this will most likely be done through a relational database or document store. Persistence should not be part of the domain model it is an independent or orthogonal concern in the separation of concerns pattern. This means that the code that handles persistence should not be mixed with the code that defines the domain model. The usual way to enforce separation between the domain model and the persistence system is to define repositories. These are object representations of the underlying database (or file store). Rather than work directly with the database, the domain model calls the methods defined by the repository, which in turn makes calls to the database to store and retrieve the model data. This allows us to isolate the model from the implementation of the persistence. The convention is to define separate data models for each aggregate, because aggregates are the natural unit for persistence. 
            <br />
            <br />
            <span>Respository for locomotive</span>
            <br />
            <div style="width:75%;">
                <pre class="prettyprint">
            
            // filename : IRollingStock

            namespace WebSite.Domain
            {
                public interface IRollingStock
                {
                    void Create();

                    void Read();

                    void Update();

                    void Delete();
                }
            }
                </pre>
            </div>
            <div style="width:75%;">
                <pre class="prettyprint">

            // filename : ILocomotive

            namespace WebSite.Domain
            {
                public interface ILocomotive : IRollingStock
                {
                    void CreateLocomotive();
                }
            }
                </pre>
            </div>
            <br />
            Create the repository, Using the interface so that the repository can be loosely coupled (loosely coupled to the MVC controller class) an important feature of the MVC pattern that enables the seperation of concerns. The respository should only be concerned with maintaining persistence and should not contain any application (business, domain model) logic.
            <div style="width:75%">
                <pre>

            // filename : LocomotiveRespository
                            
            namespace WebSite.Domain
            {
                public class LocomotiveRespository : ILocomotive
                {
                    public void Create()
                    {
                        throw new NotImplementedException();
                        // Implement persistence code.
                    }

                    public void CreateLocomotive()
                    {
                        throw new NotImplementedException();
                    }

                    public void Delete()
                    {
                        throw new NotImplementedException();
                    }

                    public void Read()
                    {
                        throw new NotImplementedException();
                    }

                    public void Update()
                    {
                        throw new NotImplementedException();
                    }
                }   
            }
                </pre>
            </div>
            <br />
        </p>

        <!-- Dependency Injection -->
        <p>
            <strong>Using Dependency Injection</strong>
            <br />
            <br />
            Interfaces decouple the components but C# doesn't provide a way of easily creating objects that implement interfaces without creating an instance of the concrete component.
            <br />
            <br />
            &nbsp;&nbsp;<code>ILocomotive locomotive = new Locomotive();</code>
            <br />
            <br />
            The solution to this is called <i>Dependency Injection(DI)</i>, also known as <i>Inversion of Control (IoC)</i>. There are two parts to the DI pattern. First is is to remove any dependancies on concrete classes from components (MVC Controller) by passing implementations of the required interfaces to the class (controller) constructor.
            <br />
            <br />
            &nbsp;&nbsp;
            <code>
            ILocomotive RollingStockRespository;<br />
            <br />
            &nbsp;&nbsp;public LocomotiveController(ILocomotive respositoryParam) {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;RollingStockRespository = respositoryParam;<br />
            &nbsp;&nbsp;}
            </code>
            <br />
            <br />
            The dependency issue is resolved, the dependency will be injected into the constructor of our class (controller) at runtime using a dependency injection container (IoC). The DI conatiner acts a broker between the dependencies a class demands and the concrete implementaion of those dependencies.
            <br/>
            <br />
            <div style="width:75%;">
                <pre class="prettyprint">

                // filename LocomotiveController
                // MVC controller class

                using System.Web.Mvc;
                using WebSite.Domain;

                namespace WebSite.Areas.Trains.Controllers
                {
                    public class LocomotiveController : Controller
                    {
                        ILocomotive LocomotiveRespository;

                        // constructor with dependency paramater
                        public LocomotiveController(ILocomotive respositoryParam) {
                            LocomotiveRespository = respositoryParam;
                        }

                        public ActionResult CreateLocomotive( string LocomotiveName) {
                        
                            LocomotiveRespository.CreateLocomotive();

                            return View();
                        }

                        public ActionResult Index()
                        {
                            return View();
                        }

                        public ActionResult Locomotive()
                        {
                            return View();
                        }
                    }
                }
                </pre>
            </div>

        </p>

        <!-- injection container -->
        <p>
            <strong>Using a Dependency Injection Container</strong>
            <br />
            <br />
            There are serveral DI containers available such as Unity, Ninject.
            <br />
            Using Ninject (open source and available via Nuget), register the interfaces or abstract types our application uses and which concrete classes should be instantiated to satisfy dependencies.
            <br />
            <br />
            <div style="width:75%;">
                <pre class="prettyprint">

            // fielname : NinjectDependencyResolver.cs
            // folder : Infrastructure in MVC project root.

            using System;
            using System.Collections.Generic;
            using System.Web.Mvc;

            using Ninject;

            using System.Configuration;
            using WebSite.Domain;

            namespace WebSite.Infrastructure
            {
                public class NinjectDependencyResolver : IDependencyResolver
                {
                    private IKernel kernel;

                    public NinjectDependencyResolver()
                    {
                        kernel = new StandardKernel();
                        AddBindings();
                    }

                    public object GetService(Type serviceType)
                    {
                        return kernel.TryGet(serviceType);
                    }
                    
                    public IEnumerable&lt;object&gt;(Type serviceType)
                    {
                        return kernel.GetAll(serviceType);
                    }

                    private void AddBindings()
                    {
                        kernel.Bind&lt;ILocomotive&gt;().To&lt;LocomotiveRespository&gt;();
                    }
                }
            }
                </pre>
            </div>

            <div style="width:75%;">
                <pre class="prettyprint">
            using System.Web.Mvc;
            using System.Web.Optimization;
            using System.Web.Routing;
            using WebSite.Infrastructure;

            namespace WebSite
            {
                public class MvcApplication : System.Web.HttpApplication
                {
                    protected void Application_Start()
                    {
                        AreaRegistration.RegisterAllAreas();

                        DependencyResolver.SetResolver(new NinjectDependencyResolver());

                        FilterConfig.RegisterGlobalFilters(GlobalFilters.Filters);
                        RouteConfig.RegisterRoutes(RouteTable.Routes);
                        BundleConfig.RegisterBundles(BundleTable.Bundles);
                    }
                }
            }
                </pre>
            </div>
            <br />
        </p>

    </div>
</div>
