﻿
@{
    ViewBag.Title = "Get Coding";
}

    <div style="background-image:url(../../../../Content/Images/IT.jpg)">
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10" style="min-height:150px;">
                <nav class="navbar navbar-inverse" role="navigation" style="height:95px">

                    <div class="navbar-header">

                        <a class="navbar-brand" href="#">
                            <img src="~/Content/Images/programming_icon.png" height="65" width="65" style="" />
                        </a>

                        <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li id="navbarHome"></li>
                            <li id="navbarA"></li>
                            <li id="navbarB"></li>
                            <li>@Html.ActionLink("Bookmarks", "Bookmarks", "Home", new { area = "Development" }, null)</li>

                            <li id="navbarCollections" class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Bits and Pieces<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Code Snippets", "CodeSnippets", "Home")</li>
                                    <li>@Html.ActionLink("Solid Principles", "Solid", "Home")</li>
                                    <li>@Html.ActionLink("OOP Principles", "OOP", "Home")</li>
                                    <li>@Html.ActionLink("Dependency Injection", "Dependency", "Home")</li>
                                    <li>@Html.ActionLink("Auto Mapper", "AutoMapper", "Home")</li>
                                    <li>@Html.ActionLink("Partial View AJAX", "PartialViewAJAX", "Home")</li>
                                </ul>
                            </li>

                            <li id="navbarCollections" class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Sites<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                                    <li><a href="http://jquery.com/" target="_blank">JQuery</a></li>
                                    <li><a href="http://jqueryui.com/">JQuery UI</a></li>
                                    <li><a href="http://asp.net/" target="_blank">ASP.NET</a></li>
                                    <li><a href="http://fontawesome.io/" target="_blank">Font Awesome</a></li>
                                    <li><a href="http://startbootstrap.com" target="_blank">StartBootstrap</a></li>
                                    <li class="divider"></li>
                                    <li><a href="http://underscorejs.org/">UnderScore</a></li>
                                    <li><a href="https://lodash.com/">Lodash</a></li>
                                    <li><a href="http://backbonejs.org/" target="_blank">Backbone</a></li>
                                    <li><a href="#">WinJS</a></li>
                                    <li><a href="http://www.defiantjs.com/" target="_blank">Defiantjs</a></li>
                                    <li><a href="http://automapper.org/" target="_blank">Auto Mapper</a></li>
                                    <li class="divider"></li>
                                    <li><a href="https://datatables.net/">Datatables</a></li>
                                    <li><a href="http://fullcalendar.io/">Full Calendar</a></li>
                                    <li><a href="http://www.odata.org/" target="_blank">oData</a></li>
                                    <li><a href="http://qtip2.com/" target="_blank">qTip2</a></li>
                                    <li><a href="http://www.flotcharts.org/" target="_blank">Flot</a></li>
                                    <li><a href="#"></a></li>
                                    <li class="divider"></li>
                                    <li><a href="http://wwww.w3schools.com" target="_blank">W3Schools</a></li>
                                    <li><a href="http://tutorialzine.com/" target="_blank">Tutorialzine</a></li>
                                    <li><a href="https://www.javascripting.com/" target="_blank">JavaScripting</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
                <br />
                <div id="PanelLogo" class="row">

                    <div class="col-md-1 col-sm-12 col-xs-12">
                        <!-- spacer -->
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <a href='@Url.Action("JQuery", "JQuery")' class="thumbnail">
                            <img src="~/Content/Images/Logos/jQuery.jpg" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <a href=@Url.Action("HTML", "HTML") class="thumbnail">
                            <img src="~/Content/Images/Logos/HTML5.jpg" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <a href=@Url.Action("Index", "Bootstrap") class="thumbnail">
                            <img src="~/Content/Images/Logos/bootstrap.jpg" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <a href=@Url.Action("ASPNET", "ASPNET") class="thumbnail">
                            <img src="~/Content/Images/Logos/ASPNET.png" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <a href=@Url.Action("JQuery", "JQuery") class="thumbnail">
                            <img src="~/Content/Images/Logos/GIT.png" />
                        </a>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <!-- spacer -->
                    </div>

                </div>

            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
            </div>
        </div>
    </div>

    <div id="WrapperDemo">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="MainPanel"></div>
            </div>
        </div>
    </div>

