﻿
@{
    ViewBag.Title = "OOP";
}

<script>

    $(function () {

        $('#PanelLogo').bind('click', function () {
            $('#PanelLogo').addClass('hidden');
        })
    });

</script>

<h2>Fundamental Principles of OOP</h2>
<hr />

<div class="row">

    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
        <p style="text-align:justify">Object-oriented programming (OOP) is a programming paradigm based on the concept of "objects", which may contain data in the form of fields often known as attributes and code in the form of procedures, often known as methods.</p>
        <p>There are considered to be four major principles of OOP, Encapsulation, Data Abstraction, Polymorphism and Inheritance.</p>
    </div>

</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>

    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        1
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px;min-height:100px;">
        <h3>Encapsulation</h3>
    </div>
</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>

    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        2
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Abstraction</h3>
        <p></p>
    </div>
</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>
    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        3
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Inheritance</h3>
        <p></p>
    </div>
</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    </div>

    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        4
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Polymorphism</h3>
        <p></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-12" style="background-color:white">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1" style="background-color:white;min-height:500px;">
        &nbsp;
    </div>
    <div class="col-lg-10 col-md-10" style="background-color:lightgray;min-height:500px;">
        <h1>1. Encapsulation</h1>
        <p>
            Encapsulation is the process of hiding the internal workings of our classes. That means we specify a public specification, used by consumers of our class, while the actual work is hidden away. 
            The advantage is that a class can change how it works without needing to change its consumers. 
            <br />
            <br />
            In C# we have four access modifiers keywords which enable five ways of controlling code visibility: 
            <ol>
            <li>Private— only visible to the containing class. </li>
                <li>Protected— only visible to the containing class and inheritors. </li>
                <li>Internal— only visible to classes in the same assembly. </li>
                <li>protected internal— only visible to the containing class and inheritors in the same assembly. </li>
                <li>Public— visible to everyone. Let’s say we’re building some class that runs queries on </li>
            </ol>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="background-color:white">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1" style="background-color:white;min-height:500px;">
        &nbsp;
    </div>

    <div class="col-lg-10 col-md-10" style="background-color:lightgray;min-height:500px;">
        <h1>Abstraction</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="background-color:white">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1" style="background-color:white;min-height:500px;">
        &nbsp;
    </div>

    <div class="col-lg-10 col-md-10" style="background-color:aquamarine;min-height:500px;">
        <h1>Inheritance</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="background-color:white">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1" style="background-color:white;min-height:500px;">
        &nbsp;
    </div>

    <div class="col-lg-10 col-md-10" style="background-color:lightgray;min-height:500px;">
        <h1>4. Polymorphism</h1>
        <p>
            Polymorphism means one name, many forms. Polymorphism manifests itself by having multiple methods all with the same name, but slightly different functionality.

            There are 2 basic types of polymorphism.
            Overridding, also called run-time polymorphism. For method overloading, the compiler determines which method will be executed, and this decision is made when the code gets compiled.
            Overloading, which is referred to as compile-time polymorphism. Method will be used for method overriding is determined at runtime based on the dynamic type of an object.
        </p>
    </div>
</div>


