﻿
@{
    ViewBag.Title = "PartialView";
}

<h2>Render Partial View Using jQuery</h2>

<div>
    <p>
        A partial view can be loaded using the JQuery load method. It makes ajax request to a controller action method and loads output to a html control (div).
    </p>
    <p>
        Add a div to a view (cshtml) file as shown below and add a script to load output of action method.
    </p>
    <pre>
    &lt;div id="partialviews"&gt;&lt;/div&gt;
    <br />
    &lt;script type="text/jscript"&gt;     
        $(document).ready(function () {        
            $("#partialviews").load('/Controller/Action');        
    });        
    &lt;/script&gt; 
    </pre>
    <p>
        Add controller action method
    </p>
    <pre>public PartialViewResult GetAddressForjQuery(string category)
{
    return PartialView("_address");
}
                </pre>
    <p>
        It generates below output.
    </p>
    <p>
        <img src="http://dotnetmentors.com/Images/address-partial-view-in-mvc.png" alt="Partial View example in MVC">
    </p>
</div>