﻿
@{
    ViewBag.Title = "Solid Principles";
}

<script>

    $(function () {

        $('#PanelLogo').bind('click', function () {
            $('#PanelLogo').addClass('hidden');
        })
    });

</script>

<h2>SOLID Principles</h2>
<hr />

<div class="row">

    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
        <p style="text-align:justify"><bold>SOLID</bold> is a mnemonic acronym that stands for five basic principles of object-oriented programming and design. The principles when applied together intend to make it more likely that a programmer will create a system that is easy to maintain and extend. The principles of SOLID are guidelines that can be applied while working on software to remove <a href="https://en.wikipedia.org/wiki/Code_smell" target="_blank">code smells</a> by causing the programmer to refactor the software's source code until it is both legible and extensible. It is part of an overall strategy of agile and Adaptive Software Development.</p>
    </div>

</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>

    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        S
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px;min-height:100px;">
        <h3>Single responsibility principle</h3>
        <p></p>
    </div>
</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>

    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        O
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Open/closed principle</h3>
        <p></p>
    </div>
</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>
    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        L
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Liskov substitution principle</h3>
        <p></p>
    </div>
</div>

<div class="row" style="margin-bottom:4px;">

    <div class="col-lg-1 col-md-1">
    </div>

    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        I
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Interface segregation principle</h3>
        <p></p>
    </div>
</div>

<div class="row">

    <div class="col-lg-1 col-md-1">
    </div>

    <div class="col-lg-1 col-md-1" style="background-color:aquamarine; text-align:center;font-size: 500%; min-height:100px;">
        D
    </div>

    <div class="col-lg-9 col-md-9" style="background-color:lightgrey; margin-left:10px; min-height:100px;">
        <h3>Dependency inversion principle</h3>
        <p></p>
    </div>
</div>
