﻿


 /* ***********************************
    Arrowed box 
    Default Style Sheet required to use 
    Arrowed Javascript library.
    *********************************** */

.arrow_box {
    position: relative;
    background: White;
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 200px;
    height: 400px;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 35px; /* position of arrow pointer, could be 50% middle of box */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.arrow_box:after {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: white;
    border-width: 10px;
    margin-top: -10px;
}


.arrow_box:before {
    border-color: rgba(13, 239, 255, 0);
    border-right-color: lightgray;
    border-width: 13px;
    margin-top: -13px;
}
 
/* EOF */