﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDM WebSite</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Area/Development/Development.js"></script>

    <style>
        .logoRow {
            width:150px;
            height:150px;
        }

        .LogoImage {
            position:absolute;
            top:-20px;
            left:10px;
            width:90px;
            height:90px;
        }
    </style>

</head>
<body>

    <div class="container" >

    </div>

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <hr />
            <div class="row" style="background-color:white;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="text-align:center;color:darkgrey;">
                        &copy; @DateTime.Now.Year - DDM Web Development.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
