﻿
@model WebSite.ViewModels.PartialViewVM

<h1>Partial View Here.</h1>

<div>
    <p>Partial view loaded. Load by controller ActionPartial.</p>
</div>

<div>
    <button data-Action="Clear">Clear</button>
</div>

<div>
    @Model.name
    <br />
    @Model.desc
</div>