﻿@model WebSite.Domain.ErrorMessage

<div class="panel-default">
    <div class="panel-heading">
        Error Message
    </div>
    <div class="panel-body">
        @Model.Message
    </div>
</div>
