﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Hello, world</h1>
    <p>Larry is football mad and Larry Loves Liverpool FC.</p>
</div>

