﻿@model WebSite.ViewModels.BookmarksVM

@{
    ViewBag.Title = "Bookmarks";
}

<script src="~/Scripts/Home/bookmarks.js"></script>

<style>
    
    .bookmarkRow {
        width:700px;
    }

    .bookmarkItem {
        width:175px;
        border: 4px solid white;
        background-color:whitesmoke;
    }

    .PopOut {
        right:20px;
        bottom:20px; 
        position: absolute;
    }

</style>

    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right">
                All&nbsp;@Html.CheckBox("ShowAll", false)
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12" style="background-color:white;">
            <table style="margin-left:auto;margin-right:auto;">

                @{ if (ViewBag.ShowLatest != null && ViewBag.ShowLatest)
                    {

                        <tr class="bookmarkRow">
                            <td colspan="5">
                                <h4>Latest Accessed</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="bookmarkItem">
                                <a href="@Model.Url" target="_blank">
                                    <img src="~/content/Images/metro/Pin48-4.png" />
                                    @Model.Title
                                </a>
                                @*@Model.LastAccess*@
                            </td>
                            <td class="bookmarkItem">
                                <a href="#" target="_blank">
                                    <img src="~/content/Images/metro/Pin48-4.png" />

                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="#" target="_blank">
                                    <img src="~/content/Images/metro/Pin48-4.png" />

                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="#" target="_blank">
                                    <img src="~/content/Images/metro/Pin48-4.png" />

                                </a>
                            </td>
                        </tr>
                    }
                }


                @{  if (ViewBag.Show == "Main" || ViewBag.Show == "All")
                    {

                        <tr class="bookmarkRow">
                            <td colspan="5">
                                <h4>Whats On</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="bookmarkItem">
                                <img src="~/content/Images/metro/Clapper-Board.png" />
                                &nbsp;
                                <a href="http://www.sky.com/tv/channel/skycinema/listings" target="_blank">Sky Movies</a>
                            </td>
                            <td class="bookmarkItem"></td>
                            <td class="bookmarkItem"></td>
                            <td class="bookmarkItem"></td>
                        </tr>

                        <tr class="bookmarkRow">
                            <td colspan="5">
                                <h4>Shopping</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="bookmarkItem">
                                <a href="http://www.tesco.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Shopping-Cart.png" />
                                    Tesco
                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.amazon.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Amazon48-4.png" />
                                    Amazon
                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.next.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Hanger.png" />
                                    NEXT
                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.screwfix.com/" target="_blank">
                                    <img src="~/content/Images/metro/Tools.png" />
                                    Screw Fix
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td class="bookmarkItem">
                                <a href="http://www.ebay.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Ebay.png" />
                                    Ebay
                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.diy.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Paint-roller.png" />
                                    B&Q
                                </a>
                            </td>
                            <td class="bookmarkItem"></td>
                            <td class="bookmarkItem">
                                <a href="http://www.cottontraders.com/uk/page/home/" target="_blank">
                                    <img src="~/content/Images/metro/Hanger.png" />
                                    Cotton Traders
                                </a>
                            </td>
                        </tr>

                        <tr class="bookmarkRow">
                            <td colspan="5">
                                <h4>Finance</h4>
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="https://www.firstdirect.com/" tabindex="_blank">
                                    <img src="~/content/Images/metro/Building.png" />
                                    First Direct
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="https://www.mbna.co.uk/" tabindex="_blank">
                                    <img src="~/content/Images/metro/Debit-Card.png" />
                                    MBNA
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="https://www.barclaycard.co.uk/personal/" tabindex="_blank">
                                    <img src="~/content/Images/metro/Credit-Card.png" />
                                    Barclaycard
                                </a>
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.capitalone.co.uk" target="_blank">
                                    <img src="~/content/Images/metro/Credit-Card.png" />
                                    Capital One
                                </a>
                            </td>
                        </tr>

                        <tr class="bookmarkRow">
                            <td colspan="5">
                                <h4>Insurance</h4>
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <img src="~/content/Images/metro/Building.png" />
                                Esure
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <img src="~/content/Images/metro/Debit-Card.png" />
                                Admiral
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;"></td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;"></td>
                        </tr>

                        <tr>
                            <td colspan="5">
                                <h4>News & Weather</h4>
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="http://www.bbc.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/News.png" />
                                    BBC
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="http://http://www.itv.com/news/" target="_blank">
                                    <img src="~/content/Images/metro/News.png" />
                                    ITN
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="http://www.channel4.com/news/" target="_blank">
                                    <img src="~/content/Images/metro/News-Screen.png" />
                                    Channel 4
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="https://news.google.com/news/section?ned=uk&topic=n" target="_blank">
                                    <img src="~/content/Images/metro/Newspaper.png" />
                                    Google news
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="http://www.metoffice.gov.uk/public/weather/forecast/gcrn54stg/" target="_blank">
                                    <img src="~/content/Images/metro/Cloud-Sun.png" />
                                    Met Office
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;"></td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;"></td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;"></td>
                        </tr>

                        <!-- Computers -->
                        <tr>
                            <td colspan="5">
                                <h4>Computer</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="http://www.apple.com/uk/" target="_blank">
                                    <img src="~/content/Images/metro/apple.png" />
                                    Apple
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="Http://www.jigsaw24.com/" target="_blank">
                                    <img src="~/content/Images/metro/Jigsaw.png" />
                                    Jigsaw
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="Http://www.pcworld.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Computer-Desktop.png" />
                                    PC World
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;"></td>
                        </tr>

                        <!-- sport -->
                        <tr>
                            <td colspan="5">
                                <h4>Sport</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="https://www.formula1.com/" target="_blank">
                                    <img src="~/content/Images/metro/Race-Flag.png" />
                                    Formula 1
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="http://www.cricbuzz.com/uk/" target="_blank">
                                    <img src="~/content/Images/metro/Cricket.png" />
                                    Cric Buzz
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                <a href="#" target="_blank">
                                    <img src="~/content/Images/metro/Football.png" />
                                    Football 365
                                </a>
                            </td>
                            <td style="background-color:whitesmoke; border:4px solid white;width:150px;">
                                &nbsp;
                            </td>
                        </tr>
                    }
                }

            </table>
              
            <!-- *********** -->
            <!-- Development -->
            <!-- *********** -->

            @{  if (ViewBag.Area == "Computer" || ViewBag.Show == "All") {

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/content/Images/metro/BitBucket.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://bitbucket.org/" target="_blank">
                                        BitBucket
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Bitbuckett"
                                          data-content="Bitbuckett Website. Git repositories">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/Content/Images/metro/UKHosting.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://hostinguk.net/">
                                        UK Hosting
                                    </a>
                                    <span class="PopOut"
                                            data-item="PopOut"
                                            data-title="UK Hosting"
                                            data-content="Uk Hosting Website, Website hosting.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/content/Images/metro/Drop-box.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://www.dropbox.com/" target="_blank">
                                        Dropbox
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Dropbox"
                                          data-content="Dropbox Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/content/Images/metro/Drop-box.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://www.dropbox.com/" target="_blank">
                                        Dropbox
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Dropbox"
                                          data-content="Dropbox Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>*@
                    </div>

                    <div class="row" >
                    
                        <div class="col-lg-12">
                            <h4>JavaScript Resources</h4>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/content/Images/metro/UKHosting.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://datatables.net/" target="_blank">
                                        DataTables
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Bitbuckett"
                                          data-content="Bitbuckett Website. Git repositories">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/Content/Images/metro/UKHosting.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="http://fullcalendar.io/" target="_blank">
                                        FullCalendar
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Bitbuckett"
                                          data-content="Bitbuckett Website. Git repositories">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }


            <!-- ****** -->
            <!-- trains -->
            <!-- ****** -->

            @{ if (ViewBag.Area == "Trains" || ViewBag.Show == "All") {

                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/content/Images/metro/Train.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="http://www.hornby.co.uk/" target="_blank">
                                        Hornby
                                    </a>
                                    <span class="PopOut"                                          
                                          data-item="PopOut" 
                                          data-title="Hornby"
                                          data-content="Hornby's Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <img src="~/content/Images/metro/Locomotive.png" />
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://www.hattons.co.uk/" target="_blank">
                                        Hattons
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut" 
                                          data-title="Hattons"
                                          data-content="Hattons Online shopping Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <img src="~/Content/Images/metro/Locomotive.png" />
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://railsofsheffield.com/" target="_blank">
                                        Rails of Sheffield
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Rails of Sheffield"
                                          data-content="Rails Online shopping Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <img src="~/content/Images/metro/Train.png" />
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="http://www.bachmann.co.uk/" target="_blank">                                       
                                        Bachmanns
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Bachmanns"
                                          data-content="Bachmans Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <div style="margin-left:auto;margin-right:auto;">
                                        <img src="~/content/Images/metro/Train.png" />
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="http://www.peco-uk.com/" target="_blank">                                       
                                        Peco
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Peco"
                                          data-content="Peco Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <img src="~/content/Images/metro/Locomotive.png" />
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="https://www.dapol.co.uk/" target="_blank">
                                        Dapol
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Dapol"
                                          data-content="Dapol Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <img src="~/Content/Images/metro/Locomotive.png" />
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <a href="http://www.gaugemaster.com" target="_blank">
                                        Gaugemaster
                                    </a>
                                    <span class="PopOut"
                                          data-item="PopOut"
                                          data-title="Gaugemaster"
                                          data-content="Gaugemaster Online shopping Website.">
                                        <small>more ...</small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align:center">
                                    <img src="~/content/Images/metro/Train.png" />
                                </div>
                                <div class="panel-body" style="text-align:center">
                                    <!-- -->
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }

        </div>
    </div>
