﻿
@{
    ViewBag.Title = "Calendar";
}

<link href="~/Scripts/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/defiantjs.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>

<link href="~/Scripts/jquery.qtip.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.qtip.min.js"></script>

<script src="~/Scripts/Home/f1Calendar.js"></script>
<script src="~/Scripts/Home/footballfixturesCalendar.js"></script>

<script>

    $(document).ready(function () {

        var qtooltip = $('#qtooltip').qtip({
            content: {
                text: 'Text Here !!',
                title: {
                    button: true
                }
            },
            position: { my: 'top center', at: 'bottom center', target: $('#displaytooltip') },
            style: 'qtip-bootstrap',
            hide: { event:false,inactive:3000 }
        }).qtip('api');

        /* read f1 calendar json file */

        var calendarEvents = [];
       
        for (var i = 0;i < f1Calendar[0].VEVENT.length; i++)
        {
            var event = {};

            event.title = f1Calendar[0].VEVENT[i].LOCATION;
            event.start = f1Calendar[0].VEVENT[i].DTSTAMP.slice(0, 8);
            event.description = 'F1';
            event.color = 'black';
            event.textColor = "white";
            event.allDay = true;

            calendarEvents[i] = event;
        }

        /* read football fixtures json file */

        var matchdate = 'DTSTART;TZID=Europe/London';
        var search = JSON.search(footballfixturesCalendar, '//*[contains(SUMMARY,"Liverpool")]');

        for (var i = 0; i < search.length; i++)
        {
            var event = {};

            event.title = search[i].SUMMARY;
            event.start = search[i][matchdate];
            event.description = search[i].DESCRIPTION;
            event.color = 'Red';
            event.textColor = "white";
            event.allDay = true;

            calendarEvents[calendarEvents.length] = event;
        }

        $('#calendar').fullCalendar({

            eventClick: function (data, event, view) {

                var content = '<h3>' + data.title + '</h3>' +
                              '<p><b>Start:</b> ' + data.start + '<br />' +
                              (data.end && '<p><b>End:</b> ' + data.end + '</p>' || '');

                qtooltip.set({
                    'content.title': data.title,
                    'content.text': data.description
                }).show(event);
            },

            eventResizeStart: function () { qtooltip.hide() },
            eventDragStart: function () { qtooltip.hide() },
            viewDisplay: function () { qtooltip.hide() },

            weekends: true,
            events: calendarEvents,

        });

    });

</script>

<div id="displaytooltip"></div>

<div class="row">

    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
        <div id='calendar'>
            <!-- calendar goes here -->
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h4>Key</h4>
        <div>Formula One</div>
        <div>Liverpool Fixtures</div>
    </div>

</div>

<div class="row hidden" id="EventDetails">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="DetailsMarkUp"></div>
            </div>
        </div>
    </div>
</div>

@*<div id="qtooltip">Tooltip</div>*@

