﻿
@model WebSite.ViewModels.HomePageVM

@{
    ViewBag.Title = "Home Page";
    ViewBag.Today = DateTime.Now.ToLocalTime().ToShortDateString();
}

<script>

    function googleOnClick() {

        var serachOption = $('#GoogleSearchText').val();
        window.open('http://www.google.co.uk/search?q=' + serachOption);
    }

    $(function () {
        /* event for displaying all matches */
        $('#AllMatches').bind('click', function () {
            window.location.href = '@Url.Content("~/Footie/Fixtures/lfcAllPremiership")';
        });

        $('[data-toggle="popover"]').popover();
    });


</script>

<link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>

@section scripts {
    <script src="~/Scripts/Home/HomePage.js"></script>
}

<br />

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"  style="background-color:none">
        <div id="PanelCalendar">
            <div class="panel panel-default" style="height:130px;">
                <div class="panel-body">
                    <div id="dateTime" style="color:darkslategrey;font-family:'Russo One';font-size:x-large;text-align:center; width:100%;"></div>
                    <div style="color:darkslategrey;text-align:center;">
                        <span style="font-size:x-large;">@ViewBag.Today</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"  style="background-color:none;">
        <div id="PanelQuickLinks">
            <div class="panel panel-default" style="height:130px;">
                <div class="panel-heading">
                    Quick Links
                </div>
                <div class="panel-body">
                    <table style="margin-left:auto;margin-right:auto;">
                        <tr>
                            <td class="bookmarkItem">
                                <a href="http://www.tesco.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Shopping-Cart.png" />
                                    Tesco
                                </a>
                                &nbsp;
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.amazon.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Amazon48-4.png" />
                                    Amazon
                                </a>
                                &nbsp;
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.bbc.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/News.png" />
                                    BBC
                                </a>
                                &nbsp;
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.screwfix.com/" target="_blank">
                                    <img src="~/content/Images/metro/Tools.png" />
                                    Screw Fix
                                </a>
                                &nbsp;&nbsp;
                            </td>
                            <td class="bookmarkItem">
                                <a href="http://www.ebay.co.uk/" target="_blank">
                                    <img src="~/content/Images/metro/Ebay.png" />
                                    Ebay
                                </a>
                                &nbsp;
                            </td>
                            <td class="bookmarkItem">
                                <a href="https://www.bbcgoodfood.com/" target="_blank">
                                    <img src="~/content/Images/metro/News-Screen.png" />
                                    Good Food
                                </a>
                                &nbsp;
                            </td>
                            <td class="bookmarkItem">
                                <a href="https://www.pluralsight.com/" target="_blank">
                                    <img src="~/content/Images/metro/News-Screen.png" />
                                    Pluralsight
                                </a>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:50px;margin-bottom:50px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:none;">       

        <div class="row">

            <!-- badge -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:center;">
                <a href="http://www.liverpoolfc.com/welcome-to-liverpool-fc" target="_blank">
                    <img src="~/Content/Images/splash_crest.png" />
                </a>
                &nbsp;
            </div>

            <!-- next fixture -->
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        @Html.ActionLink("Table   ", "TableStandings", "Football", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Results ", "MatchDays", "Football", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Fixtures", "Fixtures", "Football", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Stats   ", "TableStandings", "Football", null, new { @class = "btn btn-default" })
                    </div>
                </div>
                <div style="text-align:center;">
                    <h1>Next Premiership fixture</h1>
                </div>
                <div style="text-align:center;">
                    @*<h2>@Model.Opponent</h2>
                    <h3>@Model.HomeAway</h3>
                    <h2>@Model.KickOff</h2>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DefaultThirdRow" class="row" style="background-color:none;">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="background-color:none">
        <div id="PanelForecast">
            <div id="PanelWeather" class="panel panel-default" style="height:260px;">
                <div class="panel-heading">
                    <span style="color:darkslategrey;">Today's Weather</span>
                    <span class="glyphicon glyphicon-transfer pull-right" id="ForecastDaysAdvance" style="padding-left:10px;"></span>
                    <span class="glyphicon glyphicon-align-justify pull-right" id="ForecastSummary" style="padding-left:10px;"></span>
                </div>
                <div class="panel-body">

                    <div id="PanelForecastDayNight" style="width:100%; background-color:white;">
                        <div style="text-align:center;">
                            <strong>Today</strong><br />
                            <img id="weatherTodaySymbol" />
                            <span id="weatherToday"></span><br />
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <strong>Tonight</strong><br />
                            <img id="weatherTonightSymbol" />
                            <span id="weatherToNight"></span><br />
                        </div>
                        <div style="text-align:center;">
                            <span style="font-size:xx-small">Forecast created at <span id="forecastTime"></span></span>
                        </div>
                    </div>

                    <div id="PanelForecastSummary"
                            class="hidden"
                            style="font-size:x-small;">
                        <div style="text-align:center">
                            <p style="font-size:small"><strong>Forecast Summary. East Midlands</strong></p>
                        </div>
                        <div>
                            <span id="ForecastSummaryText"></span><br />
                            <span id="ForecastSummaryClose">Close</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:none; height:260px;">
        <div id="panelF1Races" class="panel panel-default" style="height:260px;">
            <div class="panel-heading">
                <span style="color:darkslategrey;">Next F1 race ...</span>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        @Html.ActionLink("Races   ", "Races", "Formula1", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Standings ", "Standings", "Formula1", null, new { @class = "btn btn-default" })
                    </div>
                </div>
                <div style="text-align: center; background-size:cover;">
                    <div style="padding:10px;background-color:whitesmoke; opacity:0.6">
                        <div style="color: rgba(0, 0, 0, 1)">
                            @*<h2>@Model.RaceName</h2>
                            <h3>@Model.RaceVenue</h3>
                            <h3>@Model.RaceWeekend</h3>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="background-color:none; height:260px;">
        <div id="panelBarcaMatches" class="panel panel-default" style="height:260px;">
            <div class="panel-heading">
                <span style="color:darkslategrey;">Whats On ...</span>
            </div>
            <div class="panel-body">
                <div style="text-align:center;">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="WeatherThirdRow" class="row">
    <div class="col-md-12">
        <div id="PanelForecast">
            <div id="PanelWeather" class="panel panel-default" style="height:260px;">

                <div class="panel-heading">
                    <span style="color:darkslategrey;">Five Day Forcast</span>
                    <span class="glyphicon glyphicon-transfer pull-right" id="ForecastDaysAdvanceClose" style="padding-left:10px;"></span>
                </div>

                <div class="panel-body">

                    <div class="col-md-1">&nbsp;</div>

                    <div class="col-md-2">
                        <div id="PanelForecastDayNight_0" style="width:100%; background-color:white;">
                            <div style="text-align:center;">
                                <strong>Today</strong><br />
                                <img id="weatherTodaySymbol_0" /><br />
                                <span id="weatherToday_0"></span><br />
                            </div>
                            <br />
                            <div style="text-align:center;">
                                <strong>Tonight</strong><br />
                                <img id="weatherTonightSymbol_0" /><br />
                                <span id="weatherToNight_0"></span><br />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div id="PanelForecastDayNight_1" style="width:100%; background-color:white;">
                            <div style="text-align:center;">
                                <span id="weatherTodayDay_1"><strong>Today</strong></span>
                                <br />
                                <img id="weatherTodaySymbol_1" /><br />
                                <span id="weatherToday_1"></span><br />
                            </div>
                            <br />
                            <div style="text-align:center;">
                                <span><strong>Tonight</strong></span>
                                <br />
                                <img id="weatherTonightSymbol_1" /><br />
                                <span id="weatherToNight_1"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div id="PanelForecastDayNight_2" style="width:100%; background-color:white;">
                            <div style="text-align:center;">
                                <strong>Today</strong><br />
                                <img id="weatherTodaySymbol_2" /><br />
                                <span id="weatherToday_2"></span><br />
                            </div>
                            <br />
                            <div style="text-align:center;">
                                <strong>Tonight</strong><br />
                                <img id="weatherTonightSymbol_2" /><br />
                                <span id="weatherToNight_2"></span><br />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div id="PanelForecastDayNight_3" style="width:100%; background-color:white;">
                            <div style="text-align:center;">
                                <strong>Today</strong><br />
                                <img id="weatherTodaySymbol_3" /><br />
                                <span id="weatherToday_3"></span><br />
                            </div>
                            <br />
                            <div style="text-align:center;">
                                <strong>Tonight</strong><br />
                                <img id="weatherTonightSymbol_3" /><br />
                                <span id="weatherToNight_3"></span><br />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div id="PanelForecastDayNight_4" style="width:100%; background-color:white;">
                            <div style="text-align:center;">
                                <strong>Today</strong><br />
                                <img id="weatherTodaySymbol_4" /><br />
                                <span id="weatherToday_4"></span><br />
                            </div>
                            <br />
                            <div style="text-align:center;">
                                <strong>Tonight</strong><br />
                                <img id="weatherTonightSymbol_4" /><br />
                                <span id="weatherToNight_4"></span><br />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- spacer -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" 
         style="background-color:none; min-height:5px;" >
    </div>
</div>

<!-- EOF -->