﻿
@model WebSite.ViewModels.WagonsVM

<style>

    .Header {
        font-weight:bold; 
        margin:2px; 
        padding:2px; 
        background-color:none;
    }

    .Description {
        width:30%;
    }

    .Type {
        width:10%
    }

    .Manufacturer {
        width:20%;
    }

    .Catalog {
        width:20%;
    }

    .Qty {
        width:5%;
    }

</style>

<div id="Wrapper-Wagons">
    <div class="row">
        <div class="col-lg-12">

            <table class="table-striped table">
                <thead class="Header">
                    <tr>
                        <td class="Description">Description</td>
                        <td class="Type">Type</td>
                        <td class="Manufacturer">Manufacturer</td>
                        <td class="Catalog">Catalog</td>
                        <td class="Qty">Qty</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wagon in Model.wagons)
                    {
                        <tr>
                            <td>@wagon.Description</td>
                            <td></td>
                            <td></td>
                            <td>@wagon.ProductCode</td>
                            <td>@wagon.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

