﻿

<div id="Wrapper-Wagons">
    <div class="row">
        <div class="col-lg-12">

            <table class="table-striped table">
                <thead style="font-weight:bold; margin:2px; padding:2px; background-color:lightblue;">
                    <tr>
                        <td style="width:30%">Description</td>
                        <td style="width:10%">Type</td>
                        <td style="width:20%">Manufacturer</td>
                        <td style="width:20%">Catalog</td>
                        <td style="width:5%">Qty</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Box Van</td>
                        <td>Hornby</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Open</td>
                        <td>Hornby</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Car transporter</td>
                        <td>Hornby</td>
                        <td></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Ferry Van</td>
                        <td>Hornby</td>
                        <td></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Tanker</td>
                        <td>Hornby</td>
                        <td></td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Container</td>
                        <td>Hornby</td>
                        <td></td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
