﻿
@model WebSite.ViewModels.WagonsVM

@{
    ViewBag.Title = "Wagons";
}

@Html.Partial("_Menu")

<div class="col-lg-12">
    <span style="font-size:xx-large"><strong>Wagons</strong></span>
    <span>
        @Html.ActionLink("Add", "Add", "Locomotive", new { area = "Trains" }, new { @class = "btn btn-default btn-sm pull-right btn-space" })
    </span>
</div>

@if (!Model.HasError)
{
    @Html.Partial("_WagonsModel")
}
