﻿@model WebSite.Areas.Trains.ViewModels.LocomotiveDetailsVM

<!-- partial view to add extra details in locomotives display -->

@if( Model != null ) {
    <tr id="LocomotiveDetails">
        <td colspan="5">
            <table class="table-condensed">
                <tr>
                    <td class="tableCell">Name</td>
                    <td class="tableCell">@Model.Name</td>
                </tr>
                <tr>
                    <td class="tableCell">Manufacturer</td>
                    <td class="tableCell">@Model.manufacturer</td>
                </tr>
                <tr>
                    <td class="tableCell">Description</td>
                    <td class="tableCell">@Model.Description</td>
                </tr>
                <tr>
                    <td class="tableCell">Type</td>
                    <td class="tableCell">@Model.PowerType</td>
                </tr>
                <tr>
                    <td class="tableCell">Classification</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tableCell">Configuration</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tableCell">Decoder</td>
                    <td class="tableCell">@Model.Decoder</td>
                </tr>
            </table>
        </td>
    </tr>
}
