﻿@model WebSite.Areas.Trains.ViewModels.LocomotiveVM

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/trains/Views/Shared/_Layout.cshtml";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script>
  $(function() {
    $('#toggle-trigger').change(function() {
        $("#WrapperDecoder").removeClass("hidden").addClass("show");
    })
  })
</script>

<h2>Add</h2>

@using (Html.BeginForm("Add", "Locomotive", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    <div class="form-group">
        <label for="TextInputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "TextInputName", placeholder = "Enter a Name" })
        </div>
    </div>

    <div class="form-group">
        <label for="TextInputDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", id = "TextInputDescription", placeholder = "Enter a Description" })
        </div>
    </div>

    <div class="form-group">
        <label for="TextInputDescription" class="col-sm-2 control-label">Manufacturer</label>
        <div class="col-sm-4">
            @Html.DropDownListFor(model => model.Manufacturer,
                                  new List<SelectListItem>
                                  {
                                       new SelectListItem{ Text= "Hornby", Value = "1" },
                                       new SelectListItem{ Text= "Bachmann", Value = "2" },
                                       new SelectListItem{ Text= "Heljan", Value = "3" },
                                       new SelectListItem{ Text= "Dapol", Value = "4" },
                                 },
                                 new { @class = "form-control", id = "TextInputManufacturer" })
        </div>
    </div>

    <div id="WrapperDecoderFitted" class="show">
        <div class="form-group">
            <label for="toggle-trigger" class="col-sm-2 control-label">Dcc Decoder Fitted</label>
            <div class="col-sm-1">
                <input id="toggle-trigger" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No">
            </div>
        </div>
    </div>

    <div id="WrapperDecoder" class="hidden">
        <div class="form-group">
            <label for="TextInputDccValue" class="col-sm-2 control-label">DCC Value Identifier</label>
            <div class="col-sm-1">
                @Html.TextBoxFor(model => model.DccValue, new { @class = "form-control", id = "TextInputDccValue", placeholder = "Enter a DCC Identifier Value" })
            </div>
        </div>

        <div class="form-group">
            <label for="TextInputDecoder" class="col-sm-2 control-label">Decoder</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Decoder, new { @class = "form-control", id = "TextInputDecoder", placeholder = "Enter a Description" })
            </div>
        </div>

        <div class="form-group">
            <label for="CheckBoxInputstayALive" class="col-sm-2 control-label">Stay A Live</label>
            <div class="col-sm-4">
                @Html.CheckBoxFor(model => model.StayALive, new { @class = "form-control", id = "CheckBoxInputstayALive", data_toggle = "toggle", data_on = "Yes", data_off = "No" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="TextInputComments" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Comments, new { @class = "form-control", id = "TextInputComments", placeholder = "Enter a Comment" })
        </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    @Html.ActionLink("Cancel", "Locomotive", "Locomotive", null, new { @class = "btn btn-success" })
}

