﻿@model WebSite.Areas.Trains.ViewModels.LocomotivesVM

@{
    ViewBag.Title = "Locomotives";
}

<style>
    .heading {
        font-weight:bold; 
        margin:2px; 
        padding:2px; 
        background-color:lightsteelblue;
    }

    .btn-space {
        margin-right: 5px;
    }

</style>

<style>
    .modal-header, h4, .close {
        background-color: lightsteelblue;
        color: black !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>

<script>

    function ShowLocoDetails(identifier, row) {

        HideLocoDetails();
        var urlAction = '@Url.Action("LocomotiveDetails", "Locomotive", new { area = "trains" })' + '?identifier=' + identifier;

        $.get(urlAction, function (result) {
            row.after(result);
        });
    };

    function ModalLocoDetails(identifier) {

        var urlAction = '@Url.Action("LocomotiveDetails", "Locomotive", new { area = "trains" })' + '?identifier=' + identifier;

        $.get(urlAction, function (result) {
            $("#LocomotiveDetailsContent").html(result);
        });
    };

    function HideLocoDetails() {

        $("#LocomotiveDetails").remove();
    }

    function AmendLocoDetails(identifier, row) {

        ModalLocoDetails(identifier);
    };

    function getRollingStock() {

        /* Ajax call to get data */
    }

    function populateRollingStockDataTable(datatable){
    
        /* ********************************** */
        /*  Array of data 
            could use ajax call to fetch data */
        /* ********************************** */

        rollingStock = [
            ["BR MkII Open Second", "2"],
            ["BR MKII Open Brake", "1"],
            ["BR MKII Buffet", "1"],
        ];

        /* redraw the datatable */
        datatable.clear();
        datatable.rows.add(rollingStock);
        datatable.draw();
    }

    $(document).ready(function () {

        /* Rolling stock array */
        var rollingStock = [];

        $("tr[id^='RowLoco']").on('click', function () {
            ShowLocoDetails($(this).attr('data-locoID'), $(this));
        });

        $("button[name^='BtnAmend']").on('click', function () {
            /* stop other events */
            event.stopPropagation();
            $("#LocomotiveDetails").modal();
            AmendLocoDetails($(this).attr('data-locoID'), $(this))
        });

        $("button[name^='BtnDelete']").on('click', function () {
            /* stop other events */
            event.stopPropagation();
            
        });

        $("button[name^='BtnManage']").on('click', function () {
            /* stop other events */
            event.stopPropagation();
 
            ShowLocoDetails($(this).attr('data-locoID'), $(this));
        });

        $("#BackToList").on('click', function () {
            $("#ListOfLocomotives").removeClass('hidden').addClass('show');
            $("#DetailsOfLocomotive").removeClass('show').addClass('hidden');
        });

        $("tr[id^='RowLoco']").on('mouseover', function () {
            //$(this).css("background-color", "lightblue");
            $(this).css("font-weight","bold")
        });

        $("tr[id^='RowLoco']").on('mouseout', function () {
            //$(this).css("background-color", "white");
            $(this).css("font-weight","normal")
        });

        /* init datatable, global */
        var LocomotivesDataTable = $("#TableOfLocomotives").DataTable({
            paging: true,
            "order": [[3, "desc"]],
        });

        /* init datatable, global */
        var RollingStockDataTable = $('#TableOfRollingStock').DataTable({
            data: rollingStock,
            columns: [
                { title: "Description" },
                { title: "Qty" },
                {
                    title:"Action",
                    data: null,
                    defaultContent: '<button id="BtnAction" class="btn btn-info">Action</button>',
                }
            ]
        });

        $('#TableOfLocomotives').on('draw.dt', function () {

            $("button[name^='ModalActivate']").on('click', function () {

                /* close locomotive details expansion out */
                $("#DetailsOfLocomotive").removeClass().addClass('hidden');

                /* activate modal */
                $("#ModalRollingStock").modal();

                populateRollingStockDataTable(RollingStockDataTable)

                /* bind button event*/
                $("button[id^='BtnAction']").on('click', function () {

                    alert('Action button, modal');
                });
            });
        });

        $('#TableOfRollingStock').on('draw.dt', function () {});

        /* bubbled parent event*/
        $('#ModalRollingStock').on('click', function () {});

        $("button[id^='BtnAction']").on('click', function () {
            /* does work */
            alert('Action button, modal');
        });

        $("button[name^='ModalActivate']").on('click', function () {
            /* stop event propagating to tr(parent) row event */
            event.stopPropagation();

            /* close locomotive details expansion out */
            $("#DetailsOfLocomotive").removeClass().addClass('hidden');

            /* activate modal */
            $("#ModalRollingStock").modal();

            populateRollingStockDataTable(RollingStockDataTable);

            /* bind button event*/
            $('#BtnAction').on('click', function () {

                alert('Action button, modal');
            });
        });
    });

</script>

<div id="ListOfLocomotives" class="show">
    <div class="row">

        <div class="col-lg-12">
            @Html.Partial("_Menu")
            @Html.ActionLink("Add A New Locomotive", "Add", "Locomotive", new { area = "Trains" }, new { @class = "btn btn-default pull-right btn-success" })
        </div>

        <div class="col-lg-12">
            <span style="font-size:xx-large"><strong>Locomotives</strong></span>
        </div>

        <div class="col-lg-12">
            <table id="TableOfLocomotives" class="table-striped table" style="border-bottom:0px;">
                <thead>
                    <tr class="heading">
                        <td>Name</td>
                        <td>Description</td>
                        <td>Manufacturer</td>
                        <td>DCC Id</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var loco in Model.Locomotives)
                    {
                        <tr id="@loco.TableRowID" data-locoId="@loco.Id">
                            <td>@loco.Name</td>
                            <td>@loco.Description</td>
                            <td>@loco.Manufacturer</td>
                            <td>@loco.DccId</td>
                            <td style="text-align:right">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-info" id="BtnAmend-@loco.TableRowID" name="BtnAmend" data-locoId="@loco.Id">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        @*Amend*@
                                    </button>
                                    <button type="button" class="btn btn-success" id="BtnManage-@loco.TableRowID" name="ModalActivate" data-locoId="@loco.Id">
                                        <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                                        @*Manage*@
                                    </button>
                                    <button type="button" class="btn btn-danger" id="BtnDelete-@loco.TableRowID" name="BtnDelete" data-locoId="@loco.Id">
                                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                        @*Delete*@
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="DetailsOfLocomotive" class="hidden">
    <div id="LocoDetails">
        <!-- details go here -->
    </div>
    <div style="margin-bottom:10px;">
        <button id="BackToList" class="btn btn-default btn-sm">Back</button>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="ModalRollingStock" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rolling Stock : Train formations</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="TableOfRollingStock" class="table">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Locomotive details -->

<div class="modal fade" id="LocomotiveDetails" role="dialog">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Locomotive Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="LocomotiveDetailsContent">
                            <!-- content html loaded here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- EOF -->
